[2021-07-17 15:48] Arondight opened #6 "对接原作者新API求助"
在此项目里，原作者写了一个插件[overview](https://github.com/Arondight/Adachi-BOT/blob/master/src/plugins/overview/index.js)用于展示角色的官方数据，在新版本中，原作者[废弃了](https://github.com/SilveryStar/Adachi-BOT/issues/21)此项目该插件使用的API，导致了依然使用旧API 的此项目无法查询新出角色的信息。原作者改用一个新的插件[info](https://github.com/SilveryStar/Adachi-BOT/blob/master/src/plugins/genshin/achieves/info.ts)，在可以展示角色官方数据的基础上，也加入了武器信息的展示。
此项目中对应的插件使用JS+Vue?，原作者的新项目则使用了TS+

[2021-07-18 16:08] 490720818 opened #8 "game_role_id is undefined"
C:\Users\Administrator\Desktop\Adachi-BOT-master\src\utils\detail.js:70
        let { game_role_id, nickname, region, level } = baseInfo;
              ^

TypeError: Cannot destructure property 'game_role_id' of 'baseInfo' as it is und
efined.
    at C:\Users\Administrator\Desktop\Adachi-BOT-master\src\utils\detail.js:70:1
5
    at new Promise (<anonymous>)
    at exports.basePromise (C:\Users\Adm

[2021-07-18 16:56] 490720818 commented on #8
baseInfo可能为空

[2021-07-18 16:56] #8 closed

[2021-07-19 11:11] 490720818 commented on #6
已pr

[2021-07-19 11:33] #6 closed

[2021-07-20 03:37] Arondight opened #12 "服务端本地化"
不确定可行，目前仅有一个想法。

---

## 此项目

- [x] `/baseinfo/overview/${encodeURI(name)}.json`
- [x] `/characters/profile/`
- [x] `/gacha/items/`
- [x] `/gacha/items/background.png`
- [x] `/item/`
- [x] `/item/${this.data.name}.png`
- [x] `/item/lock.png`
- [x] `/item/rarity.png`
- [x] `/module/artifact.png`
- [x] `/module/card-new-bottom.png`
- [x] `/module/card-new-middle.png`
- [x] `/module/card-new-package.

[2021-07-20 10:16] 490720818 commented on #12
不如自己建个OSS

[2021-07-20 10:22] Arondight commented on #12
@490720818 这个我先研究研究，反正看上去也不紧急，我先看看怎么把原作者的服务端资源扒下来

[2021-07-23 16:33] Arondight opened #15 "信息展示有问题"
随便找了个氪佬的号，`107430800`。
![图片](https://user-images.githubusercontent.com/13673702/126813921-93b25bd0-c038-4a09-9823-17a2fa684177.png)

[2021-07-23 17:02] 490720818 commented on #15
漏传了个png，已补

[2021-07-26 02:45] Arondight commented on #15
[code]

[2021-07-26 02:57] 490720818 commented on #15
哪个插件

[2021-07-26 04:22] Arondight commented on #15
@490720818 如图，感觉是最近更改引入的
![D63951D9-0877-4B97-B9D0-39E57354BCBB](https://user-images.githubusercontent.com/13673702/126932756-ceaeb4ab-21f2-4caa-b157-f6a7cfffddc4.png)

[2021-07-26 04:24] 490720818 commented on #15
我直接下载的git代码 没这个问题

[2021-07-26 04:32] Arondight commented on #15
@490720818 嗯，我排查一下

[2021-07-26 07:36] Arondight commented on #15
@490720818 让公司的同事帮忙看了下找到原因了，上午同事帮忙更新bot 的时候设置了`http_proxy`和`https_proxy`，`unset`掉就可以了。恰巧是没有返回预期的数据同时程序不健壮就这样了

[2021-07-26 07:36] #15 closed

[2021-08-02 09:49] Arondight commented on #12
@490720818 今天难得空闲，把[同步脚本](https://github.com/Arondight/Adachi-BOT/blob/master/resources/update.sh)写好了，资源也都提交到[resources](https://github.com/Arondight/Adachi-BOT/tree/master/resources)目录了。虽然说以后还得追着原作者更新，不过至少从整体上看至少有希望和原作者的服务端解绑，成为一个完整的项目了。但是目前问题来了，我不知道如何把已有的 API 改成本地路径，大佬有空闲的话能不能帮忙改改，麻烦大佬了。

如果有缺失的文件麻烦留言一下，我给加上，不过我感觉应该是拉全了。

[2021-08-03 00:53] Arondight commented on #12
@490720818 我查了一下Vue 好像没法用本地，我研究一下怎么用阿里云OSS

[2021-08-03 01:57] Arondight commented on #12
经过测试切换 OSS 后所有功能正常。

[2021-08-05 09:16] Arondight commented on #12
现在所有资源全部请求本地，可能存在一些安全问题，后续处理一下。

[2021-08-05 09:16] #12 closed

[2021-08-10 08:59] Arondight opened #20 "角色的 ID 是哪里查的"
例如`神里绫华`的 ID 是`10000002`，这个在哪个网站能查到？

[2021-08-10 13:39] monsterxcn commented on #20
这里：https://github.com/Arondight/Adachi-BOT/blob/926d4fcf618c70c5e826725267b886c10c2ae662/resources/update.sh#L49-L50

[2021-08-10 15:06] Arondight commented on #20
@monsterxcn 啊这……这注释是我写的，去原作者的 OSS 上查的，我想知道原作者在哪里查的

[2021-08-10 15:20] GaussYuan191 opened #21 "个人信息查询问题"
请问这个可以查询个人的活动信息吗 比如说无相交响诗、风来人这种活动的数据。

[2021-08-10 23:32] Arondight commented on #21
不支持，我没有这个能力，活动没有一个统一的模板，例如一套代码就不好展示无相挑战和塔防活动，每个活动更代码也不现实。

[2021-08-10 23:32] #21 closed

[2021-08-11 02:18] monsterxcn commented on #20
🤣确实，我一看你这 Owner badge 疑惑了

[2021-08-11 03:04] 490720818 commented on #20
https://genshin.honeyhunterworld.com/

[2021-08-11 03:12] Arondight commented on #20
@490720818 这上面没发现额

[2021-08-11 03:16] 490720818 commented on #20
![image](https://user-images.githubusercontent.com/33067490/128964118-f2c7a03d-7a09-4f91-8d4f-4fc79cd0d8ed.png)

[2021-08-11 03:21] Arondight commented on #20
@490720818 我的神，还是你强啊

[2021-08-11 03:43] monsterxcn opened #22 "展示玩家信息不全"
使用 UID 指令查询用户信息时无法显示旅行者名称、旅行者等级和世界等级。

[code]

![](https://cdn.jsdelivr.net/gh/monsterxcn/MyBucket/issue/QQ截图20210811113712.png)

PM2 log 未见报错：

[code]

另外天赋、周本、武器等命令查询后发送的图片太大被压缩后看不太清，尤其是武器突破材料的图片清晰度损失较大，有发送原图的方法吗？

[2021-08-11 03:51] Arondight commented on #22
使用 UID 查询信息的 API 不提供昵称、人物等级和世界等级。使用米游社 ID 查询的 API 提供昵称、人物等级、世界等级。

另外图片发送的就是原图，我这里没有压缩，可以放大。天赋、周本这些命令，是我临时加了个很简单的插件做的，没有做成每日天赋这种，一周的东西挤在一张图上，确实不放大也不好分辨，尤其是武器。以前我是用了别人切好的图，但是维护起来也挺麻烦的，我还没想好怎么做。

[2021-08-11 03:51] #22 closed

[2021-08-11 03:58] 490720818 commented on #22
以前的版本图片可能有问题 目前highway upload没有这个问题

[2021-08-11 09:35] Arondight opened #23 "有什么方法可以方便的批量拿到账号的 Cookie 吗"
现在借了几十个矿号，有用户名、密码，可登录，但是拿 Cookie 太痛苦了

[2021-08-11 09:44] Arondight commented on #23
@490720818 你的 cookie 怎么导入的，一个个用浏览器登录的吗

[2021-08-11 10:03] Arondight opened #24 "做个自我介绍"
我发现没有自我介绍，都会认为拉进来一个哑巴

- [ ] 入群
- [ ] 加好友

[2021-08-11 11:01] Arondight opened #25 "点歌加个权限开关"

[2021-08-11 11:49] monsterxcn commented on #22
wow，确实，刚看了一下图片是很清晰的！

[2021-08-12 01:52] #24 closed

[2021-08-12 02:31] #25 closed

[2021-08-12 02:39] Arondight opened #26 "上线时所有群发送一遍通知"

[2021-08-12 02:45] Arondight commented on #26
怎么判断这个异步的登录已经完成了？

https://github.com/Arondight/Adachi-BOT/blob/70e3636d318dced9859ec2e9cf5507e3f8aadb03/app.js#L39

[code]

[2021-08-12 02:55] Arondight commented on #26
https://github.com/takayama-lily/oicq/issues/151#issuecomment-820073204

oicq 牛批

[2021-08-12 03:35] #26 closed

[2021-08-15 03:13] Arondight opened #27 "增加完整的传话机制"
可以通过 bot，和任意 bot 的好友和群聊通话

- [x] 改进送话功能，群聊显示何群中的何人送话，私聊显示好友送话
- [x] 根据送话的信息，使用其他管理命令回话
- [x] 支持广播、指定广播和指定个人（群）

[2021-08-15 06:20] Arondight opened #28 "加个被禁言过滤"
https://github.com/SilveryStar/Adachi-BOT/issues/30

[2021-08-15 06:26] Arondight opened #29 "增加歇逼模式"
指定群号，歇逼之后停止一切响应。

[2021-08-15 06:28] Arondight commented on #29
上线通知可以换一个文本，但是停止响应命令。

[2021-08-15 06:28] Arondight opened #30 "问好和通知语句改成配置文件"

[2021-08-15 06:32] Arondight commented on #28
https://github.com/SilveryStar/Adachi-BOT/commit/08ac4acbc1b62425915d906ea7197071cbcc466f

[2021-08-15 06:33] Arondight commented on #28
https://github.com/takayama-lily/oicq/blob/0961154c564234befcf906c23fdcb02713436142/index.d.ts#L130

[2021-08-15 06:38] Arondight commented on #29
增加一个单独的歇逼通知配置 #30

[2021-08-15 06:58] Arondight opened #31 "有人加群就会发一声问好"
一定是哪里出错了，应当只有第一次加群和每次上线时才会问好

[2021-08-15 07:16] Arondight commented on #30
端口应该也是可配置的

[2021-08-15 10:24] Arondight commented on #31
https://github.com/takayama-lily/oicq/issues/201

1. 代码中监听了错误的事件，该事件是群有了新成员就会触发，因为 bot 加群也会触发这个事件，所以也实现了加群问好
2. oicq 没有实现该功能，无法监测 bot 群列表是否有新群

更改一下问好的文本，在 bot 入群和新人入群的场景下均能逻辑通顺

[2021-08-15 14:15] Arondight commented on #30
端口没法配置，Vue 里面的不会改

[2021-08-15 18:35] avadiana opened #32 "你好，请问为什么我每次更新BOT后，我的setting和cookie里边的内容就全部被重置了"
除了setting和cookie的内容，绑定的米游社信息也全部消失了，要重新绑定，请问下是什么原因呢

[2021-08-15 22:56] Arondight commented on #32
是按照[说明](https://github.com/Arondight/Adachi-BOT#%E6%9B%B4%E6%96%B0)更新的吗？

[2021-08-16 03:09] #29 closed

[2021-08-16 03:10] #28 closed

[2021-08-16 03:10] #30 closed

[2021-08-16 03:58] Arondight opened #33 "Cookie 查询次数浪费问题"
当前查询 ID，会随机分配到一个 Cookie 上，虽然有缓存，但是同一个 Cookie 在一天之内是可以查询若干次相同 ID 的。当前的策略会造成查询次数的浪费。

- [ ] 确保一天之内某一个 ID 只锁定到一个 Cookie
- [ ] 某个 Cookie 被分配到 30 次时，停止使用该 Cookie
- [ ] 每天单独计算次数，历史数据可以删除

[2021-08-16 09:05] Xm798 opened #34 "响应群消息 <群号> on/off 没有响应？"
如图，管理者发送响应群消息指令无回复
![image](https://user-images.githubusercontent.com/48074861/129539088-a9bd7085-978c-43a1-9da7-0c18790695af.png)

[2021-08-16 09:21] Xm798 commented on #34
`master:
  - ^带话权限 +\d+ +(on|off)$
  - ^点歌权限 +\d+ +(on|off)$
  - ^十连权限 +\d+ +(on|off)$
  - ^圣遗物权限 +\d+ +(on|off)$
  - ^游戏数据权限 +\d+ +(on|off)$
  - ^官方数据权限 +\d+ +(on|off)$
  - ^歇逼 +\d+ +(on|off)$
  - ^刷新卡池 *$`
貌似换成了`歇逼`，但是这样的话，怎样控制某些群消息不响应呢？或者说，只响应指定的群消息

[2021-08-16 09:28] Xm798 opened #35 "重复查询时，数据无法返回"
![image](https://user-images.githubusercontent.com/48074861/129542099-b387eaee-d16c-48b3-b774-5137a43b8b56.png)
[code]

[2021-08-16 09:43] Arondight commented on #35
机器内存多大的，chromium 死掉了

[2021-08-16 09:45] Arondight commented on #34
1. 场景是什么，我这里测试似乎没问题
2. 没做这个功能，没有必要

[2021-08-16 10:02] Arondight commented on #34
哦，command.yml 我测试的命令忘了改了

[2021-08-16 10:05] Arondight commented on #34
歇逼可太草了……

[2021-08-16 10:11] Arondight commented on #35
我下班了，如果你是内存较小的 SSD VPS，可以考虑挂载一个 swap 文件，临时顶替一下内存，也能用。

[2021-08-16 10:14] Xm798 commented on #34
啊这……我仿佛处在精分现场是怎么肥四

[2021-08-16 10:19] Xm798 commented on #35
啊！原来如此，我是Synology拉的虚拟机，内存给到2G就好了。

[2021-08-16 10:19] Xm798 commented on #35
另外有个新的问题，回复 角色 和 武器 都会提示`查询失败，请检查名称是否正确`，是什么原因呢

[2021-08-16 10:31] Arondight commented on #35
首先检查一下命令是否使用正确。

[code]

其次检查[本地文件服务](https://github.com/Arondight/Adachi-BOT#%E5%AE%89%E5%85%A8%E9%97%AE%E9%A2%98)是否正常。

[code]

[2021-08-16 10:48] Xm798 commented on #35
貌似定位到问题了，配置过程中使用`npm_config_proxy`配置了代理服务器，然后查询指令被发送到代理服务器了。
![image](https://user-images.githubusercontent.com/48074861/129552287-24fb6556-9533-48da-b17e-14eb7c625fab.png)
但我不太清楚如何取消代理，`npm config delete proxy`没有起作用。
bash中通过wget在没有代理的情况下可以正常获取文件。

[2021-08-16 10:51] Arondight commented on #35
我明天试一下，我都是怕麻烦直接用的系统软件源中的 Chromium。你如果找到解决方法有空可以回一下，这确实也是个问题。

[2021-08-17 07:00] ixCiel commented on #33
还没等到更新，只好自己改了Orz

[2021-08-17 08:24] Arondight commented on #33
暂时没空搞，工作又忙了，下班我也不碰代码，大佬要是想搞搞欢迎 Pr，我感觉 data/db 下面加个每日更新的数据库就行

[2021-08-17 09:41] avadiana commented on #32
是的，按照大佬您文档里的那个更新命令进行更新的

[2021-08-17 10:25] Arondight commented on #32
`git stash list` 看一哈

[2021-08-17 17:28] Yaklo opened #36 "在windows系统环境下能使用吗"

[2021-08-17 17:32] Yaklo commented on #36
整完了，刚刚看漏了指令导致无法运行不好意思

[2021-08-17 17:32] #36 closed

[2021-08-18 04:07] Arondight opened #37 "添加圣遗物评分功能"
一共两个 API，需要有一张圣遗物的截图。

[code]

---

圣遗物评分

[code]

[2021-08-18 04:14] #23 closed

[2021-08-18 04:38] Arondight commented on #27
忘了加广播了，加个全好友广播和全群广播

[2021-08-20 04:00] Arondight commented on #33
@ixCiel 感谢大老的贡献

[2021-08-20 04:00] #33 closed

[2021-08-21 02:42] MiniGrayGay opened #40 "设置功能默认关闭"
类似十连和圣遗物之类的功能，很多群不太喜欢这样的刷屏，能不能加个某个功能默认新群聊是关闭或者打开的选项

[2021-08-21 04:26] Arondight commented on #40
暂时不会添加。

1. 这样需要一个配置文件，但是 bot 又有一个针对 QQ 或群的动态的权限控制，这两个加在一起，逻辑会乱
2. 默认关闭的话，你又会有一个相反的镜像问题，这是一个逻辑上的死循环

[2021-08-21 04:26] #40 closed

[2021-08-21 08:42] Xm798 commented on #35
不太熟悉nodejs，没搞明白怎么取消之前设置的代理orz，重新用系统源的 Chromium 配置了一下。

[2021-08-21 08:42] Xm798 opened #41 "pm2可以使用pm2-logrotate插件实现日志分割"
当前日志会全部输出到一个log文件中，时间长了体积会非常庞大，不方便查看。建议为pm2启用pm2-logrotate插件，并配置每天4:00自动分割日志，方便管理~

[2021-08-21 08:43] Xm798 commented on #41
当前日志会全部写入到一个log文件中，时间长了体积会非常庞大，不方便查看。建议可以启用pm2-logrotate插件，每天自动分割日志。

[2021-08-21 09:16] Arondight commented on #41
呃…… `pm2` 只是 README 中的部署文档，目的是为了让机器人在断开 SSH 后不退出。`pm2-logrotate` 算是个人可选的进阶方案了，应该不用写到 README 中，步骤太多反而会让人迷惑。

补一个官方[文档](https://github.com/keymetrics/pm2-logrotate/blob/master/README.md)，如果有人对这个功能感兴趣可以自己配置一下。

[2021-08-21 09:18] Arondight commented on #35
(⊙o⊙)… 最近忙的晕头转向，工作还不顺利，这个问题完全被我忘掉了……

[2021-08-23 07:39] 490720818 commented on #35
群晖虚拟化效率太低了，我挂win server上内存占用才100MB

[2021-08-23 11:38] xiguadoudou opened #42 "如何配置多个Cookie"
一个cookie上限之后怎么自己切换下一个，都写在里面他不会自动换，上限了只能手动删

[2021-08-23 11:43] Arondight commented on #42
可以自动切换的，详见 #33

[2021-08-23 11:47] xiguadoudou commented on #42
好的，谢谢了

[2021-08-23 12:52] Arondight commented on #42
之前的策略，是 cookie 池中，每次查询随机到一个 cookie，现在是保证每个 cookie 查满 30 个依次使用，如果代码较旧建议使用最新代码。如果查询出现问题，再查一次就可以了。新代码 cookie 利用率也较高，尽量保持 bot 按时更新。

[2021-08-23 12:54] xiguadoudou commented on #42
我是萌新云端更新没研究明白，只能手动下载替换

[2021-08-23 12:57] Arondight commented on #42
按照 cookie.yml 的注释格式，每行一个 cookie，依次罗列即可，随后重启 bot 就会载入所有 cookie

[2021-08-23 12:58] xiguadoudou commented on #42
这我知道，现在就是不会云端更新

[2021-08-23 16:23] xiguadoudou commented on #42
![7f8264867e0c1c86](https://user-images.githubusercontent.com/89190859/130482579-fb8cd5ab-a6ec-41af-a123-b77611eb7e4e.jpg)
我是这么弄的，但是他还是只会使用一个，就只会读到一个cookie

[2021-08-23 17:12] 490720818 commented on #42
![image](https://user-images.githubusercontent.com/33067490/130488738-ac3c3a0c-8888-4a1d-9468-e7a5ceeaadbd.png)

[2021-08-23 22:33] Arondight commented on #42
@xiguadoudou `#` 开头的行是注释，代表这一行只是说明，没有实际作用，你需要把注释打开，就是把`#`删掉

[2021-08-24 01:50] 490720818 commented on #37
api里这个评分有点离谱的，花和羽毛出的概率一样，评分规则不一样

[2021-08-24 01:55] Arondight commented on #37
权当娱乐吧

[2021-08-24 02:51] #27 closed

[2021-08-24 02:51] #37 closed

[2021-08-24 02:52] Arondight commented on #32
如果有问题请reopen

[2021-08-24 02:52] #32 closed

[2021-08-24 04:41] #31 closed

[2021-08-24 07:09] Xm798 opened #44 "机器人随机挑选群聊发送问好消息"
如图……机器人会随机挑选群聊发送消息“提瓦特第一可爱向你问好,说help开始我们的互动吧!”
![0861E494DFE7C3090F3271EF8642CE0C](https://user-images.githubusercontent.com/48074861/130572437-9677cc97-34ac-4b32-add3-0f0efe2a14e6.jpg)

Config中配置已修改为不发送群通知
[code]

[2021-08-24 07:13] Arondight commented on #44
按照[说明](https://github.com/Arondight/Adachi-BOT#%E6%9B%B4%E6%96%B0)更新即可。

具体原因详见 #31

[2021-08-24 07:13] #44 closed

[2021-08-24 07:25] Xm798 commented on #44
感谢回复！
更新之后出现了新的问题：机器人不会响应任何消息了，但是log可以获取到消息。请问该如何排查定位问题呢？
![image](https://user-images.githubusercontent.com/48074861/130574715-565e0995-0453-49a5-8771-1b5a76533d0b.png)

另外，关于更新之后对于有新成员加群时的提醒有没有开启/关闭的开关呢？
[code]

[2021-08-24 07:30] Arondight commented on #44
是按照说明更新的吗，node modules 也需要更新；新成员提醒当前没有开关，我感觉可以给加一个

[2021-08-24 07:34] Xm798 commented on #44
是的 按照说明更新的

[code]

[2021-08-24 07:38] Arondight commented on #44
`git status *.js config src` 看一下，因为我本地两个 bot 都是好的，上游代码应该是没问题的，看看本地是否有改动呢

[2021-08-24 07:40] Xm798 commented on #44
[code]
help.js是我修改了一下帮助指令

[2021-08-24 07:52] Arondight commented on #44
开关已经加了 https://github.com/Arondight/Adachi-BOT/commit/bed82ecc4f9e9c430e609c477feef44792df3d14

你的问题，代码和上游一致，应该和代码无关，这个我本地测试过的。我说一下流程看看能不能帮到你

1. app.js
2. src/utils/load.js <- command.yml
3. src/plugins/xxx

[2021-08-24 07:53] Arondight commented on #44
如果解决不了，建议备份 data 后重新部署

[2021-08-24 07:55] Xm798 commented on #44
收到！十分感谢您的回复！！我尝试重新部署一下。

[2021-08-24 09:00] 490720818 opened #45 "Windows部署方法"
安装[Node.js](https://nodejs.org/)

git或者下载zip后解压
git clone https://github.com/Arondight/Adachi-BOT.git
cd ./Adachi-BOT/
npm install

配置[config/setting.yml](https://github.com/Arondight/Adachi-BOT/blob/master/config/setting.yml)和[config/cookies.yml](https://github.com/Arondight/Adachi-BOT/blob/master/config/cookies.yml)

npm start

直接运行就行，无需使用pm2，如果非要pm2管理及开机启动请额外安装pm2-windows-service
npm i -g pm2-w

[2021-08-24 09:48] Jasondrain1024 commented on #42
你好，问一下怎么获取这么多的cookie？ 现在自己的cookie太少 群友们玩一会就上限了。。

[2021-08-24 09:50] xiguadoudou commented on #42
一个号获取一个，去多买点号，每个都获取一遍

[2021-08-24 10:04] Arondight commented on #42
某宝一块五一个，163 邮箱的就行，改下邮箱和米游社密码

[2021-08-24 10:44] Arondight commented on #33
老大哥，用了新的 cookie 策略后，经常出现下面的报错，感觉还挺频繁的，是不是策略有啥问题

[code]

[2021-08-24 11:16] xiguadoudou opened #46 "岩本圣遗物错误"
岩本岩套圣遗物图片消失，字对不上
![Uploading S10824-19134651.png…]()

[2021-08-24 11:25] Arondight commented on #46
明天 fix，同步脚本有个数组应该从 0 开始，当前是1

[2021-08-24 14:40] 490720818 opened #47 "圣遗物评分OCR"
参考项目[cocogoat](https://github.com/YuehaiTeam/cocogoat)

[2021-08-24 22:33] Arondight commented on #47
这个做个可配置的吧，我觉得默认走 api 比较好

[2021-08-25 00:53] #46 closed

[2021-08-25 01:03] Arondight commented on #47
我去看了看 coco 的代码，他这个硬编码的列表太草了。

https://github.com/YuehaiTeam/cocogoat/blob/main/src/ArtifactView/recognizeArtifact.ts

我上小学的时候（千年前）就有杂志说人工智能未来取代人类，这也太不靠谱了，认个字都固定老花眼，我对人类的未来感到无比的安心

[2021-08-25 01:10] 490720818 commented on #47
都是这个问题，特调那个api也是会把11.7%认成117%，11.1%认成1.1%。。。

[2021-08-25 01:13] 490720818 commented on #47
做成可修改肯定不合适，只能想办法提高识别率，有些识别错误可以优化掉的

[2021-08-25 01:27] Arondight commented on #47
太强了，我最开始以为你要把 coco 放在 bot 里面，这下子跟着大佬后面学 ocr

[2021-08-25 01:41] 490720818 commented on #47
我之前用过cocogoat这个，错误率很低，实在不行写成api也行的，还有特调那个api看起来没人维护了，新本的圣遗物直接不支持

[2021-08-25 01:52] Arondight commented on #47
写成什么无所谓的，就算直接可以用 coco 的二进制我觉得都没问题，部署起来不要麻烦就可以，如果让用户部署 bot 还要学会部署和配置 coco，那学习成本就太高了，当然能抄抄代码是最好的。

原作者直接用了 docker，不过我觉得还是手动更新对开发者来说舒服一些，现在 bot 也不稳定，三天两头就推个东西，尽量不要增加现在的部署步骤了。

[2021-08-25 02:16] 490720818 opened #48 "发送文件报错"
![image](https://user-images.githubusercontent.com/33067490/130714947-e621d51a-a7f5-4b55-93bd-a9aa25a62a38.png)

[2021-08-25 02:21] 490720818 commented on #48
只有私聊会

[2021-08-25 02:21] #48 closed

[2021-08-25 04:33] Arondight commented on #48
老大哥，dev 分支测了没问题，直接 merge 到 master 就好，我看你有个提交没 merge

[2021-08-25 09:19] Arondight commented on #33
出错的时候，对方发送了一句`米游社`，后台发现两条 Cookie 记录，一条出错，报错和楼上相同，一条正常。

[code]

[2021-08-25 09:56] Arondight opened #49 "有人帮忙规整一下每日菜单吗"
多次遭到投诉[当前菜单](https://github.com/Arondight/Adachi-BOT/blob/69595aa498755273bdc1c8738bc6fa0242ccf996/config/menu.yml)过于沙雕……例如早上吃奶酪啥的。

[2021-08-26 04:40] Arondight opened #50 "武器池出货和游戏规则不符"
如果出一把非 UP 武器，第二把必然是 UP 武器，当前无法做到

![QQ图片20210826123827](https://user-images.githubusercontent.com/13673702/130901596-a1973db5-5962-4608-8496-e7a2c799e5a4.png)

[2021-08-26 13:34] Arondight opened #51 "可能要换新的 DS 了"
https://github.com/Arondight/Adachi-BOT/blob/69595aa498755273bdc1c8738bc6fa0242ccf996/src/utils/api.js#L32-L38

![图片](https://user-images.githubusercontent.com/13673702/130971668-4d7fba9c-4051-4e44-bb50-9fca8dc90713.png)

[2021-08-27 02:43] #50 closed, assigned to Arondight

[2021-08-27 03:03] Arondight opened #52 "查看好友和群"
- [x] 群列表
- [x] 好友列表
- [x] 列表（QQ号），返回`好友：昵称（ID）`或者`群：群名称（ID）`

[2021-08-29 11:28] miao-shi commented on #42
![image](https://user-images.githubusercontent.com/47521506/131248832-a14e0959-ba15-4b67-9840-dba7fe7eee68.png)
请问cookie怎么获取，我在浏览器和手机上抓的都不行

[2021-08-29 11:30] 490720818 commented on #42
浏览器访问https://bbs.mihoyo.com/ys/
登录账号
F12开发者模式
![image](https://user-images.githubusercontent.com/33067490/131248899-4aa4cdb7-307f-42b2-9c6e-387160232590.png)

[2021-08-29 11:39] miao-shi commented on #42
我就是这样抓的，但还是用不了

[2021-08-29 11:40] 490720818 commented on #42
那是不是配置问题格式如下
![image](https://user-images.githubusercontent.com/33067490/131249146-9e0042ce-87ae-4634-97a9-2b5c5367fbc0.png)

[2021-08-29 11:50] miao-shi commented on #42
还是不行，其他插件正在用的cookie（也是米游社的）复制过来也用不了

[2021-08-29 11:55] Arondight commented on #42
看看是不是有中文空格、中文换行符、QQ复制因为表情转换导致的字段丢失等，你这并不是 Cookie 无效，是文件中有非法字符

[2021-08-29 12:49] miao-shi commented on #42
还是不行，各种方法抓的cookie都不行

[2021-08-29 13:10] Arondight commented on #42
`git diff config` 看一看，肯定是你的这个文件出了什么问题

[2021-08-29 14:23] SQSora commented on #49
早餐重新写一份，然后午餐和晚餐用同一个list的数据？

[2021-08-29 14:25] SQSora opened #53 "uid查询用户信息"
建议使用 uid 也应该能够触发UID查询功能

[2021-08-30 02:46] Arondight commented on #53
这个我要想想，最开始我做成大小写敏感是因为

1. 防止聊天内容误触 bot
2. 为了和其他的 bot 区分开，不要多个 bot 响应同一条信息

但是确实也带来一点使用上的不方便

[2021-08-30 02:48] Arondight commented on #49
我觉得可以，午餐和晚餐应该区别不大，规整一下也为了以后写一份更好的菜单做准备，例如每一餐多几个候选项瓜分 100% 的概率，当然也可能不会做，因为这个功能太过娱乐甚至显得有点多余。

[2021-08-30 05:04] SQSora opened #54 "评分时候需要加空格好多人没注意到"
这个理论上不会误触吧

[2021-08-30 05:07] SQSora commented on #53
可以做个判断：有包含UID的聊天内容里面是不是UID+纯数字 内容

[2021-08-30 07:24] Arondight commented on #54
1. 会
2. 这是统一行为，去掉空格的话我会把所有的命令都去掉

我觉得这个可以考虑

[2021-08-30 07:26] Arondight commented on #53
@SQSora 我明白你的意思，最开始我也是想规避掉其他机器人的命令，不过我感觉这个可以再评估一下，大家都用一个命令并不是我的错

[2021-09-01 05:27] iorinoe opened #55 "提示网络环境异常，错误码：237。"
滑动最后一步取出ticket，打开活动页面之后，F12获取ticket，{"result":"0","ticket":"t038-jcKCMfNAmxQ
然后直接输入ticket部分？
输入完之后，提示 [禁止登录]当前上网环境异常，请更换网络环境或在常用设备上登录或 稍后再试。(错误码：237)
试过更换1-5设备，依然都是一样问题。本地直接登录这个账号是没问题的。求教这个是QQ账号问题还是登录的OICQ问题。

[2021-09-01 06:27] Arondight commented on #55
#19

[2021-09-01 06:29] Arondight commented on #55
如果想看原因参考：https://github.com/takayama-lily/oicq/issues/178

[2021-09-03 01:32] Arondight opened #57 "如何为项目制作资源文件"
以下内容来自[资源制作.md](https://github.com/Arondight/Adachi-BOT/blob/master/docs/%E8%B5%84%E6%BA%90%E5%88%B6%E4%BD%9C.md) 。本 Issue 作为文档使用，永不关闭。资源文件制作细节请见 #317 。

---

# 资源制作

## 说明

你可以根据[原神数据库](https://genshin.honeyhunterworld.com/?lang=CN)制作每个卡池的角色，如果有人 PS 很拿手欢迎 PR。几乎所有的素材，都可以在数据库中搜索名称或者他通过左侧的索引找到。[这个网站](https://genshin-impact.fandom.com/wiki/Genshin_Impact_Wiki)中也有大量的素材，可以填充数据库中没有的部分。

## 目录

### 结构

[

[2021-09-03 02:38] Xm798 opened #58 "请问在更改部分文件后如何更新？"
由于修改了部分文件，git pull -p时报错。
[code]

[2021-09-03 02:42] Arondight commented on #58
是按照[说明](https://github.com/Arondight/Adachi-BOT/blob/master/README.md#%E6%9B%B4%E6%96%B0)进行更新的吗？

[2021-09-03 02:44] Xm798 commented on #58
感谢回复！是的，按照说明进行更新。
[code]

[2021-09-03 02:47] Arondight commented on #58
这可能是你本地修改之后已经提交了，只能手动解决冲突了，如果没有`git add`，`git stash`应该不会报错

[2021-09-03 02:49] Xm798 commented on #58
您这么一说我大概明白了，可能是之前在使用VS Code编辑时，不太熟悉vs git插件的界面，点到了类似git add的操作。我去学习一下git的使用方法，尝试解决一下该问题。
感谢解答！

[2021-09-03 02:49] #58 closed

[2021-09-03 03:11] Arondight commented on #57
另，打算制作某个资源，请提交 Issue，可以避免他人的重复劳动

[2021-09-03 04:41] iorinoe commented on #57
意思当前卡池抽出来的有些error，可以通过添加资源制作显示正常了？
还有，看到别人的机器人UID信息还可以显示武器信息，这个应该修改哪里？

[2021-09-03 04:50] iorinoe commented on #49
这个功能群友每日必玩。就是玩多了菜单内容不够丰富了。看看有没有大佬再增加一下菜单。

[2021-09-03 08:46] Arondight commented on #57
@iorinoe
1. 是的，但是目前没有人去做，我也不会 PS，很头疼。
2. 改 Vue 就行，数据在 Json 里面都是有的

[code]

[2021-09-03 10:13] Arondight commented on #51
我这里已经没法用老 DS 了，发什么请求都出错，谁能把这玩意儿换一下吗？

[code]

[2021-09-03 11:17] miao-shi opened #62 "今天不管查什么都是米游社接口报错但是Git里没有报错"
![3~V2XB{UWX7}%DH_@Y4Y(WU](https://user-images.githubusercontent.com/47521506/131997024-b3a05742-3af7-4ee6-8d37-9733803fa18d.png)

[2021-09-03 11:19] Arondight commented on #62
Ref #51

[2021-09-03 12:21] SilveryStar commented on #57
大一刚开学正好撞上版本更新了，事情有点多，oss 资源会在明天中午之前更新完毕，以后版本大概会在更新当天十点前完成，你这边也辛苦了

[2021-09-03 12:27] Arondight commented on #57
大佬现身了，有个老大哥制作了一些资源文件，你可以拿去用。另外 DS 要换了，你知道在哪个解包佬那儿可以抄一个吗？

[2021-09-03 12:42] SilveryStar commented on #57
@Arondight 这得等一段时间了，我也是从别的 repo 那抄的

[2021-09-04 00:01] iorinoe commented on #55
已解决，不过跟说的方式有点不一样。网页可以访问滑动页面，也可以获取ticket，但是输入之后，就是不提示第二步扫码，可能要求真机滑动才让进行下一步。流程如何：

1. 安装https://github.com/mzdluo123/TxCaptchaHelper/releases 这个apk在真机上滑动；
2. 滑动后，会再提示“登录保护我二维码验证地址”，这时候可以复制地址到浏览器，然后用登录该账号的QQ扫码解除保护，原QQ手机端下线。

[2021-09-04 01:20] ixCiel commented on #51
反编译扒拉出一串旧DS代码好像是用于兼容的，只是key似乎不是ASCII了
新DS好像换加密算法了，增加了两个新的.so
`    public static String lk2() {
        int[] arrayOfInt = new int[32];
        arrayOfInt[0] = -88;
        arrayOfInt[1] = -120;
        arrayOfInt[2] = -108;
        arrayOfInt[3] = 162;
        arrayOfInt[4] = 102;
        arrayOfInt[5] = 162;
        arrayOfInt[6] = 174;
        arrayOfInt[7] = 192;
        arrayOfInt[8] = -98;

[2021-09-04 01:32] Arondight commented on #51
@ixCiel 改了下样式，坐等一个路过的老大哥重写一下 `getDS`

[2021-09-04 13:28] Arondight commented on #51
另外根据 https://github.com/Azure99/GenshinPlayerQuery/issues/20#issuecomment-912931997 来看，API 也已经改变

[2021-09-05 17:23] Arondight commented on #51
https://github.com/SilveryStar/Adachi-BOT/commit/bfa75444c28299d60491454989b250eeb7b9ce94

[2021-09-06 02:31] Arondight commented on #51
我照着抄了一个，但是仍然不行，谁帮我看看哪儿出问题了 https://github.com/Arondight/Adachi-BOT/commit/c005718a2d0b57228131218c7fdcec100386ed97

[2021-09-06 03:32] #51 closed

[2021-09-06 03:57] #62 closed

[2021-09-06 04:10] Nigel-NI opened #66 "启动bot时提示 Failed to launch the browser process，发送指令无响应"
启动bot时提示以下错误信息：
[code]
在执行指令是也出现了报错：日志如下（以指令“十连”为例）：
[code]
在进行npm install 时并未见到failed字眼，chromium可以正常下载。想知道该如何解决上述问题，期待得到开发大大的解答，谢谢！

[2021-09-06 04:13] Arondight commented on #66
[code]

你需要自行解决这个依赖问题，或者参考`README.md`使用系统自带的`Chromium`来让包管理器为你解决所有的依赖问题。

[2021-09-06 04:41] Nigel-NI commented on #66
感谢回复，问题已解决。我使用apt install libgbm1安装了有关软件包后就能正常启动了

[2021-09-06 06:34] Arondight commented on #49
当前收到的投诉：

1. 过于沙雕，例如连着两顿黄焖鸡
2. 日常三餐不够丰富
3. 碳水过多？

[2021-09-06 06:37] Arondight commented on #54
Dup #53

[2021-09-06 07:53] xiguadoudou opened #69 "更新ds后cookie需要重新抓吗"

[2021-09-06 08:25] Arondight commented on #69
![图片](https://user-images.githubusercontent.com/13673702/132185204-87efcacb-535f-45fe-bb19-5e35df01889c.png)

我没重新抓

[2021-09-06 08:35] #69 closed

[2021-09-06 09:27] #52 closed

[2021-09-06 09:33] Xia-Se opened #71 "圣遗物的分数是怎么计算的？"
圣遗物的计算方法是否是以暴击率x2加爆伤加攻击力？感觉和其他评分规则计算出的分数不一样

[2021-09-06 09:35] Arondight commented on #71
我也不知道，直接用的可莉特调 Ref #37

[2021-09-06 09:35] #71 closed

[2021-09-06 10:39] Arondight commented on #53
根据群广播的调查结果，此类命令改成大小写不敏感

[2021-09-06 10:41] Arondight commented on #54
根据群广播调查结果，命令维持加空格的传统，但是因为【评分】后跟图片的特殊性，此命令不需要加空格，在代码注释中进行说明并指向此 Issue

[2021-09-06 11:53] monsterxcn commented on #20
今天看到一个深渊数据的网站，这儿的角色 ID 还挺好查的，角色头像图片链接的文件名就是角色 ID。因为统计了使用率，所以角色也全乎了。

https://spiral-abyss.appsample.com/

[2021-09-06 11:59] Arondight commented on #20
原来这里就可以看啊，这网站的12 层竞速天梯榜上还有我的名字，哈哈

[2021-09-06 12:00] 490720818 commented on #20
没出的角色没有

[2021-09-06 20:57] Dragon-Fish commented on #20
原本可以在这里查 [https://webstatic.mihoyo.com/hk4e/gacha_info/cn_gf01/items/zh-cn.json](https://webstatic.mihoyo.com/hk4e/gacha_info/cn_gf01/items/zh-cn.json)

查出来的数据过滤 `item_type` 为 `角色`，`item_id - 1000 + 10000000` 就是角色 id

但！是！怎么看都看得出来它现在不全。

[2021-09-07 01:02] #53 closed

[2021-09-07 01:02] #54 closed

[2021-09-07 01:20] Arondight opened #74 "增加别名机制"
`武器 鱼叉` 直接返回`「渔获」`的图片，不必输入`武器 「渔获」`，就是说别名匹配到直接等效于输入原名，不必返回一堆花里胡哨的猜测名称。

类似的还有角色的别名，`姥爷->迪卢克`、`炸弹人->可莉`这种。

支持多个别名，在`config`下引入配置文件。

[2021-09-07 01:22] Arondight commented on #74
我大致想了一下，为了方便，每个原名设置一个同名的别名，大致的意思如下。

[code]

[2021-09-07 02:06] Arondight commented on #74
还有一个方案，那就是只写必要的别名，查询不到的别名，一律返回原名，这样更好一些，整个配置文件比较简洁

[2021-09-07 02:26] Arondight commented on #74
这个功能我来做，老哥们先不要搞

[2021-09-07 09:34] Arondight commented on #74
我推了个文件，有补充的可以补充一下。

另外添加别名需要把命令配置的正则改成接受字母、数字，在此备忘一下。

[2021-09-07 19:09] citydirector opened #75 "更新执行npm install时报错error code EJSONPARSE"
npm ERR! code EJSONPARSE
npm ERR! path /root/Adachi-BOT/package.json
npm ERR! JSON.parse Unexpected token "<" (0x3C) in JSON at position 478 while parsing near "...   \"pm2\": \"^5.1.0\",\n<<<<<<< Updated upst..."
npm ERR! JSON.parse Failed to parse JSON data.
npm ERR! JSON.parse Note: package.json must be actual JSON, not just JavaScript.

[2021-09-08 00:54] Arondight commented on #75
看看 `npm` 的版本？我两台机器都没问题

[code]

[code]

[2021-09-08 04:20] Arondight commented on #49
![图片](https://user-images.githubusercontent.com/13673702/132446048-5807b4eb-dbb6-48a9-a1f2-497e19e8c91b.png)

[2021-09-08 04:23] SQSora commented on #49
因为你没写上日照烤鸭

[2021-09-08 04:23] #74 closed

[2021-09-08 04:50] Arondight opened #77 "规范的模块 exports"
https://github.com/Arondight/Adachi-BOT/pull/76#discussion_r703999479

虽然我还没搞明白 nodejs 的模块到底咋导入，不过看上去都不够规范

[2021-09-08 06:10] monsterxcn commented on #47
OCR 这个感觉可以用的工具还挺多的：QQ 自带识别文字（试了下对圣遗物识别不好用）、腾讯云 OCR（识别不出圣遗物星级，其他准确率感觉还可以）、百度 OCR、ocr.space，我是从另外一个 Node.js bot [@Tsuk1ko/cq-picsearcher-bot](https://github.com/Tsuk1ko/cq-picsearcher-bot/wiki/%E9%99%84%E5%8A%A0%E5%8A%9F%E8%83%BD#ocr-%E6%96%87%E5%AD%97%E8%AF%86%E5%88%AB) 里看到的。

不怎么懂 Node.js，就用 Python 写了个大概的腾讯云识别然后处理的功能：[@monsterxcn/tencent_ocr_artifact.py](https://gist.github.com/monsterxcn/e67452e5

[2021-09-08 06:24] Arondight commented on #47
@monsterxcn ok，谢谢这位老大哥

[2021-09-08 06:58] Arondight commented on #77
感谢伟大的 LinuxHub

![DBED6331-3EBC-4F0F-9630-A8DADE487A47](https://user-images.githubusercontent.com/13673702/132461384-90b2fb80-9d22-47a1-8999-a07ff9c68e4f.png)

[2021-09-08 08:12] Arondight commented on #75
如果仍然有问题可以r eopen

[2021-09-08 08:12] #75 closed

[2021-09-08 08:14] #77 closed

[2021-09-09 00:08] Arondight opened #80 "项目支持 ESM"
根据我这两个月从零到一的 JS 知识，和观察经验到以下事实。

1. 本项目当前使用的是 CJS，因为 CJS 某些方面的缺陷，现在已经少有新项目使用 CJS 了
2. 还在维护的模块很多已经变成 ESM，我不是很理解 ESM 和 CJS 的关系，但是一个结果就是较新的模块已经无法使用了，`require` 会直接报错
3. 当前大多数项目已经转移到了 TS，它和 JS 的关系据我理解可能像 Qt 之于 CPP，即是 JS 的一个语法扩展（带来了很多好的特性），但是仍然需要编译为 JS 才能被解释

我当前的想法如下。

1. 如果只有 TS 能使用 ESM，那么此项目改为 TS
2. 如果有 CJS 之外其他的 JS 标准能够使用 ESM，那么改用那个支持 ESM 的标准，这样修改可以最小化，但是因为 CJS 风评看上去不好，所以尽量不再使用 CJS
3. 有必要的话项目的文件结构按照新

[2021-09-09 00:36] Arondight commented on #80
这个 [gist](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c) 进行了一个很好的解释，但是我仍然需要更多地知识，最好一个现成的修改示例。

[2021-09-09 01:10] #49 closed

[2021-09-09 02:49] Arondight commented on #80
找到一个自动转换 https://github.com/tbranyen/babel-plugin-transform-commonjs

[2021-09-09 03:56] KinChauAu opened #81 "手机扫码完成后按下 Enter 继续"
![image](https://user-images.githubusercontent.com/38379003/132619946-00704b4b-76c9-461c-9d70-75462224d4ce.png)
没有吐出二维码这里要怎么做呢？

[2021-09-09 04:07] Arondight commented on #81
浏览器访问网址

[2021-09-09 04:21] KinChauAu commented on #81
噢，感谢大佬，
![image](https://user-images.githubusercontent.com/38379003/132621976-5c1e9892-9f65-4503-a769-0c26121eadf0.png)
大佬，还有这个问题，为什么没有返回的，也没有报错

[2021-09-09 04:33] Arondight commented on #81
![图片](https://user-images.githubusercontent.com/13673702/132622994-913bb3b2-f8fc-4637-ac1c-e9210ebba9d0.png)

[2021-09-09 04:40] Arondight commented on #80
当前我借助 babel 实现了自动转换，但是遇到了一个大问题，ESM 不支持动态模块导入，import 后面必须跟字符串，这个问题怎么解决？ @SilveryStar 老大哥知道怎么搞么？

https://github.com/Arondight/Adachi-BOT/blob/e62e4f5734c51b9283bcc13760a4f09c1ab22a0e/src/utils/load.js#L23-L33

https://github.com/Arondight/Adachi-BOT/blob/e62e4f5734c51b9283bcc13760a4f09c1ab22a0e/src/utils/load.js#L60-L70

---

还有个问题就是 js-beautify 为啥老是把注释给上一个语句块？

[code]

->

[code]

[2021-09-09 05:18] KinChauAu commented on #81
![image](https://user-images.githubusercontent.com/38379003/132627082-836432ba-9b86-463e-91af-60b507ce79f0.png)
![image](https://user-images.githubusercontent.com/38379003/132627108-b8607495-72fb-4fec-a7e3-128c186db785.png)
大佬，config/cookies.yml这里的cookies是怎么写的呢？

[2021-09-09 05:22] Arondight commented on #80
我觉得还是不要瞎比搞了，能跑就行，这堆概念看得我都大

[2021-09-09 05:27] Arondight commented on #80
找了个工具，不用改代码 https://www.npmjs.com/package/esm

[2021-09-09 05:35] Arondight commented on #81
#42 不要暴露自己的 Cookie，理论上可以使用你的 Cookie 通过登录米游社，然后游戏内扫码登录游戏。

[2021-09-09 05:56] KinChauAu commented on #81
![image](https://user-images.githubusercontent.com/38379003/132630943-52194d88-655e-41fa-936c-2ca4784adc48.png)
好的，感谢大佬提醒，但是这里看还是报错了
![image](https://user-images.githubusercontent.com/38379003/132631018-c0afa877-000b-482d-ad94-1203e13a3729.png)

[2021-09-09 07:28] Arondight commented on #81
https://github.com/Arondight/Adachi-BOT/issues/42#issuecomment-903958701

[2021-09-09 09:39] KinChauAu commented on #81
大佬，这里看下能否做下README，因为这边测试在其他插件上使用获取到的Cookie都是能使用的，但是在咱们这边一直报错
![image](https://user-images.githubusercontent.com/38379003/132662443-9f162e01-89a0-4aa2-a24e-f91edc6edbb8.png)

[2021-09-09 10:26] Arondight commented on #81
老大哥，是这样的。

1. 你看我发的回复，你把 `米游社COOOKIE` 这几个字删掉
2. pm2 的报错日志会一直显示，上面是最近的错误，下面是最近的输出，显示错误不代表这一次就有错

[2021-09-09 10:27] Arondight commented on #80
我花了一整天终于知道要怎么做了，得删掉分支重做一下，现在的提交太占空间了。

[2021-09-09 13:37] SilveryStar commented on #80
1. `TypeScript` 是 `JavaScript` 的语法超集，主要还是用来补足 `JavaScript` 的不足和 `OOP` 支持
2. 事实上 `TypeScript` 版的新项目在导入插件的时候还是使用的 `CJS` 方式，见[TS文档](https://www.tslang.cn/docs/handbook/modules.html)，在 `Node.js` 中使用 `ESM` 动态导入，需要 `import()` 关键词，见 [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import#dynamic_imports)
3.  关于 「JS 标准的约定或者习俗」，我是纯野路子，不懂，自己凭感觉写的（
4. `js-beautify` 没用过
5. 如果

[2021-09-09 13:52] Arondight commented on #80
@SilveryStar 感谢老大哥，一天天的净面向网友编程了

[2021-09-10 05:01] Arondight commented on #81
@KinChauAu 我知道你是什么问题了，你把 `data/db/cookies.json` 删掉再跑

[2021-09-10 05:07] KinChauAu commented on #81
可以了，感谢大佬，昨天就有研究过这个缓存的问题，发现cookies一直不变，但是没找到具体的

[2021-09-10 05:26] Arondight commented on #81
这个问题需要修一下，不要把格式错误的 cookie 写入数据库

[2021-09-10 06:51] Arondight commented on #80
摸鱼两天才搞完，这玩意儿居然是没意义的，太强了

![548681EB-80B0-47F4-93EB-31E56E587CA8](https://user-images.githubusercontent.com/13673702/132812103-a540d9c4-f9f3-435c-8914-dd806e2f5a06.jpeg)

[2021-09-10 07:47] #80 closed

[2021-09-10 07:55] Arondight opened #83 "错误的 Cookie 被写入数据库导致修改后仍然无法使用"
1. 配置了错误的 CookieA
2. 进行查询 <- CookieA
3. 错误的 CookieA 写入数据库
4. 配置了正确的 CookieB
5. 进行查询 <- CookieA
6. 仍然报错

Ref #81

[2021-09-10 08:05] citydirector commented on #75
今天重新试了一下stash push，然后提示settings.yml和两个包json没有合并

[2021-09-10 08:14] Arondight commented on #42
@miao-shi @490720818 #83 https://github.com/Arondight/Adachi-BOT/issues/81#issuecomment-916632341

[2021-09-10 08:15] Arondight commented on #75
stash 前不要有暂存（add）

[2021-09-10 08:39] 1578339936 opened #85 "如何只响应一个群的消息"
由于本人账号加入了数十个各种类型的群聊，还有一些班级群，在开启机器人后我一些群聊直接踢出，所以能不能只在指定群聊开启机器人。

[2021-09-10 08:42] Arondight opened #86 "配置文件脱离 git"
在 `config/` 目录下，`settings.yml` 和 `cookie.yml` 是期望让用户更改的，但是其他的文件是不希望用户更改的，然后整个 `config/` 都纳入了 `git`，我已经见过太多因为这个原因导致更新出错的问题了。这个方案对最终用户的要求太高了，必须会用 `git`，清楚地知道自己敲得命令是为了什么，大多数用户不具有这个经验。

新方案我没想到一个很完美的，有想法的可以说说。

1. 第一次运行生成配置文件，会有新选项容易被忽略的问题，用户如果不喜欢新选项的默认行为又不知道有新选项，就会很头疼
2. 使用 example 文件，让用户复制一份，新选项写入 example，但是乱七八糟的 `config/` 怎么处理？

[2021-09-10 08:45] Arondight commented on #85
不支持此功能，请申请单独的 QQ 来运行机器人。参考 #40

如果你真的不想申请新 QQ，那你可以用 `响应群消息` 命令一个一个地去关群。

[2021-09-10 08:51] #85 closed

[2021-09-10 08:51] 1578339936 commented on #85
OK吧。。

[2021-09-10 15:37] Xm798 commented on #74
妙啊 前几天刚想开个issue提一下这个需求，今天过来一看竟然加上了，太强了！

[2021-09-10 15:42] Arondight commented on #74
因为我自己查鱼叉打不出来那个括号，我木的办法

[2021-09-10 15:43] Arondight commented on #83
Ref #33 #39

[2021-09-10 15:52] Xm798 commented on #74
需不需要开一个别名补充的issue，刚才想到哪添到哪，感觉有点不太合适，搞得commit有点乱。
又想到一个 北斗-大姐头

[2021-09-10 15:54] Arondight commented on #74
没事，不怕乱

[2021-09-10 16:02] Xm798 opened #88 "更新之后图片变为表情形式发送"
更新之后貌似图片使用动画表情的形式发送了？有点小，不太清楚。
![54D423CE16E06424D2B3028E86151567](https://user-images.githubusercontent.com/48074861/132883242-b95a84ac-11b0-4137-83c2-ac14a3b650c7.jpg)

[2021-09-10 23:16] Arondight commented on #88
https://github.com/takayama-lily/oicq/issues/217

[2021-09-10 23:52] Arondight commented on #57
[内鬼网无了](http://web.archive.org/web/20210910234717/https://genshin.honeyhunterworld.com/2021/09/10/米哈游在试图关闭g-hhw网站/?lang=EN)，我感觉资源不要提前做了 @SilveryStar

[2021-09-11 00:11] Arondight commented on #57
@Xm798

[2021-09-11 03:23] Xm798 commented on #57
悲 没办法提前准备角色材料了

[2021-09-12 02:08] Arondight commented on #57
也不一定，内鬼网正面刚上了，说找了一架无视 DMCA 的网站搬了过去，MHY 也不一定拿这毛妹有啥办法，之前发给 IONOS 的律师函也被转手发给毛妹了，毛妹还给公开挂了起来，总之我感觉内鬼网以后还不好说，撑过去，这件事反而是强势宣传了一波

[2021-09-12 04:53] Arondight commented on #57
看了一眼，正面刚上了，发了个公告迁移完成了，还改了网站的版权说明……

![1](https://user-images.githubusercontent.com/13673702/132972671-ef9377fc-b598-4fa7-b002-2c27dbf4e2c6.png)

![2](https://user-images.githubusercontent.com/13673702/132972673-868b6851-6f77-47a5-9ed1-5c9797da0854.png)

[2021-09-12 12:17] Arondight opened #91 "圣遗物评分属性纠正"
这个 API，总是识别不到小数点 `.` ，拿到数据后看看如果超出了最大值，自动加或者左移小数点，现在评分机制太智障了

[2021-09-13 03:30] #91 closed

[2021-09-13 12:33] xiguadoudou opened #93 "更新问题"
我这个怎么更新不了了
![5b62bcb8cd0637f9](https://user-images.githubusercontent.com/89190859/133084156-964e5f3a-1c82-47a7-b28e-ebcb1d204425.png)

[2021-09-13 13:09] Arondight commented on #93
#86 先手动处理一下吧

[2021-09-14 01:46] #86 closed

[2021-09-14 01:47] Arondight commented on #93
再次更新后配置文件将脱离 git

[2021-09-14 01:47] #93 closed

[2021-09-14 01:48] Arondight commented on #88
#95

[2021-09-14 01:48] #88 closed

[2021-09-14 02:15] Arondight commented on #83
目前我只是写了一个说明 https://github.com/Arondight/Adachi-BOT/commit/2eea48e9787db3d6a8727c759f6d531dd5ef8c99 ，这个 BUG 我有点迷糊

[2021-09-14 02:16] #81 closed

[2021-09-14 02:20] Arondight commented on #83
@ixCiel 老大哥能帮忙看看嘛

[2021-09-14 02:56] Arondight opened #97 "上线后有几率不发送群广播"
https://github.com/Arondight/Adachi-BOT/blob/3315c9dce900a10b34c7b2e9cb1373fa5d6ce7a2/app.js#L86-L96

---

这是不发送群广播的日志。

[code]

---

这是发送群广播的日志。

[code]

[2021-09-14 03:08] Arondight commented on #97
我不理解的就是为什么收到了 `system.online` 事件后还有可能无法发送消息

[2021-09-14 06:51] HYTT0510 opened #98 "有几个意见"
- 抽卡出金时，角色武器立绘会覆盖**抽的数字
- 由于有人恶意调戏机器人，希望可以一键禁止机器人与某个qq互动
- 如果机器人检测到某个qq短时间发送多个指令，自动拉黑该用户
- 再提问一个问题，机器人用什么指令在后台启动
希望作者可以看一下哈

[2021-09-14 08:02] #98 closed

[2021-09-14 08:41] Arondight commented on #97
91b34ead463f3e4b006dfbd4c536403c3c061877 我的天，它什么都没改变

[2021-09-15 03:06] HYTT0510 opened #102 "请问如何添加多个主人"
有时候在群内聊天时  有人不停的发送十连等指令 但是主人不在无法禁用  是否有方法添加多个主人？

[2021-09-15 03:13] Arondight commented on #102
没有，这个倒是可以做一个，而且很简单，就是得考虑一下配置文件的兼容问题

[2021-09-15 03:53] #102 closed

[2021-09-16 06:17] HYTT0510 opened #104 "建议将别名机制引入个人数据查询"
官方数据比如**角色 雷神**可以使用别名   但是 **我的 雷神** 不行

是否可以引用过去

[2021-09-16 06:25] Arondight commented on #104
![图片](https://user-images.githubusercontent.com/13673702/133560744-9a8d26ea-0d28-4d6b-a066-378402648ff6.png)

[2021-09-16 07:56] #104 closed

[2021-09-17 03:47] 2660922348 opened #107 "米游社接口报错: invalid request"
不知道是哪里的问题,是cookie写错了吗？

[2021-09-17 03:48] Arondight commented on #107
不要泄漏 cookie，理论上可以通过 cookie 登录米游社，然后通过扫码登录游戏，历史记录我已经删除

[2021-09-17 03:51] Arondight commented on #107
`git log -2 --pretty=format:'%h %s %d'` 看一下，是不是用的老代码

[2021-09-17 03:54] 2660922348 commented on #107
![image](https://user-images.githubusercontent.com/90884958/133721571-56f7e23e-d31d-490c-a90d-caaccb225724.png)

[2021-09-17 03:59] Arondight commented on #107
代码没问题，检查 cookie 是否合法，如果合法，执行命令 `git checkout ./data/db/cookies.json` 后重启机器人

[2021-09-17 04:11] 2660922348 commented on #107
还是报错

[2021-09-17 04:13] Arondight commented on #107
执行什么命令（请求）时报错的？

[2021-09-17 04:15] 2660922348 commented on #107
米游社账号绑定成功，但发送米游社就报错（米游社接口报错: invalid request）

[2021-09-17 05:24] Arondight commented on #107
`git pull -p`，`git checkout ./data/db/cookies.json`，然后再试一下

[2021-09-17 05:50] 2660922348 commented on #107
更新完还是显示米游社接口报错: invalid request

[2021-09-17 05:55] Arondight commented on #107
呃，Cookie 是有效的吗？

[2021-09-17 07:06] Arondight commented on #83
https://github.com/Arondight/Adachi-BOT/pull/108/files#r710805267

[2021-09-17 09:15] #83 closed

[2021-09-17 09:22] Arondight opened #110 "Cookie 功能优化（数据库清理）"
- [x] 定时删除 `data/db/cookies.json` 中过期（不是今天的）的 Cookie，每小时一次或许合适
- [x] 判断 Cookie 无法使用后，将数据库中的该 Cookie 标记，根据标记判断是否真的使用某个 Cookie

[2021-09-17 09:23] Arondight commented on #110
这样能保证 #83 的情况发生了，也可以过滤掉无效的 Cookie

[2021-09-17 10:23] Nigel-NI opened #112 "使用git pull -p拉取更新时提示冲突"
报错部分如下：
[code]
想请教一下解决方法或者正确的更新方法，感谢。

[2021-09-17 10:25] Arondight commented on #112
[code]

[2021-09-17 10:30] Nigel-NI commented on #112
感谢解答，已解决

[2021-09-17 10:30] #112 closed

[2021-09-17 11:11] Arondight opened #114 "查询自己的深渊不用提供 UID"
已经绑定米游社 ID 的情况下，命令 `深渊` 和 `上期深渊` 直接查询自己的数据。

[2021-09-17 11:21] xiguadoudou opened #115 "启动报错"
今天更新了一下就报错了好多次都会出现这种情况

[2021-09-17 11:24] Arondight commented on #115
报错贴一下

[2021-09-17 11:25] xiguadoudou commented on #115
![Uploading IMG_20210917_192539.jpg…]()

[2021-09-17 11:26] xiguadoudou commented on #115
![IMG_20210917_192539](https://user-images.githubusercontent.com/89190859/133774917-8f884945-b60f-48a5-a824-a8353ec38573.jpg)

[2021-09-17 11:27] Arondight commented on #115
9934 端口占用，你的机器人没关上又开了，如果你实在不知道怎么解决，重启电脑

[2021-09-17 11:30] xiguadoudou commented on #115
![IMG_20210917_192953](https://user-images.githubusercontent.com/89190859/133775499-72c00386-fd6a-4549-8bf3-fbc260f3a998.jpg)
我初始化完停止后再输这个启动会这样

[2021-09-17 11:36] Arondight commented on #115
windows 只要 `npm init` 就能用了，其他控制命令是 Linux 用的

[2021-09-17 11:36] xiguadoudou commented on #115
奥奥

[2021-09-17 11:37] xiguadoudou commented on #115
那之前的npm start呢

[2021-09-17 11:38] Arondight commented on #115
跑起来就行，你用什么命令都可以

[2021-09-17 11:38] #115 closed

[2021-09-17 12:15] Arondight commented on #115
对了，今晚我刚统一改了，`npm start` 不能用了，换成 `npm run init`

[2021-09-17 12:47] #45 closed

[2021-09-18 04:35] Arondight opened #116 "使用 cron 服务定时备份机器人的数据"
这里演示了如何进行定时数据备份，假设操作系统为 `CentOS 8`，并且机器人的目录位于 `/opt/apps/Adachi-BOT/` ，数据要备份到 `/opt/data/Adachi-BOT/` ，如下所示。

[code]

下面的命令使用 `cronie` 每天凌晨四点将 `/opt/apps/Adachi-BOT/data/` 下的数据文件同步到 `/opt/data/Adachi-BOT/data/` 中的 Git 仓库中，并做一个带时间戳的提交。

[code]

[2021-09-18 04:38] Arondight commented on #116
注意使用 `crontab -l` 确认你添加的定时任务，你也可以使用 `crontab -e` 来在一个文本编辑器中交互式地去编辑这些任务。

[2021-09-18 06:15] 490720818 opened #117 "gachaBUG"
![image](https://user-images.githubusercontent.com/33067490/133878362-bb311944-b8c8-45ca-b2c5-a6e28a8c4eab.png)

[2021-09-18 06:24] 490720818 commented on #117
![image](https://user-images.githubusercontent.com/33067490/133878630-b98b56be-4763-4656-a362-84c00417371f.png)

[2021-09-18 06:34] Arondight commented on #117
呃，这个小伙子怎么没写进去 `choice` 字段的，感觉得加个判断，但是没写进去其实是不正常的

[2021-09-18 06:43] Arondight commented on #117
你拉 dev 试试看

[2021-09-18 07:23] #117 closed

[2021-09-18 11:52] 2660922348 commented on #107
隔了一天突然就能用了

[2021-09-18 11:53] #107 closed

[2021-09-18 14:53] Arondight opened #119 "解决深渊数据无法显示几星（或 Chromium 无法显示 emoji）的问题"
你需要安装字体 [googlefonts/noto-emoji](https://github.com/googlefonts/noto-emoji)，然后重启机器人即可。大多数 Linux 发行版都对这个字体有自己的打包，以下演示了 `CentOS 8` 上如何安装该字体。

[code]

---

![图片](https://user-images.githubusercontent.com/13673702/133892841-d0e711f1-7153-48d9-bca3-0a4b8f495128.png)

---

![图片](https://user-images.githubusercontent.com/13673702/133892848-e1abc621-c865-4d8f-b40f-17ca3d7ad225.png)

[2021-09-18 16:06] Arondight opened #120 "如何获取米游社 Cookie"
这里以 `Firefox` 浏览器为例，首先在地址栏输入 `https://bbs.mihoyo.com/ys/`，按下回车键，打开米游社原神社区。

![图片](https://user-images.githubusercontent.com/13673702/133894825-eedbbc8f-d222-4c15-9e8f-045be20fc11c.png)

然后，点击右上角的米游兔图标，登录你要获取 Cookie 的米游社（原神）账号。

![图片](https://user-images.githubusercontent.com/13673702/133894862-38bac3f0-c853-47ec-8576-8a7be300319b.png)

登录成功后，米游兔的图标变为你的米游社论坛头像。

![图片](https://user-images.githubuser

[2021-09-18 16:14] #42 closed

[2021-09-22 02:00] Arondight opened #121 "玩家信息页面展示角色的武器和精炼"
当众丢人警告

[2021-09-22 02:01] Arondight commented on #121
Ref https://github.com/Arondight/Adachi-BOT/issues/57#issuecomment-912250265

[2021-09-22 02:13] #121 closed

[2021-09-22 04:23] HYTT0510 opened #123 "查询时机器人返回“获取 Cookie 失败”"
输入uid查询数据时一部分    提示    **获取 Cookie 失败！**
目前进行的操作是

停止机器人后删除data/db/cookies.json
git checkout ./data/db/cookies.json
获取新cookie
重启  依然是此问题
![image](https://user-images.githubusercontent.com/46914653/134283232-e027668e-4614-44d2-81c9-4770a7432c72.png)

[2021-09-22 05:09] Arondight commented on #114
`uid` 也改成此规则。

[2021-09-22 05:16] Arondight commented on #123
检查你的 `cookies.yml` 中是否有的 Cookie 没有 `ltoken=` 和 `cookie_token=` 字段。

https://github.com/Arondight/Adachi-BOT/blob/d07150fc10c1f24d8d60ee6e13e2887b950399de/src/utils/detail.js#L42-L51

[2021-09-22 05:20] #114 closed

[2021-09-22 05:21] Arondight commented on #110
还得做一下数据库的清理，看看能不能清掉一些无用数据。

[2021-09-22 06:24] HYTT0510 commented on #123
请问一下  我不管是按照老方法通过F12还是新的办法直接使用
`javascript:(function(){let domain=document.domain;let cookie=document.cookie;prompt('Cookies: '+domain, cookie)})();`
获取都缺少 `cookie_token= `字段  请问是为什么

[2021-09-22 07:16] Arondight commented on #123
@HYTT0510 账号登录过期了吧，重新登录一下，按照 #120 操作一下

[2021-09-22 07:21] Arondight opened #125 "查询功能支持直接 At QQ 号"
`深渊 @xxx`

[2021-09-22 07:36] #125 closed

[2021-09-22 07:56] Arondight opened #127 "深渊查询结果缓存一小时"
这帮子人太能查了，顶不住

[2021-09-22 08:38] HYTT0510 commented on #123
好的十分感谢   重新登录了好几次才有

[2021-09-22 08:55] Arondight commented on #127
https://github.com/Arondight/Adachi-BOT/pull/128#issuecomment-924721336

[2021-09-22 08:56] #127 closed

[2021-09-22 08:58] Arondight commented on #123
验证的字段已经更新，现在使用 `account_id=` 和 `cookie_token=`。

https://github.com/Arondight/Adachi-BOT/blob/e1420d682992ae68f305aa92d07c8b78e8e2a3e5/src/utils/detail.js#L42-L51

[2021-09-22 14:45] Arondight opened #129 "反馈系统状态"

[2021-09-22 15:01] Arondight opened #130 "升级一下模块"
- [x] `request` 全部换成 `node-fetch`
- [x] `lowdb` 升级到最新
- [x] `random-float` 升级到最新

改改 `utils` 下的代码就行。

[2021-09-23 02:56] Arondight commented on #130
lowdb 真的是太 lowb 了，实在是不太行

[2021-09-23 08:15] #130 closed

[2021-09-23 08:27] Arondight opened #132 "最新的代码会删库"

[2021-09-23 08:36] #132 closed

[2021-09-23 09:57] Xm798 opened #134 "当前版本npm安装失败"
当前版本似乎有些问题
[code]

[2021-09-23 09:57] Xm798 commented on #134
[code]

[2021-09-23 10:00] #129 closed

[2021-09-23 10:11] Arondight commented on #134
呃，用官方源试一下？我没用淘宝的镜像

[2021-09-23 10:12] Xm798 commented on #134
破案了 淘宝源有问题
`npm config set registry https://registry.npmjs.org/`

[2021-09-23 10:12] #134 closed

[2021-09-23 10:16] Arondight commented on #110
lowdb 每次写都会直接重写整个数据库文件，我觉得要么快点搞一下这个 issue，要么换个像样的数据库

[2021-09-23 12:49] Xm798 opened #136 "深渊查询误触发"
聊天中出现“深渊”二字便会触发渊月螺旋战绩查询。。
![image](https://user-images.githubusercontent.com/48074861/134509237-4c020305-2921-497d-80a6-0f3d63587fa5.png)
![image](https://user-images.githubusercontent.com/48074861/134509486-5be4cc50-4866-44b4-8890-fefaf9c5827c.png)
#114

[2021-09-23 12:53] Arondight commented on #136
这算是历史遗留问题了，我晚上改一下

[2021-09-23 13:04] Arondight opened #137 "去掉插件命令的硬编码，全部由配置文件控制"
现在 `commands.yml` 无法单独完成命令的控制，有很多地方是硬编码的

[2021-09-23 13:49] #136 closed

[2021-09-23 16:10] Arondight opened #138 "更新代码遇到 data/db/*.json 冲突（files would be overwritten by merge）"
这个冲突在提交 02f7bec5939709254b3e8568a8c0e287d54a218e 中引入，但是我觉得是必要的，在这个提交之后数据文件就不影响仓库了。但是引入的问题是，当使用的代码比  02f7bec5939709254b3e8568a8c0e287d54a218e 更早时，更新代码会遇到以下报错。

[code]

你需要把 `./data/db/*.json` 移动到一个备份目录，更新后再移动回来。

[code]

这个错误只需要解决一次，之后就不会有了。

[2021-09-23 16:12] Arondight commented on #138
在这之后，当你运行 `git status` 就会发现整个仓库是干净的了。

[code]

而这之前则会提醒你 `./data/db/` 下的诸多文件有修改。

[2021-09-23 16:54] Arondight commented on #110
下面的都需要清理一下，反正老数据也放那儿不用，占用空间过大会导致 lowdb 堵塞在读写上的时间变长。

- [ ] `aby.json` 超过一小时的数据删除
- [ ] `cookies.json` 超过一天的记录删除
- [ ] `info.json` 超过一小时的数据删除

以下无需清理。

1. `artifact.json`
2. `authority.json`
3. `character.json`
4. `gacha.json`
5. `map.json`
6. `music.json`
7. `time.json`

[2021-09-23 16:57] Arondight commented on #110
标记无法使用的 Cookie 的问题，反正数据都删了，标记了也没意义，不做了。

[2021-09-24 04:15] Arondight commented on #137
[code]

这种形式似乎可以

[2021-09-24 04:24] davidelectricfree opened #139 "疑似卡住不动了"
环境：Windows server 2016 x64

将npm安装好，并在项目文件夹使用npm install 安装必要的组件后，使用npm run init 指令进行初始化操作，如下图。
![tempsnip](https://user-images.githubusercontent.com/36690822/134617344-45a711a3-d068-41f3-96df-ae622e7e7273.png)
会一直卡在这个[2021-09-24T12:06:00.558] [INFO] [iPad:811055003] - 群消息复读的概率为 1%这里。
在群里面说关键词，uid +id或者十连的形式，bot一点反应都没有，按理说如果部署成功应该不会这样。

如果到这里，使用Ctrl+C进行退出，使用npm run start 指令，又会报错，如图（虽然这里作者在一个issue提

[2021-09-24 04:44] Arondight commented on #139
`npm run init` 就行了，Windows 不需要后台保活，卡住的时候把那个扫码做完就行

[2021-09-24 04:48] davidelectricfree commented on #139
扫码做完了，我手机点同意，过了半小时一动不动

[2021-09-24 04:54] davidelectricfree commented on #139
对了，还有一个事，我手机端这边也没有另外一个登录提醒，按理来说，如果登录另一台设备，我手机端应该有显示我登录了IPAD，但是似乎并没有。

[2021-09-24 05:02] Arondight commented on #139
完成了就可以了，你发 QQ 消息，就会有日志输出

[2021-09-24 05:04] davidelectricfree commented on #139
大佬，问题是真没有啊

[2021-09-24 05:05] davidelectricfree commented on #139
我发消息了，服务器那边cmd界面一点反应都没有，而且，群里面也不回复，就好像没有生效一样。

[2021-09-24 05:07] davidelectricfree commented on #139
大佬，你们是扫码登陆吗？我直接用账号密码登会237网络错误，看了你们的issue，下了那个APK，然后发现那个APK会回复一个ticket，但是我不知道把这个ticket粘贴到哪里，所以我就是用的扫码登录的。

[2021-09-24 05:16] Arondight commented on #139
我没用扫码登录，那个 ticket 直接粘贴到 cmd 然后按回车就行

[2021-09-24 05:33] Arondight opened #140 "如何在 Windows 系统上进行部署"
1. 下载 [Git](https://git-scm.com/downloads) 并安装，然后在环境变量 `PATH` 中增加安装文件夹下的 `cmd\` 文件夹。
2. 下载[Node.js](https://nodejs.org/en/download/) 并安装，然后在环境变量 `PATH` 中增加安装文件夹。
3. 切换到你想部署项目的文件夹，右键空白部分，选择 `Git Bash Here`，随后弹出一个黑色的窗口。
4. 输入 `git clone https://github.com/Arondight/Adachi-BOT.git` 并按下回车键，等待成功执行完毕。
5. 输入 `cd ./Adachi-BOT/` 并按下回车键。
6. 输入 `npm install`，并按下回车键，如果出现问题请参考本项目 `README.md` 中的“[部署项目](https://

[2021-09-24 05:41] davidelectricfree commented on #139
结果出来了，可能这个程序扫码有点问题，用输出ticket的方式成功运行了

[2021-09-24 05:41] davidelectricfree commented on #139
十分感谢回复

[2021-09-24 05:41] #139 closed

[2021-09-24 06:12] Arondight commented on #57
@Xm798 老大哥可以帮忙做个埃洛伊的图吗

![A92C9F10-F185-42F5-912F-3ACA18CB1F70](https://user-images.githubusercontent.com/13673702/134626771-838e6bf0-4631-4ee1-ab2a-416054b13ffa.png)

[2021-09-24 06:15] Xm798 commented on #57
这个我记得做过了 但是不知道为什么不显示
URI:resources/Version2/character/10000050.png

[2021-09-24 06:25] Arondight commented on #57
呃，我过会看一下

[2021-09-24 07:37] Arondight commented on #140
因为配置代理的学习成本较高，所以这里演示了如何让机器人使用 Windows 已经安装的 Chrome 浏览器。当你已经安装好 Git 和 Node.js、配置好环境变量并且已经 `git clone` 下载好项目后，可以按照下面的步骤进行操作。

---

首先到[谷歌浏览器官网](https://www.google.com/intl/zh-CN/chrome/browser/desktop/index.html?standalone=1)或者其他任何你能得到 Chrome 浏览器的地方（例如各种软件商店）下载并安装一个 Chrome 浏览器。

下载完成后，在文件浏览器里的地址栏输入 `C:\ProgramData\Microsoft\Windows\Start Menu\Programs` 并按下回车键，随后找到 Chrome 浏览器的图标，点击鼠标右键，然后点击“属性”，打开属性窗

[2021-09-24 08:25] SilveryStar commented on #57
原因很明显，avatar id我是乱猜的，埃洛伊的实际 id 是 10000062 XD

[2021-09-24 08:49] SunShineJF opened #141 "windows部署之后，某些指令无法生效的问题"
作者大大，我按照你上一个issues中的操作后，成功部署，机器人部分指令可以正常工作，比如绑定米游社id，十连等操作。
但是有一些指令没有回复，比如米游社，uid查询。。

麻烦作者大大给看看
![1](https://user-images.githubusercontent.com/49141302/134646247-6cd956d9-32b6-47b6-b1df-2150be2192c5.jpg)

[2021-09-24 08:49] Xm798 commented on #57
啊这……

[2021-09-24 08:50] Xm798 opened #142 "深渊出现了超过36⭐的情况"
例如：
![image](https://user-images.githubusercontent.com/48074861/134646627-f321dfce-8402-4b75-b2d6-ef89453d1c4a.png)

[2021-09-24 08:52] Arondight commented on #142
他打了1-8 层

[2021-09-24 08:52] #142 closed

[2021-09-24 08:54] Arondight commented on #57
乱猜的没问题吧，不是只要和 json 对应上就行么，一切的入口都是从 json 开始的

[2021-09-24 08:56] SilveryStar commented on #57
char 这个页面的右下角图片是从 json 里的 id 去获取 oss 里的 character 图，两边 id 不一样当然 error 了

[2021-09-24 08:59] Arondight commented on #141
代码确实有问题，你没有配置任何 Cookie，代码没有对这个情况作出处理。另外即使代码改了你这也是不行的，想要查询必须要有 Cookie

[2021-09-24 09:02] Arondight commented on #57
@SilveryStar 在我这里是一致的，json 里是 50，图片的名字也是 50，没有用 oss，全部使用的本地资源，所以我不太理解为啥会 error

[2021-09-24 09:18] SilveryStar commented on #57
米游社 api 返回的 id 是 62，你的图片都是 50 自然找不到，而且你这个脚本……
https://github.com/Arondight/Adachi-BOT/blob/69ad75d22af48e812d1ccf7b56a883d9a5320a7d/resources/update.sh#L58-L63

[2021-09-24 09:22] Arondight commented on #57
@SilveryStar 我的神，还是你强啊，我刚想明白还有米游社的 API，我还以为只要本地资源自洽就可以呢

[2021-09-24 09:57] #141 closed

[2021-09-24 10:07] Arondight commented on #137
[code]

帮助信息对此进行拼接就可以了，分成 `command.yml` 和 `command_master.yml` 。

[2021-09-24 10:10] Arondight commented on #137
[code]

大约是这个感觉吧。

[2021-09-24 10:58] Arondight commented on #57
@SilveryStar 改改项目的关键字尽量别被搜到吧，这游戏签到和辅助脚本的 repo 封了一些，估计前一阵法务部大战内鬼网之后又开始搞事情了

[2021-09-24 11:51] Arondight commented on #57
@SilveryStar 我问了下被封的仓都引用了[条款](https://docs.github.com/en/github/site-policy/github-acceptable-use-policies)中的第九条，邮件的大意是仓库模拟了用户的真实行为，这个就可以随便扩张解释了

[2021-09-24 12:15] Arondight commented on #137
[code]

[code]

[2021-09-24 12:57] SilveryStar commented on #57
我先把 topics 和 description 下了吧（

[2021-09-24 13:31] Arondight commented on #57
我也改了，README 也把机器人的关键字去了，希望别中奖。迁移项目本身没啥，不过我把 issue 当 wiki 用，commit 里也写了大量的 issue 号，真的换地方还是有点烦。目前我知道的有个用户较多的签到项目，还有两个自动钓鱼都被封了，我也不知道这到底是 github 自己的行为（就跟前一阵封杀 action 一样），还是其他用户举报的

[2021-09-24 13:47] Arondight commented on #57
是 github 自查的，所有的 DMCA 都会在 [github/dmca](https://github.com/github/dmca) 挂起来，我看了下没有米忽悠的

[2021-09-24 14:40] Xm798 opened #145 "有没有可能支持多账号绑定"
有没有可能支持多账号绑定呢？比如我自己有三个米游社的账号，如果能够绑定多个账号的话，就不用记ID了，而且主要是`我的 XX`功能仅绑定状态下可用。
如果支持了多账号绑定的话，可以通过`我的 小号 XX`这样来调用，`小号`是绑定的时候自行设置的别名，例如`绑定 1234567 小号`。不选择账号的话默认就是默认账号。

[2021-09-24 14:51] Arondight commented on #145
不准备做，怎么想都会用乱。我从反馈中感受到的就是用法越简单直白越好。
最开始是可以查别人的角色的，准确来说查的角色是你查的上一个 UID 或者 mys 的，但是我发现几乎所有人都理解不了，不知道为什么查的角色会变化。这群人甚至发过“（上期）深渊”这样的命令，我觉得还是牺牲功能换易用性吧……

发自我的iPhone

[2021-09-25 01:55] Mark9804 opened #146 "【功能请求】从米游社获取数据时加入对timeout异常的处理"
### 环境
- 系统：macOS 11.6 (20G165)
- node 版本：16.10.0
- bot 版本：1.5.0

### 操作复述
1. 测试运行期间使用`npm run init`进行监控；
2. 收到查询深渊/米游社信息请求：`深渊 *********`
3. 后台显示机器人正在查询并成功缓存数据
4. 因为我人在日本，连米游社有困难，bot被timeout击毁了

### 功能请求
- 加入对timeout的处理
- 在发生timeout时发送消息告知发生timeout error

### 错误报告

[code]

[2021-09-25 02:01] #145 closed

[2021-09-25 02:07] Arondight commented on #146
这个问题要处理一下。另外你被 timeout 击毁之前数据都已经拿到了，单纯是浏览器没有相应了， vps 得话可能是内存太小，但你这个是 mac 那就不知道了

[2021-09-25 02:29] Arondight commented on #146
拉代码再试一下，这次应该不会让 bot 异常退出了，但是仍然解决不了你无法发图的问题

[2021-09-25 02:44] Arondight commented on #137
[code]

[code]

[2021-09-25 05:02] Mark9804 commented on #146
我这边因为在日本念书，所以连接国内的网络经常timeout（点名批评米忽悠timeout最离谱）

[2021-09-25 05:09] Arondight commented on #146
那就没办法了，域名重定向到本地，nginx 反代缓存图片吧，权当一个本地 cdn 用了

[2021-09-25 05:09] #146 closed

[2021-09-25 07:41] Arondight commented on #110
另外缓存时间写到配置文件

[2021-09-25 11:34] Arondight commented on #110
`database.js` 重新写一下，不属于数据库的功能踢出去

[2021-09-25 16:11] #110 closed

[2021-09-25 16:16] Arondight commented on #110
不知道为什么，当前的数据库清理是不彻底的，需要多次运行 https://github.com/Arondight/Adachi-BOT/pull/148#issuecomment-927142952 。

[2021-09-25 16:17] Arondight commented on #97
如果有人遇到这个问题，请留言，半个月内没有任何留言并且我无法复现问题，则关闭此 Issue。

[2021-09-25 16:34] Arondight commented on #137
差不多这个样子就可以了，为此需要把读 `.yml` 的 API 全部独立出去，读取后立刻转化为可操作性高的几个数据结构，然后增加对应的 API ，例如 `正则 -> 插件` 这种。

[2021-09-25 23:44] Arondight commented on #110
试了一下效果非常好！

---

清理之前。

[code]

---

更新清理代码，机器人第一次启动。

[code]

---

大约六个小时之后（清理六轮）。

[code]

---

经过检查所有数据正常，无用的数据都已经删除。

[code]

[2021-09-26 03:38] Arondight commented on #137
提交 a05952bd0450f1d11c444e6dd70eb0160ea87ec0 已经把读 .yml 的 API 单独放到了一个文件。

[2021-09-26 04:15] Arondight opened #150 "多 QQ 号支持"
一个 bot 启动多个 QQ 并且共用一套资源文件、数据文件和其他配置。

[2021-09-26 04:16] Arondight commented on #150
我想了一下应该挺简单，但是目前我本身没有需求，晚一点再做。希望 `lowdb` 不要出现数据库写错误，这个东西实在是太 low 了，几乎没啥代码。

[2021-09-26 11:43] fatinghenji opened #151 "是否可以作为插件使用？"
例如mirai/nonebot

[2021-09-26 11:47] Arondight commented on #137
[code]

[code]

[2021-09-26 11:55] Arondight commented on #151
不行

[2021-09-26 11:55] #151 closed

[2021-09-27 08:46] Mark9804 opened #153 "这个项目怎么来的（为什么会有两个同名项目）？"
我会使用PS，Illustrator制图，全日制研究生，有意愿参与项目维护。

但是在 #57 没有太看懂这个项目对于新卡池需要什么样的资源文件，对于图片的格式、分辨率等等有没有具体的要求。

希望能够详细了解一下现在这个项目需要什么样的图片资源，如果有例子的话更好

[2021-09-27 09:23] Mark9804 commented on #153
看上去好像目前资源是完整的（除了托马的头像），如果没有意见的话，我这边打算先参照[神里头像](https://github.com/Arondight/Adachi-BOT/blob/master/resources/characters/profile/10000002.png)完成托马的圆形头像，后续微调一下目前`resources/characters/profile`当中的图片，让每个角色的头都差不多大。

[2021-09-27 09:31] Arondight commented on #153
首先是你的问题，回答是目前应该不需要。

然后我想说一下这个项目是怎么来的。最开始 [SilveryStar](https://github.com/SilveryStar) 写了项目的[旧版本](https://github.com/SilveryStar/Adachi-BOT/tree/ver1.4.6)。最开始我想制定一些命令， fork 了他的项目，然后慢慢的加了自己的插件。但是有一天原作者的旧版本不再维护了，另起炉灶用 TS 写了一个新版本，我完全不懂 JS 和 TS  ，所以写的插件移植不过去，就一直维护的旧版本。直到有一天，作者大幅改动了其 OSS 上的资源文件路径，导致这个项目无法工作了，那时候我开始看了一点 JS 语法，按照作者的 OSS 文件变化继续维护旧版本。

我那时刚刚接触 JS ，以前都是用 C 和 Python 干活的，意识到在不能保证原作者不乱动 OSS 的

[2021-09-27 14:39] Arondight commented on #153
刚才编辑了楼上的冗长陈述，换了个稍微简短的版本。这里感谢一下楼主，这个项目靠着好几个老大哥的帮助活了下来，要不然作者改 OSS 的时候，我根本没接触过前端技术和 node ，大约已经因为无力维护而放弃了。另外特别感谢原作者，资源大部分都是扒的原作者的，算是坐享其成了。

[2021-09-27 15:44] Mark9804 commented on #153
我这边的想法是既然用了这个项目的话就尽可能的回馈，技术方面特别JS我现在也就面向百度编程的水平，但PS还算说得过去。所以我很乐意负责图像资源方面的处理工作。

[SilveryStar/Adachi-BOT](https://github.com/SilveryStar/Adachi-BOT/tree/master)和这个项目都是这两天接触到的，之前用的是SilveryStar的原项目，但是发现比起TypeScript来说还是JS我稍微能看懂一些，就决定在这个项目基础上尝试根据自己需求开发功能了。

之后如果有需要的话，我愿意分担一部分程序开发外的工作。术业有专攻，我现在的写bug水平也不太好意思参与开发，就先干干杂活。

[2021-09-27 15:51] Arondight commented on #153
@Mark9804 感谢老大哥，已经发邀请了，帮忙的人总不嫌多

[2021-09-27 15:54] Arondight commented on #153
@Mark9804 资源文件你要是有时间按照 #57 的说明直接添加到对应位置即可，老的文件能用的尽量不要动，因为会增加 git 仓库的体积，现在已经快 100M 了，还是挺大的。

[2021-09-27 20:41] iorinoe commented on #97
有遇到这种情况。4个群同时上线之后，会随机遇到1,2个群没有发送上线提醒。不过那是之前遇到。最近找个时间下线更新之后再测试下。

[2021-09-28 03:07] Mark9804 commented on #97
有没有可能是两个事件之间间隔的时间太短了，如果在执行发送群广播之前加一个1s的timeout，不知道能不能解决问题

然后我注意到日志当中，没有发送群广播的日志里先初始化了bot，然后才加载插件；发送了群广播的日志当中先加载完成了插件才得到`初始化完毕`的日志，可能和加载顺序有关

[2021-09-28 03:11] Arondight commented on #97
@Mark9804 是的，这是一个异步问题，代码我已经改了，但是不知道生效了没，毕竟是个概率问题

[2021-09-28 12:16] Mark9804 commented on #153
了解

不知道托马的资源现在是个什么进度，我看了一下仓库，因为之前的ID错误托马现在用的还是埃洛伊的图像资源。**如果没有其他人做的话我就新开个issue认领托马的资源制作了。**

关于一些新的问题，例如

1. 内鬼网（Honey Impact）的数据更新周期变更导致之后这个项目的新人物资源更新周期也要跟着变动，
2. 关于图像资源的分辨率细节讨论

我也会放到这个新的issue里面

[2021-09-28 12:25] Arondight commented on #153
@Mark9804

可以先做个图，json 晚点写，或者写了 json 到时候改就行

我对此一无所知，有个图就谢天谢地了

---

如果你了解而且准备写点东西描述一些，建议新开一个 issue，然后打个 doc 标签，尽量 doc 标签的一个 issue 描述一个问题，我可以在 #57 里面链接过去

[2021-09-28 12:27] Arondight commented on #153
另外提交的时候还是麻烦先提交 `dev` 或者别的临时分支，然后合入 `master`。

[2021-09-28 12:40] Mark9804 commented on #153
我会先提交在我个人fork的`dev`分支，然后向`Arondight/Adachi-BOT`的`dev`分支提交PR

了解

[2021-09-28 14:21] Mark9804 opened #156 "关于<resources>文件夹当中图像资源的图像尺寸讨论"
# 1. 图像尺寸和像素

广义上来说，`图像尺寸/像素/分辨率`表示一张图片当中横向/纵向的一行/一列中有多少个`像素`，一般用`横向一行像素有多少个×纵向行像素有多少个`表示，例如`1920×1080`.

![image](https://user-images.githubusercontent.com/9006264/135092154-2a48bdd2-9609-48ab-a1e5-37a291d42352.png)
图1 每张看似清晰的图像实际上是由一个个像素（放大部位中的每一个小正方形）组成的

`像素`是组成一张数码图像最基本的视觉单元，例如某张图片的尺寸是1920×1080，那么就代表这张图片有1080行像素阵列，每行有1920个像素。**图像尺寸越大，像素总数越多，图片的显示效果越好**。相应的占用的存储空间也就越大。

![image](https://user-i

[2021-09-29 13:10] HYTT0510 opened #157 "重新拉取代码之后 图片报错"
今天重新拉取了一份代码  然后所有图片都报错
![D JP_5O(PU1H(B`FHC%1470](https://user-images.githubusercontent.com/46914653/135274726-4699ce8d-0ddb-4733-bea6-709901da18e7.png)
![image](https://user-images.githubusercontent.com/46914653/135274748-8d7c7eb6-2151-4f1e-a449-e0bf12a98fb5.png)
![image](https://user-images.githubusercontent.com/46914653/135274774-1731cb46-fe0a-4538-861d-fbad5f71ddfb.png)

[2021-09-29 13:12] HYTT0510 commented on #157
看了一下日志  一直在循环进行此步操作
![image](https://user-images.githubusercontent.com/46914653/135275142-a099d8c8-019b-4fc1-852c-5f894fa8c614.png)

[2021-09-29 13:30] Arondight commented on #157
有个正在运行的机器人你没关，如果你不知道怎么关，重启系统

[2021-09-29 15:09] #157 closed

[2021-09-30 03:12] HYTT0510 commented on #157
服务器重启过   重新拉取代码  但是图片依然不正确

[2021-09-30 03:38] Mark9804 commented on #157
可以尝试一下`npm run list`，查看目前有没有机器人在运行，没有运行的话列表是空的
![image](https://user-images.githubusercontent.com/9006264/135382819-1e2a4e98-ef97-45ed-b44f-8f1cb0963745.png)
如果有，并且你确定没有启动过机器人，可能是你之前设置了自动启动，运行`npm run unstartup`禁止它
最后运行`npm run stop`停止当前运行的机器人并自行启动，或者`npm run restart`重启机器人

我这边没有复现这个情况

[2021-10-01 01:18] citydirector opened #160 "更新后在探索可用服务器后报错"
重新安装也出现相同错误：
[2021-09-30T21:16:50.403] [MARK] [aPad:2019160153] - 正在探索可用服务器...
[2021-09-30T21:16:50.487] [DEBUG] [aPad:2019160153] - 清理：删除数据库 aby 中 0 条无用记录。
[2021-09-30T21:16:50.537] [DEBUG] [aPad:2019160153] - 清理：删除数据库 cookies 中 0 条无用记录。
[2021-09-30T21:16:50.541] [DEBUG] [aPad:2019160153] - 清理：删除数据库 info 中 0 条无用记录。
(node:12118) ExperimentalWarning: stream/web is an experimental feature. This feat

[2021-10-01 02:55] Mark9804 commented on #160
说明已经有一个机器人在运行，或者其他进程把9934占用了

尝试一下: `lsof -i:9934`，查看是否是`node`进程占用9934端口，如果不是的话大概率不是这个项目的问题

如果是的话，在机器人目录下运行`npm run list`，查看是否有正在运行的机器人进程

[2021-10-01 03:18] citydirector commented on #160
确实是node进程在占用，但是在目录下查看进程时发现没有机器人在运行
![image](https://user-images.githubusercontent.com/45933075/135560169-956de32e-370a-4b41-8c7b-011419f78ccb.png)

[2021-10-01 03:26] Mark9804 commented on #160
能够说明一下你的部署和启动流程吗？如果可以的话，最好能够提供从通过`git clone`复制仓库，再到`npm run …`运行机器人报错之前的详细内容，方便确定问题

[2021-10-01 03:38] citydirector commented on #160
一开始尝试更新时出现了这个问题，然后我直接把Adachi-BOT文件夹删除&重新克隆了一份进行安装

[2021-10-01 03:57] citydirector commented on #160
尝试了清除nodejs的模块文件夹后重装了一下nodejs也不起作用

[2021-10-01 04:24] Mark9804 commented on #160
听起来好像没有“在更新前停止正在运行的机器人”这一个步骤，那有可能后台有一个幽灵进程

如果你不知道怎么停止的话，可以尝试重启服务器或者宿主设备，如果还不行的话要等主程序作者 @Arondight 看看了

[2021-10-01 04:36] citydirector commented on #160
是的，我猜想也是如此。

[2021-10-01 05:08] Mark9804 opened #161 "【bug】“深渊”和“上期深渊”数据会相互覆盖"
# 复现
1. 查询`深渊`
2. 查询`上期深渊`
3. 查询`深渊`

# 预期结果
bot会拉取两次米游社深渊数据；
`上期深渊`会返回2021.09.16～09.30的挑战结果；`深渊`会返回10.01～10.15的挑战结果

# 实际表现
bot只会在第一次查询`深渊`时拉取一次米游社的本期深渊数据，后续两次查询全部使用缓存的本期数据

[2021-10-01 05:58] #160 closed

[2021-10-01 05:59] Arondight commented on #161
晚上改，过节事情比较多

[2021-10-01 06:01] citydirector commented on #160
我尝试在一个新的服务器上部署，换了一个错误，看起来似乎是浏览器找不到某个文件
[2021-10-01T14:00:03.083] [MARK] [aPad:2019160153] - 正在探索可用服务器...
[2021-10-01T14:00:03.142] [DEBUG] [aPad:2019160153] - 清理：删除数据库 aby 中 0 条无用记录。
[2021-10-01T14:00:03.163] [DEBUG] [aPad:2019160153] - 清理：删除数据库 cookies 中 0 条无用记录。
[2021-10-01T14:00:03.165] [DEBUG] [aPad:2019160153] - 清理：删除数据库 info 中 0 条无用记录。
(node:24072) ExperimentalWarning: stream/web is an exper

[2021-10-01 06:20] Arondight commented on #160
#66

---

建议使用包管理器提供的 Chromium ，因为包管理器会为你解决一切依赖问题

[2021-10-02 14:15] Mark9804 opened #163 "【bug】#162 通过不能读取深渊缓存记录的方式解决了 #161 深渊缓存无法区分这一期和上一期的问题"
#162 解决了 #161 的问题，因为已经不能正确读取深渊的缓存记录了

[code]

这两个查询指令之间只间隔了三分钟，理论上应该要使用上一次的缓存才对。我本来想自己动手修掉这个bug的，但是使用缓存的判断逻辑给我看蒙圈了

[2021-10-02 15:04] Arondight commented on #163
看一下这条记录的 `schedule_id` 是多少，我明天再看一下，这个字段我想当然的理解成期数了，如果不是的话得改一下逻辑

[2021-10-02 15:44] Mark9804 commented on #163
本期的`schedule_id`是`31`，上期的`schedule_id`是30

[2021-10-03 00:31] #163 closed

[2021-10-03 00:39] Arondight commented on #137
[code]

[2021-10-03 00:41] Arondight commented on #137
[code]

[2021-10-03 02:10] Mark9804 commented on #161
https://github.com/Arondight/Adachi-BOT/commit/ebfaaa2ed5709ed8b9f461da951abacf62a4ae89 又复现了这个问题

目前`aby.json`中，同一个uid只能同时存在一个记录（这期的或者上期的），不知道是不是lowdb限制了发挥（我也没整太明白，似乎是使用`db.init("dbname")`初始化数据库之后，后续就只能往默认的`user`当中push数据而不能再创建一个新的key），也许原作者在v2使用redis是一个正确的选择？

[2021-10-03 02:14] Mark9804 commented on #161
我感觉相比深渊功能两个bug的严重程度，暂时revert回https://github.com/Arondight/Adachi-BOT/commit/3fed2d2bed522b4f424b6118fdb97ce512e0862e 然后不去管它也行。 #163 的问题是可以通过堆可用cookie解决的

[2021-10-03 03:23] Arondight commented on #161
目前就是这样的，和工具无关，这是数据库设计时的疏漏，没有考虑过缓存的问题，每个用户下的记录并不是数组，暂时不管这个问题，任何版本都存在。

[2021-10-03 03:23] #161 closed

[2021-10-03 03:39] Arondight commented on #161
已经 fix

[2021-10-03 05:35] Arondight commented on #137
[code]

[2021-10-03 06:43] Arondight commented on #137
[code]

[2021-10-03 07:39] Arondight commented on #137
[code]

[2021-10-03 12:53] Arondight commented on #137
[code]

[2021-10-03 13:10] #137 closed

[2021-10-03 17:24] Nigel-NI opened #165 "拉取最新源码后bot报错，无法启动"
按更新步骤更新后，bot无法启动（尽管npm处显示online）。错误代码如下：
[code]

[2021-10-03 17:27] Mark9804 commented on #165
检查一下你的`setting.yml`里面，`masters`（即bot管理员）的配置是正确的吗？至少需要配置一个账号作为管理员账号

[2021-10-03 17:33] Nigel-NI commented on #165
将原先的master改成masters后即恢复正常，感谢开发大大回复！

[2021-10-04 00:15] Arondight commented on #165
昨天改错代码了，这俩应该是写哪个都行的，甚至你可以同时用

[2021-10-04 00:25] #165 closed

[2021-10-04 00:25] Arondight commented on #165
[code]

[code]

[2021-10-04 05:51] avadiana opened #166 "新版本更新后出现无法加载查件的问题"
更新之后发现BOT没反应了，然后查看日志发现无法载入插件
[2021-10-04T13:19:15.992][WARN] [Android:499301351]～插件:拒绝加载未知插件 artifacts ![2021-10-04T13:19:15.992]
[WARN] [Android:499301351]～插件:拒绝加载未知插件 card !
[2021-10-04T13:19:16.020] [WARN] [Android:499301351]～插件:拒绝加载未知插件 material ![2021-10-04T13:19:16.020] [WARN] [Android:499301351]·插件:拒绝加载未知插件menu ![2021-10-04T13:19:16.021] [WARN] [Android:499301351]～插件:拒绝加载未知插件 music ![2821-1

[2021-10-04 05:56] Arondight commented on #166
看一下 config 下是否有旧版本的 command.yml ， 有的话移走

[2021-10-04 13:08] Arondight commented on #166
如果还有问题请 reopen

[2021-10-04 13:08] #166 closed

[2021-10-04 15:05] avadiana commented on #166
好的，已经解决了！谢谢！

[2021-10-04 23:33] Arondight opened #169 "可配置的群聊回复圈人"
当前全都是写死的 cq

[2021-10-05 00:59] Mark9804 opened #170 "【bug？】管理命令的执行优先度低于普通命令"
#164 中引入的bug，会优先执行普通命令，然后再执行管理命令

[2021-10-05 01:04] Mark9804 commented on #170
手快enter了，详细说明一下。

在旧版本的`command.yml`中，命令执行的顺序是文件中该命令的出现顺序。管理命令在这些命令当中还算靠前，我又喜欢在文件末尾添加自己的更改，当时我就没有发现。

#164 之后，程序的命令执行逻辑似乎已经完全变成了“先遍历`command.yml`中的命令”→“再遍历`command-master.yml`中的命令”，优先级顺序可能要调整一下。一般任何时候管理的命令优先级都应该大于用户优先级。

[2021-10-05 01:44] Arondight commented on #170
不应该有优先级，命令之间有任何覆盖都是不合逻辑的，尽量不要起同名的命令吧

[2021-10-05 01:54] Arondight commented on #170
另外我注意到你的功能入口写了正则，实际上……

1. 这里只是一个 startsWith 判断，改成正则不要忘记修改一下对应的方法
2. 很多插件并没有判断功能入口，只匹配了插件入口的正则

[2021-10-05 02:25] #169 closed

[2021-10-05 02:36] Mark9804 commented on #170
了解了，就是说这个功能入口理论上可以留空，或者说功能理论上都可以不写？

例：
[code]

[2021-10-05 02:40] Arondight commented on #170
@Mark9804 并没有这个设计

[2021-10-05 02:41] Arondight commented on #170
功能入口都需要写东西，之所以目前有的没用到只是因为我懒而已，只做了插件入口匹配，有的插件只有一个功能，我就没再匹配功能，但是功能入口是要有的

[2021-10-05 02:51] Arondight commented on #170
@Mark9804 不过我想了想你要这么写我可以改一改做做兼容，我本身对这些东西没什么执着，能跑就行

[2021-10-05 06:26] Arondight commented on #170
提交 d4154703904bad49ba9e38b7b9f08acaa7cd2e01 已经可以允许下面的写法，但是还是建议尽量不要这么用，很容易混乱，尽量每个功能都写入口，用到用不到再说。

[code]

[2021-10-05 06:29] #170 closed

[2021-10-05 11:45] Arondight commented on #150
lowdb 还好说，多 qq 同时调用无头浏览器概率性出问题

[2021-10-05 13:41] #150 closed

[2021-10-05 14:03] Arondight opened #175 "反馈无效 Cookie"
我的想法是直接用 QQ 消息把无效的 Cookie 发送给管理员

[2021-10-06 15:47] citydirector opened #178 "角色武器等 资源图片 不显示"
![image](https://user-images.githubusercontent.com/45933075/136238228-8a28c1c7-45b2-46a5-9f41-e171d3913d0e.png)

[2021-10-06 16:10] mark9804 opened #179 "【探讨】【极低优先度】使用paddleOCR提高圣遗物OCR的准确性和容错率"
目前[rating插件的OCR功能](https://github.com/Arondight/Adachi-BOT/blob/e488a11254c4d299d83aa21300cbafa65504f175/src/plugins/rating/index.js#L65)使用可莉特调的API，只能严格识别**背包中**的**屏幕截图**，遇到其他底色或者拍屏就歇逼了，但也不是不能用。

我今天尝试了一下[PaddleOCR](https://github.com/PaddlePaddle/PaddleOCR)发现效果非常好，蓝底白字/红底白字和拍屏都能识别，而且正确率目前来看很高，小样本测试没发现可莉特调API存在的多个小数点或者缺失小数点的问题。不过错别字依然少量存在，和隔壁同样使用paddleOCR的椰羊一样需要一个correction map。
这个模型是完全在本地跑的，不用担心可

[2021-10-06 16:14] Arondight commented on #178
看一下是不是这个问题 https://github.com/Arondight/Adachi-BOT/issues/35#issuecomment-899412706

[2021-10-06 16:15] Mark9804 commented on #178
这个问题发生的原因是你的服务器无法从`https://upload-bbs.mihoyo.com/*`获取图片。你的服务器在国内吗？

建议尝试通过其他手段获取这些图片，网络的问题实在是爱莫能助。

[2021-10-06 16:21] Arondight commented on #179
这个我后来看了看其他的项目放弃了，例如这个 https://github.com/ProblemFactory/GenshinArtScanner 。

bot 的情况还要远远比圣遗物导出功能要复杂，差不多基本上算是搁置了。

[2021-10-06 16:27] #179 closed, assigned to nobody

[2021-10-06 16:35] Arondight commented on #179
个人建议能将就则将就，文本处理向来是编程里极其麻烦的领域， ocr 只是返回一个原始文本而已，我所知道的几个圣遗物导出工具都是按照 ocr 返回的文本坐标来判断圣遗物的各个属性的值，你要支持各种情况例如门栓拍大屏，那肯定没法用坐标了，这时候麻烦就来了。

[2021-10-06 16:50] Arondight commented on #179
多回复一下，我个人对文本处理大致判断麻烦不麻烦的办法就是能不能一眼找出来想要的东西，如果能一眼找出来那就说明编程实现不麻烦。例如圣遗物 ocr 不依靠坐标判断属性，结果大概是下面的样子

[code]

看了看似乎也还行，只要默认一个数字是上一个属性的值就行，应该不至于费大劲。就是对于某一个 ocr 库需要有一个训练结果用于纠错，这个肯定是无法避免的。

[2021-10-06 16:52] citydirector commented on #178
内存有2G，已用24%（充足）；服务器在上海

[2021-10-06 17:05] Arondight commented on #178
既然你系统中能够正常下载，那么取消一下 npm 的代理然后重启 bot 看一看

[code]

如果有好转，删掉 bot.pm2 执行 `npm run start`

[2021-10-06 17:08] Mark9804 commented on #179
举例来说的话，对于本条评论末尾的图片，paddleOCR给出的结果是这样的
[code]
因为圣遗物部位和副词条基本上是准确识别的，圣遗物名字不重要，所以我目前的想法是检查识别结果与所有可能出现的词条（可以直接硬编码成字典或者array）的中文文本相似度，然后通过`+`作为分隔符获取副词条数据，感觉理论上大概也许可能是可行的。
![image](https://user-images.githubusercontent.com/9006264/136249878-47039e4b-0ec7-47d6-a7e4-80f6ef7f2434.png)

[2021-10-06 17:13] Arondight commented on #178
我想继续问一下，你安装的时候，有按照文档中写的设置了 `npm_config_proxy` 这个变量么？

[code]

[2021-10-06 17:16] citydirector commented on #178
当时只安装了ss+Privoxy，然后配置了一下全局http/https的变量（/etc/profile）

[2021-10-06 17:50] citydirector opened #180 "米游社接口报错: Please login"
部分信息查询时会提示请登录，部分信息正常；私以为是cookie过期了，更新后（先停止再更新）依然如此

[2021-10-06 18:41] citydirector commented on #180
注意休息（笑），问题不急
貌似的确是个玄学问题，用（账号c）的cookie也不行（直接复制过来的）
当然log也没有任何报错

[2021-10-07 00:39] Arondight commented on #180
这报错大概率是 cookie 的账户被封了

[2021-10-07 03:34] citydirector commented on #180
应该不是，我尝试了复制在另一台服务器上正常工作的账号c的cookie过来，也会出现这种情况（见上文）

[2021-10-07 03:51] Arondight commented on #180
还是确认一下吧，这种情况几乎无一例外都是 cookie 被米游社禁了，你登陆一下对应的账户试试能看战绩么，如果能看的话把新的 cookie 替换过去，不能看的话再买新的，前段时间封了很多号导致价格都贵了，另外 cookie 只需要 account_id 和 cookie_token 即可工作

[2021-10-07 07:18] Arondight commented on #180
cookie 每天最多查 30 次，超过次数会查询失败， please login 错误还是建议检查一下帐号是否被封禁，没有的话重新拿 cookie ，这个错误几乎都是封禁的问题

[2021-10-07 07:30] davidelectricfree opened #181 "大佬，能否添加查询材料在哪的功能"
例如：https://github.com/H-K-Y/Genshin_Impact_bot

自动在米游社的资源地图进行截图操作，显示资源/材料在哪

[2021-10-07 07:36] #181 closed, assigned to nobody

[2021-10-07 08:19] davidelectricfree commented on #181
额，谢谢回复

[2021-10-07 09:00] citydirector commented on #180
是cookies.json；
删除缓存后 成功查询到之前查询失败的账号。
但是又出现了上一个issue的问题：[https://github.com/Arondight/Adachi-BOT/issues/178#issuecomment-936687340]

[2021-10-07 09:10] #180 closed

[2021-10-07 09:17] Arondight commented on #180
图没了和 cookie 没关系，应该就是网不行 https://github.com/Arondight/Adachi-BOT/issues/178#issuecomment-936704180

[2021-10-07 17:13] Arondight opened #182 "忘了处理插件 enable 为 false 的情况"
真是个悲伤的故事

[2021-10-08 03:20] Arondight opened #183 "插件规整"
只允许管理者调用的功能全部移到 master 插件，实现 插件名称在配置文件中全局唯一。

现在用户配置和主人配置中有同名插件，enable 字段的值不同，使用默认行为可能会带来疑惑。

[2021-10-09 01:16] pianfanshaan opened #184 "人已经社死 可以把setting配置文件这两个默认选项改掉吗"
repeatProb: 1

groupHello: 1

这两组一开始没注意看 还是默认为0吧

人已经裂开QAQ

[2021-10-09 01:48] Arondight commented on #184
食用前请仔细阅读说明呀，另外不建议使用个人常用账号挂 bot ，一般都是申请个新号

[2021-10-09 01:48] #184 closed

[2021-10-09 02:00] Mark9804 commented on #184
啊这，个人意见，大家应该都是成年人了，也得为自己的不小心承担责任……这两个选项的说明写的我觉得还算清楚

顺便关于申请新号的问题，最近打击比较严，刚申请的新号就直接拿来挂bot的话封号概率非常高，需要挂一段时间，具体是多久我没试出来，因为我自己刚申的小号也被封了

[2021-10-09 02:13] Mark9804 commented on #156
我写这个的时候也测了一下，暂时没发现异常，但是不保证之后会有其他贡献者加入不太了解，所以就暂且写出来当作guideline之类的东西吧。

现在的话发生的就发生了，当前的问题变成了git目录大小会随着图像大小快速增长，所以我是按照最小尺寸保存的。

其实感觉按现在bot发图的画质还能在导出的时候把8-bit勾上来进一步压缩文件大小，大概能把空间利用率再提高到原来的一两倍

[2021-10-09 02:33] pianfanshaan opened #185 "建议添加自定义命令前缀"
和原项目setting文件中 header: "#"类似的功能

[2021-10-09 03:33] #183 closed

[2021-10-09 04:28] Arondight commented on #185
备忘：setting 加个选项 prefix ，数组，无选项默认空（全匹配），正则匹配后根据数组内容再进行一次从头匹配。

（空值优化，非字符串判断和处理……）

[2021-10-09 12:49] sunist-c opened #186 "图片渲染爆炸"
下面是唯一的异常信息：
[code]
表现如下所示：
![](https://z3.ax1x.com/2021/10/09/5kMs2R.jpg)
![](https://z3.ax1x.com/2021/10/09/5kMMVS.png)

已经尝试过Firefox/Chromium/Chrome了，都无法解决问题。本来想从mac迁移到闲置服务器上的。

[code]

附完整log

[code]

[2021-10-10 06:28] Arondight opened #188 "拆掉 http 服务"
都跑在本地了还在用 http 服务有点奇怪，但是我不知道能不能办得到

[2021-10-10 07:53] Arondight opened #189 "eslint"
上百的错误，我真 nb

[2021-10-10 07:54] Arondight commented on #189
[code]

太强了，怎么工作的，晚上改改

[2021-10-10 10:44] Arondight commented on #189
https://github.com/Arondight/Adachi-BOT/blob/1f0238b487c8243f280bdfb896b8d4b677bb95df/src/utils/init.js#L47-L50

我日，在这儿呢，有点难顶

[2021-10-10 12:19] Oyuanchu opened #190 "缓存数据不会随着 ID 变更而失效"
对@的人数据总为上一个人的数据，绑定指令失效

[2021-10-10 12:29] mark9804 opened #191 "圣遗物别名支持"
目前这个功能commit在我自己的实验分支 https://github.com/Mark9804/Adachi-BOT/commit/e3e2611806e92ed38e7bfc1a6d74b944a51cac3a

# 更改文件
`src/plugins/artifacts/index.js`
`config_defaults/artifacts.yml`
`config_defaults/command.yml`

# 功能更新
接到反馈说圣遗物本ID都是数字，很难记，因此在`artifacts.yml`中增加了副本的`nickname`字段，现在可以同时使用`圣遗物 副本ID`和`圣遗物 副本昵称（名称）`来进行刷取圣遗物。

针对查不到副本昵称的情况进行反馈。

# 效果
![image](https://user-images.githubusercontent.com/900

[2021-10-10 12:48] tendapc opened #192 "更新"
检测更新和更新的环境要求和方法

[2021-10-10 12:57] Arondight commented on #190
呃，没有理解，可以细说一下吗？

[2021-10-10 12:59] Arondight commented on #192
这方面可以看 readme 中的内容

[2021-10-10 12:59] #192 closed

[2021-10-10 13:03] Arondight commented on #190
呃，我还是没有明白，可以说的简单一些吗？我理解的是我不管绑定什么米游社账号，你先查了你的，那我再查我的，也会查出来你的，是这样吗？

[2021-10-10 13:04] Mark9804 commented on #191
原来还有这种操作吗，之前写方舟掉落查询插件的时候我还造了个轮子，那我改动一下

群友反馈说数字方便但是需要额外记忆一个数字和副本之间的对应关系，所以才有了这个功能，其他功能都是支持的
例如刷雷本，那么：
`圣遗物 1`和
`圣遗物 仲夏庭院`和
`圣遗物 雷本`

这三个命令都会被识别成刷取ID为1的圣遗物副本

[2021-10-10 13:11] Mark9804 commented on #190
看上去可能跟 #161 有一定相关性，都是读取了错误的缓存导致的问题

[2021-10-10 13:13] tendapc commented on #190
![image](https://user-images.githubusercontent.com/69566610/136697305-5bdc77b1-aec3-4a71-9ca7-c7c3f75d9c27.png)

[2021-10-10 13:31] Arondight commented on #190
哦，我明白你在说什么了。
我绑定了米游社账户 123 ，但是绑定错了， 123 是别人的，我查了 123 的数据。
然后我绑定了自己的 456 ，我查 456 的数据，得到的还是 123 的，是这样吧？
@tendapc

[2021-10-10 13:32] tendapc commented on #190
是的

[2021-10-10 13:33] tendapc commented on #190
这是最近更新才明显的

[2021-10-10 13:35] tendapc commented on #190
导致每个人一个小时只能查询一个数据

[2021-10-10 13:38] Arondight commented on #190
的确是这样的，本着克勤克俭用 cookie 的原则，我做了尽量多的缓存设定，也导致了这个问题。

[2021-10-10 13:40] Arondight commented on #190
在变更数据的时候同时清空查询时间，下次强制拉取新数据，因为不紧急，所以晚一些修复。

[2021-10-10 14:17] Mark9804 commented on #191
关于`alias.yml`，其实我觉得可以稍微提升一下，让这个文件支持正则

我印象里目前通过alias匹配的方式是查找字典键值对，虽然相对而言效率高但是别名编写和匹配成功率都偏低，不知道大佬有没有意向支持一下

[2021-10-10 14:40] Arondight commented on #191
这个我没有意向做

[2021-10-10 15:42] #189 closed

[2021-10-10 15:57] #97 closed

[2021-10-10 16:09] Mark9804 opened #195 "祈愿功能重复读取最后一次祈愿结果"
返回祈愿图片时，会返回重复的不属于自己的结果。祈愿功能完全无法使用。
![image](https://user-images.githubusercontent.com/9006264/136703970-0e4fc6c9-a406-42e8-ac92-79f0347aa96a.png)

在我和Arondight/dev同步的`dev`分支可以复现这个问题。

[2021-10-10 16:14] Arondight commented on #191
@Mark9804 我想了一下，还是按照你这样写吧，nickname 不用写本命，我想做个圣遗物的全局变量，跟插件的用起来差不多，用全局变量来转换别名，大约是这个感觉 `artifacts.domains.alias[name] || name`

[2021-10-10 16:35] Arondight commented on #195
https://github.com/Arondight/Adachi-BOT/blob/3bb7af1a6fff6d13820080ee98348b02650128dd/src/utils/render.js#L28

`${name}.json` 没有变量内插

[2021-10-10 16:43] #195 closed

[2021-10-10 16:55] Arondight opened #196 "在非异步函数中实现异步调用会得到一个 Promise ，这导致了使用返回值时出现问题"
换成异步环境没有问题，但是 ESLint 不建议这样做

https://cn.eslint.org/docs/rules/no-async-promise-executor

[2021-10-10 17:39] Arondight commented on #196
因为 then 之后也是一个异步，所以赋值可能是滞后的，使用变量时可能尚未赋值，如果全部改用 then 去写，那么改动太大了，这样显得数据库 api 很蠢

[2021-10-10 19:35] #196 closed

[2021-10-11 02:12] Arondight commented on #191
1. `副本` 命令返回信息替换成根据两个全局变量以恰当的形式拼接出的每一个副本的 ID 、名称、别名。
2. `圣遗物` 命令的帮助信息里体现出能够使用副本 ID 、名称和别名的特性。
3. 因为圣遗物配置文件过于复杂，不提供其他的环境变量，不改变圣遗物配置文件的其他处理逻辑。

[2021-10-11 02:56] sunist-c commented on #186
目前还没解决回退到了mac上继续跑，内存是4G的并且没占满，有空再去部署一下检查一下依赖吧，我使用的cnpm处理依赖的(不是很精通前端所以不知道会不会有影响)

[2021-10-11 03:55] Arondight commented on #186
好吧……要是有眉目了麻烦回复一下，我也不明白出了什么问题，不知道是你特有的问题，还是程序在某种（正常）情况下会出现的问题。

[2021-10-11 06:30] Arondight commented on #191
这个也可以在读入文件并转化为可用的数据结构的时候做，全部转小写，配置文件是个静止的，数据结构是可动的，问题应该不大，文档、配置文件、注释加一下标注就行

[2021-10-11 06:56] oha189 opened #202 "功能绘图失败"
![image](https://user-images.githubusercontent.com/63651054/136745568-16573a31-2b77-4955-bfbd-23d5bd46113a.png)

[2021-10-11 07:32] Mark9804 commented on #202
更正一下：git **status**

[2021-10-11 12:31] 2385706087 commented on #202
![image](https://user-images.githubusercontent.com/69779315/136789994-77583266-8301-42b7-ab2f-0aca3a58550b.png)
我也遇到了这个问题，今天拉的代码，环境是阿里云的ubuntu20.04，但本地ubuntu没问题

[2021-10-11 15:12] #190 closed, assigned to nobody

[2021-10-11 15:23] Arondight commented on #202
你的无头浏览器无法工作，你可以……

1. 手动解决 `libatk-1.0.so.0` 这个依赖，重复解决遇到的依赖问题，直到无头浏览器能够运行。
2. 按照说明手册中的步骤使用系统自带的浏览器，让包管理器为你解决一切依赖问题。

[2021-10-11 18:31] Mark9804 opened #205 "【低优先度】更换渲染字体"
华文行楷和汉仪文黑的字库已经不够用了，可能需要更换其他字体
![image](https://user-images.githubusercontent.com/9006264/136837075-64a29187-0692-4690-8e39-4a8bea19a6a9.png)

我个人推荐[霞鹜文楷](https://github.com/lxgw/lxgwwenkai)，GitHub开源字体，不会因为版权问题被律师函警告

[2021-10-12 00:11] Arondight commented on #188
算了，这个以我目前的前端知识做不了，另外反正也支持多 QQ 了，没必要起多个 bot了

[2021-10-12 00:11] #188 closed

[2021-10-12 02:39] 2385706087 commented on #202
感谢，目前已解决
https://blog.csdn.net/weixin_44388092/article/details/104220500
根据这篇文章 安装完无头浏览器后能用了

[2021-10-12 02:47] Arondight commented on #202
可能是我昨天的一个提交有关，不过至少问题是解决了，如果还有问题请 reopen 。

[2021-10-12 02:47] #202 closed

[2021-10-12 05:01] #191 closed, assigned to mark9804

[2021-10-12 09:55] Arondight opened #208 "更新检测脚本有点智障"
找个机会打开脑壳瞧一瞧

[2021-10-12 09:58] Arondight opened #209 "这俩函数应该变成一个函数加上两个封装"
https://github.com/Arondight/Adachi-BOT/blob/5eb343f287af2a5fca4131aa998b9e24cf977824/src/utils/config.js#L56-L109

[2021-10-12 10:38] Arondight commented on #205
我突然想起来一个问题，就是玩家数据的图上面不是有每个角色的武器嘛，我加的时候一直没做到把整个信息放在框的中间，现在武器是压着下边栏的，上面间距比下面的大，不知道这个能改吗，我只改了左右居中，上下实在没调好，不知道可以帮忙看看嘛

[2021-10-12 10:56] Mark9804 commented on #205
有图吗，米游社相关的图我都渲染不出来，上个月初申请了换宽带运营商现在也还没见到人影……

[2021-10-12 10:59] Arondight commented on #205
![78DE23A2-3831-4F94-9D1F-94347B0971A7](https://user-images.githubusercontent.com/13673702/136943533-9312e9ec-59f8-4958-aff7-8028a0028cbc.png)

大致看一眼就行，不好改就不用动了，反正也没啥影响

[2021-10-12 11:15] Arondight commented on #205
这俩用的是同一个 css

[2021-10-12 11:17] Arondight commented on #205
你可以认为是一模一样的，至少对这个问题是……

[2021-10-12 11:21] Arondight commented on #205
🤣 要不以后再看吧，反正也没啥影响

[2021-10-12 16:04] Arondight commented on #205
我感觉比以前好太多了，很明显地提升，以前有点花里胡哨的 😁

[2021-10-12 16:13] Arondight opened #210 "config: atMe"
atMe: <yes/no/always>

[2021-10-13 02:11] mark9804 opened #211 "武器池定轨功能失效"
![DB762632-023E-4712-938B-3CB8A46C440E_1_105_c](https://user-images.githubusercontent.com/9006264/137054911-a6afd9d6-eff1-4001-b02d-4489bac1ebf8.jpeg)

[2021-10-13 02:20] Mark9804 commented on #211
哦不对我傻逼了，是这个问题![image](https://user-images.githubusercontent.com/9006264/137055776-64cf1f70-6643-405e-9ce9-8f6139f9b987.png)

[2021-10-13 02:45] Arondight commented on #211
呃，我改一下

[2021-10-13 03:06] Mark9804 commented on #211
我复现了一下，抽了两把盾锁和一把天空枪
[code]

[2021-10-13 03:19] #211 closed, assigned to Arondight

[2021-10-13 03:20] Arondight commented on #211
@Mark9804 麻烦再试一下，刚才的定轨不要清零，更新后再抽一个黄，应该就是定轨武器了

[2021-10-13 03:24] xixiya04 opened #214 "本人js是个菜鸡"
![YI9WD`_PC( AT`X%6IM$@%L](https://user-images.githubusercontent.com/85932552/137061439-e7ab11d9-cc68-400f-8c51-7c1c1035c3b3.png)
我想加个判断，可以删除自己菜单的长度，但是奈何自己js这块很菜，自己弄了半天，没弄好，只好求助一下

[2021-10-13 03:27] Mark9804 commented on #214
这是哪里的代码，想实现什么功能，请详细说明一下

[2021-10-13 03:27] #205 closed

[2021-10-13 03:46] liyu30 opened #216 "响应消息的命令似乎得不到bot的回复"
响应消息的命令得不到BOT的回复，但是命令却是执行了的，数据库里面能看到状态发生改变。
[code]

[2021-10-13 03:48] Arondight commented on #214
@xixiya04 不需要删，数据有了，拼接的时候你可以不用，数据结构如下。

https://github.com/Arondight/Adachi-BOT/blob/834bf2de5acb93f44b595bcbe65a2dcd1c5c4d45/src/utils/config.js#L16-L82

按照你喜欢的方式拼接就好。

[2021-10-13 03:58] Mark9804 commented on #216
确实不响应了，能够复现

[2021-10-13 04:00] #216 closed, assigned to Arondight

[2021-10-13 04:34] Arondight commented on #214
@xixiya04 我把你的需求提上去了，name 为空就忽略了，以前会拼一个问号上去

[2021-10-13 04:43] Mark9804 opened #217 "【低优先度】overview允许自定义关键命座，而不是固定显示一二四六"
目前overview显示的角色信息中关键命座是写死在网页里的一二四六，但是：

雷神的关键命座是二命和三命；
不排除后续角色关键命座提前；

所以我觉得把关键命座扔进对应的角色json会更合理一些

当然现在的信息也不是不能用

[2021-10-13 06:10] Arondight commented on #217
没必要吧，三命和五命是固定的啊，都是大招+3

[2021-10-13 06:47] Mark9804 commented on #217
我复盘一下我脑抽的过程。

一开始我没理解清楚下面那个一二四六想要表达的是什么，以为是关键命座。如果是关键命座的话，每个角色就是不一样的。比如雷神的输出手法是切出来开大七秒（不考虑卡肉的话）真女人，那么元素爆发命座三命就是关键命座。

后来给一提醒，我才意识到三和五命都是固定提升，默认确实不需要写入角色信息页面，只要将每个角色都不太一样的一二四六命补全，和默认信息形成一个完整的角色profile就可以了。overview插件的目标场景应该是这个。所以不需要改动

[2021-10-14 05:00] Arondight opened #220 "保持 oicq 的数据结构一致"
当前 raw_message 有可能与 message 不一致，没有出现问题是因为没用到 message

[2021-10-14 05:24] Vang-z opened #221 "您好，请问有将服务端剥离出来的打算吗"
想询问一下各位大佬有将该项目的核心功能剥离出来单独使用 `web server` 托管的打算吗？这样方便直接使用 `api` 请求资源，将项目扩展到不限于 `qq bot` 的地方进行发展（顺带提一句，用 `vue` 写的界面雀食很好看 :) ）

[2021-10-14 05:28] Mark9804 commented on #221
https://github.com/Arondight/Adachi-BOT/discussions/201

和这个应该重复了

[2021-10-14 05:34] #221 closed, assigned to nobody

[2021-10-14 05:35] Vang-z commented on #221
应该没有和上面的 `issue` 重合, 因为本人是做 `react` 开发的，今天稍微看了一下本项目，以及另一个项目, 发现是基于 `web` 制作的项目，所以好奇为什么不直接做成 `web` 形式的网站模式，反而使用 `qq bot` 限制项目的使用呢？如果做成 `web` 模式的话，可以直接去掉某些库，比如 `oicq`, 如果要使用 `qq bot`，可以转而使用性能更佳的产品做反向代理之类的

[2021-10-14 05:43] Vang-z commented on #221
好的，谢谢大佬 :)

[2021-10-14 05:45] #208 closed, assigned to Arondight

[2021-10-14 05:51] Mark9804 commented on #221
有一定道理，目前项目当中大量图片渲染确实是使用web server跑出来的，bot在这过程中干的也只是处理参数并发送给服务端的活

但是我个人理解的话，这个项目目前来说是**基于QQ的**原神助手，而不是说它首先是一个原神助手，然后加入了QQ bot支持。因果关系来说的话目前的web端是给bot打工的

你的建议不无道理，这个项目最不稳定的因素还是企鹅，所以也许哪天这个框架就给定点爆破了也说不定。不过目前来说，既然oicq目前能够稳定支撑服务，我感觉暂时没有充足的放下其他todo去改动当前架构的理由

[2021-10-14 05:55] Vang-z commented on #221
嗯嗯，因为最近翻看了很多类似的项目，最后发现本项目算是极为优秀的项目了，所以在看了源码过后才有目前的疑问。

[2021-10-14 08:05] #210 closed, assigned to Arondight

[2021-10-14 08:05] #220 closed, assigned to Arondight

[2021-10-14 10:09] paiky opened #223 "改绑uid或通信证显示成功 结果并没成功"
快点修理啦
![BZ L7E%$SSIJ67G VVF_F5R](https://user-images.githubusercontent.com/41196775/137297647-b5025540-9476-489f-b640-89ca664dbad6.png)

[2021-10-14 10:15] Mark9804 commented on #223
![image](https://user-images.githubusercontent.com/9006264/137298295-f94ef44c-adbf-4c64-a6f3-342f0af8e54d.png)
![image](https://user-images.githubusercontent.com/9006264/137298469-a4810db5-7ff1-4783-b99e-bce1d8e78457.png)
改绑功能我这边没问题啊

[2021-10-14 10:15] Mark9804 commented on #223
米游社ID和游戏内UID是不一样的，请确认一下

[2021-10-14 10:19] Arondight commented on #223
有按照提示使用【米游社】命令更新数据后再次查询吗

[2021-10-14 10:25] paiky commented on #223
![image](https://user-images.githubusercontent.com/41196775/137299886-ef8db7b3-df3e-4cd6-a95f-1453bb671ab8.png)
![image](https://user-images.githubusercontent.com/41196775/137299904-bc6506e3-1d54-4c51-995a-64306810ef93.png)
下午那次不行 不过今晚的可以了 所以改绑两次就可以是吗=，=

[2021-10-14 10:27] paiky commented on #223
搜嘎，好嘞，所以报错就要等1小时了吧
![L311O1}IK33{(VL`VBI8$CK](https://user-images.githubusercontent.com/41196775/137300320-9fdd0de7-77ed-45e4-80ae-0d590b8f15b9.jpg)

[2021-10-14 10:28] #223 closed, assigned to nobody

[2021-10-14 10:31] paiky commented on #223
不过他并没有提示缓存问题噢

[2021-10-14 10:36] paiky commented on #223
噢是这样 好吧

[2021-10-14 10:38] paiky commented on #223
这个缓存时间一小时 可以理解为一小时内改不了对吧 我下午确实是先绑了uid好像
![](https://user-images.githubusercontent.com/41196775/137300768-f4533999-593c-40cc-bff8-a38c0a4d34cd.jpg)

[2021-10-14 10:42] Arondight commented on #223
麻烦你忘掉缓存这个名字以及你对它的一切理解，查角色先查那张有很多自己角色的图，记得这个就可以了，你可以在任意时间内绑定任意次数（只要你的手够快）

[2021-10-14 14:23] paiky commented on #223
我的问题，米友社ID 182打成102，可能这ID不存在查不到 改绑只能绑米友社ID对吧

[2021-10-14 16:33] Mark9804 commented on #175
我觉得

这个功能可以作为一个被动功能触发，触发条件是当使用该cookie查询米游社信息时返回的错误信息是"please login"，触发执行的任务是向一个master（默认向第一个master？因为并不是所有master都有往数据库里塞cookie的权限）

如果字段是`cookie_invalid`的话，那么筛选有效cookie的逻辑变成了“cookie是invalid的状态不是false“或者“cookie在invalid列表中的状态是false”，稍微有点绕，可以改成`"isValid": false`，更符合人类的思考逻辑一些

我构想的cookie数据库大概长这样：
[code]

[2021-10-14 17:12] FengLing11 opened #224 "插件：拒绝加载未知插件 tools_master ！"

[2021-10-14 17:16] FengLing11 opened #225 "其他人在发 help 的时候会显示 不能使用管理命令。"

[2021-10-14 22:41] Arondight commented on #225
#224

[2021-10-14 22:41] #225 closed

[2021-10-14 22:41] #224 closed, assigned to nobody

[2021-10-15 03:34] citydirector opened #226 "[建议]添加 查询他人账号的角色的详情 功能"
（这大概需要一条新的命令）

[2021-10-15 03:45] Arondight opened #227 "曲奇饼浪费警告，查询角色时如果无缓存直接拉数据"
最近好多人问这个，我有点顶不住了。准备改一下查询角色的逻辑，增加一个配置，配置后如果查询自己的角色本地无缓存直接拉数据，配置文件默认打开，读取逻辑默认关闭。

[2021-10-15 03:48] Arondight commented on #227
视使用次数而定，cookie 数量可能会需要大幅增加才能维持之前的用户数量。

[2021-10-15 03:49] Arondight commented on #223
#227 准备以牺牲 cookie 为代价做了这个功能

[2021-10-15 04:25] citydirector commented on #226
可以在进行 米游社/uid 查询时一次性缓存下来，然后再次查询该账号数据时直接读取缓存

[2021-10-15 04:27] citydirector commented on #226
另一个建议是账号缓存默认超过一小时后再查询则更新一次，一小时内使用“米游社/uid/我的”等命令查询时只读取缓存；

[2021-10-15 04:50] citydirector opened #228 "[bug] 添加新的cookie并重启后查询信息仍然提示超限"
似乎是个缓存问题

[2021-10-15 08:32] Arondight commented on #226
这个我现在有点犹豫了，因为按照配置，可能会出现查询别人的角色也拉取数据的情况，我目前的 cookie 根本顶不住，不难想象可能会有人一个 cookie 部了个 bot 上去眨眼用光的情况，我感觉需要考量一下。

[2021-10-15 08:35] Arondight commented on #226
[code]

目前我 13 个  cookie ，查询用户不拉数据，这个数量完全顶得住，拉数据我还没试，但是我感觉能查别人的数据，可能就顶不住了

[2021-10-15 09:29] citydirector commented on #228
刚刚使用`git pull -p&&npm install&&npm run restart`更新了一下，之前报错的账号还是会报错

[2021-10-15 09:35] citydirector commented on #226
使用“米游社/UID”命令时默认不更新缓存，只有 使用“-更新”参数或者新的命令 时才进行更新，同时启用时间刻（例如默认一小时内不更新）

[2021-10-15 09:47] Arondight commented on #228
我得找个时间跑跑逻辑看看，正常来说一个 cookie 跑 30 个号才会失效

[2021-10-16 07:56] #186 closed

[2021-10-16 17:04] Arondight opened #231 "需要会有个前端的帮忙开发"
详情请见 #229 ，非常感谢，如有意向请直接在此回复 😃

[2021-10-17 07:56] #226 closed

[2021-10-17 07:57] Arondight commented on #226
[code]

[2021-10-17 08:07] Arondight commented on #226
沃日，没处理 qq 昵称里面带空格的情况

[2021-10-17 08:34] Mark9804 commented on #226
还有一个问题

如果该群的查询权限是false的话，例如：

[code]
那么执行`@群友 的 阿晴` 会返回

[code]

@Arondight

[2021-10-17 08:43] Arondight commented on #226
应该没问题了

[2021-10-17 12:26] Mark9804 commented on #175
没有 @Arondight

[2021-10-17 13:09] Arondight commented on #228
我想起来了，你这个超限的 cookie ，是不是自己玩米游社用了？数据库中的次数只记录 bot 自己用的，你在刷论坛给用完了 bot 不知道的

[2021-10-17 17:18] mark9804 opened #234 "【中长期】解决“深渊的样式明显不一致”问题，ref #229"
目前打算全部推翻重写。

因为深渊页面的代码已经很完善了，主要就是如何显示如何排版，即使是完全重写的技术难度对我来说应该也不会非常大，所以就着手做了

作为重写的一个部分，今晚自己糊了一个用来显示深渊星数的字体`Genshin Abyss`，这个这个文字对应的字符是符号`*`。因为只有这一个字，所以字体只有不到一个文件page（4kb）的大小。

字体效果是这样子的
![image](https://user-images.githubusercontent.com/9006264/137637773-ee55f6cb-0271-453a-94bf-9dea32036574.png)

目前的风格打算向米游社靠齐，设计稿我也才新建文件夹，应该会作为一个长期todo了。

![image](https://user-images.githubusercontent.com/9006264/1

[2021-10-18 00:37] Arondight opened #235 "增加命令类型，把配置文件的硬编码集中到代码里，对用户隐藏"
[code]

[code]

我更倾向后者，但是前一种代码写起来不啰嗦

[2021-10-18 00:47] Arondight commented on #235
管理命令类型叫 switch 好一点，option 是个多选一，switch 是个开关

[2021-10-18 01:10] Arondight commented on #235
[code]

[2021-10-18 12:34] AzusaYukina opened #236 "希望添加更直观的本地调试功能"
反复登录调试新功能很容易被腾讯判定为机器人账号，希望可以添加更简单直观的本地调试的方法。
比如通过本地端口向 bot 直接发送本地消息并且在控制台查看返回。（不过似乎需要建立一个文件夹来看返回图片）

[2021-10-18 15:43] Arondight opened #237 "配置文件两处正则修改"
1. 功能入口从字符串字串匹配改为正则匹配， `@群友的 角色` 当前写不出入口，很尴尬
2. 捡破烂模式 `.+` 尽可能地改为 `\S+`

[2021-10-19 00:03] Arondight opened #238 "两种情况下 cookies 数据库中标记失效"
1. 发现无效 cookie ，并写入 cookies_invalid 时 #175
2. 发现超过使用次数限制时 #228

[2021-10-19 00:05] Arondight commented on #228
我先这么改试试，因为超限是米游社的报错，bot 只是把错误发送到 qq 上，真的米游社有问题的话我也无能为力，如果这么改了还存在我再查一下 cookies.json 中 user 和 cookie 俩字段的对应关系

[2021-10-19 00:11] Arondight commented on #238
当前的 detail.js 的失效 cookie 判断和插件的错误处理也啰里八嗦的而且重复代码很高，尽量精简一下

[2021-10-19 12:30] Arondight opened #240 "数据结构 options 优化"
`options` 应该把所有 object 合成一个，不应该存在数组，真是写的一坨💩。

https://github.com/Arondight/Adachi-BOT/blob/c4c85d1355739434c5771bf529fa01ebda3abdf6/src/utils/config.js#L37

https://github.com/Arondight/Adachi-BOT/blob/c4c85d1355739434c5771bf529fa01ebda3abdf6/src/utils/config.js#L378-L390

https://github.com/Arondight/Adachi-BOT/blob/c4c85d1355739434c5771bf529fa01ebda3abdf6/src/utils/config.js#L713-L717

https://g

[2021-10-19 14:55] #237 closed, assigned to Arondight

[2021-10-19 14:55] #240 closed, assigned to Arondight

[2021-10-19 16:17] Arondight opened #242 "所有类型为 switch 的功能全部转化为 option"
[code]

内部转换为下面的结构。

[code]

从此转换后的数据结构中， `type` 不再有可能为 `switch` ，逻辑处理起来更加统一和简单，这是一件好事。

---

目的是把所有的硬编码集中到一处，下面的硬编码 `on` 集中到 `config.js` 的数据转换逻辑中。

https://github.com/Arondight/Adachi-BOT/blob/7d1e29eaf330b9cf3201f5344bd44fbcfdbd4677/src/plugins/master/index.js#L7

这样一来，所有的硬编码全部集中到了一起，这是一件好事。

[2021-10-19 18:26] zhanshenhgy opened #244 "机器人不回复我"
![image](https://user-images.githubusercontent.com/58660286/137968936-32cc8676-8736-422c-94a5-ae851bd389ef.png)

[2021-10-19 23:18] Arondight commented on #244
#66 自行解决依赖 `libatk-bridge-2.0.so.0`

[2021-10-19 23:18] #244 closed, assigned to nobody

[2021-10-20 04:24] FengLing11 opened #245 "在禁用了群的游戏数据权限之后，使用米游社来查询信息时会报错，但是不影响使用"
TypeError: Cannot read properties of undefined (reading 'sendMessage')
    at sendPrompt (file:///E:/Adachi-BOT/Adachi-BOT/src/utils/auth.js:4:13)
    at Plugin (file:///E:/Adachi-BOT/Adachi-BOT/src/plugins/card/index.js:28:11)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)
    at async Module.Wrapper (file:///E:/Adachi-BOT/Adachi-BOT/s

[2021-10-20 04:49] Arondight commented on #245
改完了，最迟明天推上来

[2021-10-20 06:32] #245 closed, assigned to Arondight

[2021-10-20 10:12] zhanshenhgy opened #248 "作者大大怎么自定义聊天回复内容啊"

[2021-10-20 11:46] zhanshenhgy commented on #248
多谢

[2021-10-20 12:55] #248 closed, assigned to nobody

[2021-10-20 13:07] Mark9804 commented on #234
我是卡在组件这里了，理论上这套设计只需要两个组件：
这个
![image](https://user-images.githubusercontent.com/9006264/138098139-c1590ca4-020c-4b7f-9f75-aa5f8079fdc4.png)
还有这个
![image](https://user-images.githubusercontent.com/9006264/138098086-4d370d67-59d8-4b73-bd0a-c7065922ab02.png)

数值可以直接传递给组件，毕竟设想中只有三个变量：
* `image url`
* `rarity`（这个好像是通过`:v-bind`写到网页的`class`里面就可以了，后面的活交给CSS来干）
* 数据显示

理论上是这样的，现实是看不懂组件的组成，完全不会写

[2021-10-20 15:36] Arondight commented on #234
啊这，我们公司的设计都没你这么专业，我感觉你毕业甚至可以搞搞这些

[2021-10-20 15:40] citydirector opened #249 "信息发送频率限制"
添加求签/roll等等娱乐功能的使用次数限制，以及频率等相关配置；

求签内容可以自行增删

[2021-10-21 01:27] KaguraSayuki opened #250 "切换历史卡池功能（自定义卡池）"
如题，在不少用户群中反馈得知希望可以使用历史卡池抽卡。尽管已经自行添加，但仍然希望这个项目之后能提供历史卡池。

[2021-10-21 03:01] Arondight commented on #250
都一万个池子了，切换卡池是不可能了，打算以后加个自定义卡池，配套的有一个 yaml 配置文件，短期内不打算加

[2021-10-21 04:01] AzusaYukina commented on #250
自定义也是个不错的解决方法，现在的改起来还是不那么方便。感谢回复。

[2021-10-21 09:57] Arondight commented on #250
我觉得完全搞卡池复刻没啥必要，不是喜欢抽没 up 的角色爽一下么，那就应该随便抽，每一抽都出金，一个十连七个七七，完全搞一个抽卡概率都一样的我感觉没啥意义的……

[2021-10-21 10:08] AzusaYukina commented on #250
就我个人使用和开发 bot 的情况来看，这样的事情就交给 Master 们去考虑吧，开发者提供一个接口和示范文件就足矣。

[2021-10-21 10:10] Arondight commented on #250
新建文件夹了

[2021-10-21 10:56] Arondight opened #251 "关于周本武器天赋的想法"
当前是直接扒了米游社的图，爽是挺爽，但是一旦这个作者停更了并且没有其他合适的更新图就很麻烦（这个大小合适，有的太大了几十艾亩）……

解决的办法有以下几个：

1. 直接无头浏览器渲染三张图，这个维护起来简单只需要写好配置文件即可，但是性能低并且当前我们根本没有这么做的精力和技术能力，直接否掉
2. 也找个地方画个图，可以扔在阿里云 oss 上，当成三方 api 使用，但是这个也有不少劳动在里面，而且维护成本很高，并且得自己保证 api 稳定
3. 改成文字，因为过长，需要改成几个功能，今天、明天、昨天、周几后跟天赋、武器，维护简单，但是周本太过冗长，另外有时候需要好几个回复才能拿到自己想要的信息，容易刷屏，并且得到的回复不像一个总图一样全群的人都能看，一个人问了往往第二个也要问
4. 老天保佑米游社总有人去做一个大小合适的汇总图（我最倾向这个），本地缓存性能够好，够清晰，无任何维护成本，

[2021-10-21 12:21] #249 closed, assigned to Arondight

[2021-10-21 13:09] #242 closed, assigned to Arondight

[2021-10-21 13:32] citydirector opened #252 "[疑问] 关于复读的概率支持小数"
复读的概率似乎不支持小数的样子（问题起源于某个人提议把概率设置成0.6%）

另外复读能否简单实现单独屏蔽某个QQ账号（包括群里实现）

[2021-10-22 01:57] #251 closed

[2021-10-22 08:42] citydirector opened #254 "[建议] 增加搜索米游社功能..."
简单来说就是调用米游社的搜索接口（

[2021-10-22 09:39] #254 closed, assigned to nobody

[2021-10-22 10:44] #234 closed, assigned to mark9804

[2021-10-22 11:39] mark9804 opened #257 "【todo】genshin-overview模组：玩家信息页面重新设计"
https://github.com/Arondight/Adachi-BOT/pull/229#issuecomment-945034960

技术突破了，现在有能力了（大概有，希望不要打脸）

还是先做设计图，征求一下意见，然后开工

还是参考米游社来写，截图太长了就不直接link了
https://user-images.githubusercontent.com/9006264/138446465-3a373a77-a022-42b1-a04a-734f6cc7517c.jpeg
https://user-images.githubusercontent.com/9006264/138446480-2759ec4f-4639-4ad8-a81c-9d08e3fb6d6a.jpeg

关于诚哥壶我的想法是这样，我感觉四个洞天除了名字不一样其他的没差啊，就不需要写四遍洞天仙力是多少多少

[2021-10-22 12:07] citydirector opened #258 "深渊新界面网格没对齐"
实际上挺简单，“最多击破” 那个区域角色列表不够长的话，上方的战绩区域则会空间不够
![image](https://user-images.githubusercontent.com/45933075/138450795-6753fc32-b297-4f53-b064-e243c5a05b75.png)

[2021-10-22 13:11] #252 closed, assigned to Arondight

[2021-10-22 15:23] #258 closed, assigned to mark9804

[2021-10-22 16:05] mark9804 opened #261 "【bug】功能帮助会把command入口中的正则原汁原味的呈现到用户面前"
可能会让用户感到迷惑，但是正则又不能很好的处理成plain text，所以建议读取`name`字段来解决这一问题

![image](https://user-images.githubusercontent.com/9006264/138486914-70347440-4c04-47ed-8bf2-4ca38da439f0.png)

[2021-10-22 16:23] #261 closed, assigned to mark9804

[2021-10-22 17:48] Xm798 opened #264 "打不满深境时新样式会出现留白和顺序错位"
问题：深境新样式对于没打满渊月螺旋9-12层的用户会出现大面积留白，对比度过高，非常不美观。且顺序也比较容易使人误解(指10层出现在了12层的位置)。如下图所示
![IMG_20211023_014004.png](https://i.loli.net/2021/10/23/HskBP5aK238bQDZ.png)
建议：即使没打的层数，依然保留卡片，只不过信息为空(或者显示未挑战的提示），避免出现大量刺眼的留白。且顺序应当依次出现。

@Mark9804

[2021-10-23 00:39] Mark9804 commented on #264
在修了在修了.jpg

深渊数据的读取结构偷懒用的原来的，现在重新写需要一点时间，应该能写出来吧，应该能

[2021-10-23 00:51] Mark9804 commented on #234
感谢，那 #229 的问题看来就只能通过加粗来解决了，但霞鹜mono就这一个字重，我再考虑一下换成非等宽版本的效果如何

[2021-10-23 02:50] mark9804 opened #265 "【bug】圣遗物岩本刷取异常"
`圣遗物 岩本`不被识别，`圣遗物 5`会返回上一次刷取的结果

￼![image](https://user-images.githubusercontent.com/9006264/138540002-7b340736-570e-4cb5-a54c-afd4941566a5.jpeg)
![image](https://user-images.githubusercontent.com/9006264/138540004-1a560453-d3fe-454c-b773-79053843a692.jpeg)

[2021-10-23 03:17] #264 closed, assigned to mark9804

[2021-10-23 03:37] #265 closed, assigned to Arondight

[2021-10-23 04:37] Mark9804 opened #270 "使用 Firefox 作为无头浏览器时，图片渲染不正常"
不支持 Firefox ，请换成 Chrome 或者 Chromium 。

---

<details>
  <summary>已经过时的文档</summary>

如果在[部署项目的过程中](https://github.com/Arondight/Adachi-BOT#%E9%83%A8%E7%BD%B2%E9%A1%B9%E7%9B%AE)，用户出于种种原因使用了`Firefox浏览器`作为`render.js`的渲染工具，那么在当前（Firefox 93.0）版本下**一定会出现该问题**：

* 深渊图片渲染不正常，如图
![image](https://user-images.githubusercontent.com/9006264/138542045-47253b1c-e964-4c2f-aa48-af6e448ed3c4.png)

* ~~将来的玩家信息页面也不能够正

[2021-10-23 05:02] mark9804 opened #271 "如果用户玩猴戏，深渊显示会不正常"
我也不知道怎么描述这个bug，但它确实存在
![image](https://user-images.githubusercontent.com/9006264/138543131-7a91d810-a4bf-4371-8874-2600b4341ead.png)

[2021-10-23 05:31] Xm798 opened #272 "关于前端字体的错误字形显示"
当前前端渲染字体使用的是`SourceHanSans-Regular.otf`，但是该字体汉字的字形不是简体中文的正确字形，而是日语中的中文字形，是一种不符合规范的错误的显示方法。

以“确”为例，该字体(图1)显示的为日文字形，而正确的简体中文字形应如图2所示：
![image](https://user-images.githubusercontent.com/48074861/138543826-a43ac094-28d8-4b92-8f80-6998ece45568.png)

![image](https://user-images.githubusercontent.com/48074861/138543849-b2878b50-b23f-4c12-bf1d-3254a49b9a02.png)

再以“深”为例，该字体(图3)显示的为日文字形，而正确的简体中文字形应如图4所示：

[2021-10-23 05:32] #271 closed, assigned to mark9804

[2021-10-23 05:38] #272 closed, assigned to mark9804

[2021-10-23 05:46] Xm798 opened #274 "关于圣遗物评分算法"
好奇当前圣遗物评分调用的是API还是本地算法，感觉略有些不合理。（虽然确实是仅供娱乐罢了

![image](https://user-images.githubusercontent.com/48074861/138544204-f29ce5fa-2cad-47f4-ac03-c33d9ef22e63.png)

[2021-10-23 14:13] Arondight opened #275 "所有配置文件处理集中到 config.js"
是时候把圣遗物配置读取和处理也放进来了

[2021-10-24 00:54] Arondight opened #276 "网络重连后崩溃"
群里看到的图

![9AF6004D-AF71-4704-A171-52249470D97C](https://user-images.githubusercontent.com/13673702/138575772-40e56fff-68a5-4857-9c47-22985140afd4.jpeg)

[2021-10-24 01:05] Arondight commented on #276
禁言检测做成函数，目前逻辑分散在两个文件里

[2021-10-24 03:54] #238 closed, assigned to Arondight

[2021-10-24 03:59] Arondight opened #277 "Cookie 超过限制后不具有删除最后一个无效 Cookie 绑定关系的能力"
当前数据库有问题，需要新增一个字段后才能提供类似 `deleteLastCookieRecord (cookie)` 这种 API 。

#228

[2021-10-24 04:48] #277 closed, assigned to Arondight

[2021-10-24 04:56] Arondight opened #280 "资源更新脚本添加下个版本的新东西"
- [x] 角色
- [x] 武器
- [x] 素材

忘了现在游戏啥版本了，标题就这么写吧

[2021-10-24 12:03] Oyuanchu opened #281 "大佬看一下怎么操作"
$ npm run init

npm WARN exec The following package was not found and will be installed: node

[2021-10-24 12:45] #281 closed, assigned to nobody

[2021-10-24 13:43] #250 closed, assigned to Arondight

[2021-10-24 14:10] Arondight opened #283 "彩蛋卡池添加自定义星级"
当前所有的都当做五星，感觉有点不适合

[2021-10-24 14:23] #283 closed, assigned to Arondight

[2021-10-24 14:50] mark9804 opened #286 "大部分角色卡池图片尺寸不对"
可能和 #156 的 `3.1 缩放至特定尺寸` 有关，我这辈子都没见过这么多金
![image](https://user-images.githubusercontent.com/9006264/138599346-17a81e78-b769-4643-9b9b-39caa4dc1132.png)
![image](https://user-images.githubusercontent.com/9006264/138599378-8a24ef15-340d-4cde-a923-d9bfc63f058c.png)
![image](https://user-images.githubusercontent.com/9006264/138599392-51cef834-6e78-4f57-b123-b7472cd68a67.png)

[2021-10-24 16:29] #286 closed, assigned to mark9804

[2021-10-25 01:03] mark9804 opened #289 "genshin-card.html和genshin-info.html是不是有一个是多余的"
这两个网页看起来一模一样，但是调用`genshin-info`的脚本`src/plugins/package/index.js`好像要比`src/plugins/card/index.js`新一些
https://github.com/Arondight/Adachi-BOT/blob/master/src/views/genshin-info.html
https://github.com/Arondight/Adachi-BOT/blob/master/src/views/genshin-card.html

[2021-10-25 01:41] #289 closed, assigned to nobody

[2021-10-25 07:18] Xm798 opened #292 "非管理员不响应“管理”命令"
如题所述，群友出于好奇会尝试“管理”获得管理命令，然后不停尝试其中的管理命令。建议非管理员直接禁止使用“管理”命令。

[2021-10-25 07:41] #292 closed, assigned to nobody

[2021-10-25 11:22] #257 closed, assigned to mark9804

[2021-10-25 14:55] Arondight opened #296 "增加字段显式指定插件和功能是否显示在帮助信息中"
### Discussed in https://github.com/Arondight/Adachi-BOT/discussions/295

<div type='discussions-op-text'>

<sup>Originally posted by **ID114514** October 25, 2021</sup>
输入help后弹出的菜单列表太长了，想适当减掉一部分长度</div>

[2021-10-25 15:46] #296 closed, assigned to Arondight

[2021-10-26 02:53] mark9804 opened #299 "查询米游社信息有概率不显示图片和文字"
所有遇到这个问题的人第二遍都成功了，不知道是某个未知原因错误还是网络问题，bot后台显示正常获取了用户信息
但是如果是网络问题为什么所有图片都能正常显示呢，想不明白
不知道其他用户有没有遇到这个问题

![image](https://user-images.githubusercontent.com/9006264/138800703-c12728e4-892e-44ad-a618-e63d7554f64b.png)

[2021-10-26 05:58] citydirector opened #300 "关于体力、委托和探索派遣功能..."
最近发现米游社上线了可以查看这三个数值的功能，有无考虑添加查看和消息提醒功能？

消息提醒是指比如体力满了或者派遣满了进行提醒，可以用定时查询或者缓存&本地计算时间实现

[2021-10-26 06:28] #300 closed, assigned to nobody

[2021-10-26 12:41] Arondight opened #304 "插件自定义 puppeteer 缩放比"
@Mark9804 我发现统一缩放比有问题，我缩放到 1.5 ，米游社图片还是大的离谱，深渊就又开始模糊了

[2021-10-26 13:52] #304 closed, assigned to Arondight

[2021-10-27 01:05] #299 closed, assigned to Arondight, 490720818

[2021-10-27 03:18] davidelectricfree opened #305 "更新到最新的代码，程序打不开了"
更新到最新的代码，npm run init 程序打不开了

[2021-10-27 03:20] #305 closed, assigned to nobody

[2021-10-28 07:16] Arondight opened #310 "如何获得滑动验证码 ticket"
现已支持扫码登录，推荐在 [setting.yml](config_defaults/setting.yml) 中使用扫码登录，避免出现 ticket 验证。

[code]

---

你有两种方式：

1. （推荐）使用 [TxCaptchaHelper](https://github.com/mzdluo123/TxCaptchaHelper) ，在[这里](https://github.com/mzdluo123/TxCaptchaHelper/releases)下载 apk ，安装到安卓手机上。复制给出的链接地址，在“滑动验证助手” APP 中进行验证，即可得到需要的 ticket ，这种方法可以模拟真机滑动，有效降低登录异常 237 的概率。
2. 访问给出的链接地址，然后浏览器中使用开发者模式，手动拿到验证请求中返回的 ticket 。

随后粘贴 ticket 文本到终端，

[2021-10-28 07:49] Xm798 opened #311 "ExperimentalWarning: stream/web is an experimental feature"
`2|bot  | (node:3301) ExperimentalWarning: stream/web is an experimental feature. This feature could change at any time
2|bot  | (Use `node --trace-warnings ...` to show where the warning was created)`

查看日志发现最近bot经常因为以上错误异常退出

[2021-10-28 08:39] Alpiiine opened #312 "加入自动撤回功能"
场景：
多次使用抽卡 / 查询等功能后，聊天记录全是抽卡 / 查询图片。

需求：
加入自动撤回功能，可以设置xx分钟后自动撤回机器人发言以及相对应的命令。
该功能需要将机器人设置为群内管理员才可用

[2021-10-28 14:40] Arondight opened #313 "更换 image-cache 以去除 npm 安全警告"
之前我提了 [issue](https://github.com/nyancodeid/image-cache/issues/7) 但是似乎作者并不关心……我打算换成 [imgcache.js](https://github.com/chrisben/imgcache.js) 。

[2021-10-28 15:30] mark9804 opened #314 "功能请求：查询信息失败时提示可能的猜测"
写了一个原型，放在https://github.com/Mark9804/Adachi-BOT/commit/0057416a5c9aa52c21caeba1a195184c17b91474
![image](https://user-images.githubusercontent.com/9006264/139287747-9a5818c1-867c-412c-bdae-eeedada2e252.png)

[2021-10-28 17:25] #314 closed, assigned to Arondight

[2021-10-28 18:20] Sucharles opened #316 "个人信息卡片：引用数据与模板不匹配"
![image](https://user-images.githubusercontent.com/45457936/139312973-cc969251-f7fe-4038-a31e-b906ac6c9236.png)
雪山与璃月的颠倒了 @Arondight @490720818

[2021-10-29 02:16] #316 closed, assigned to 490720818

[2021-10-29 04:17] Mark9804 opened #317 "图像类资源文件制作规范"
本文为 #57 的延伸内容，目的是在支持[网页部分](https://github.com/Arondight/Adachi-BOT/tree/master/src/views)正常工作的基础上，追求相对一致的视觉观感和用户体验。

## 角色

### 角色名片

尺寸应该为 `840×400` 像素。如果找到的图片不是这个尺寸，保持这个比例也可以。可以在[这里](https://genshin.honeyhunterworld.com/db/char/characters/?lang=CHS)或者[这里](https://ambr.top/en/archive/avatar)找到相关角色的名片信息。他们的尺寸都是 `840×400` 。

### 角色正面半身照（证件照）

尺寸为 `256×256` 像素。如果找到的图片不是这个尺寸，那么这个来源不可信，也不应该被提交。如果实在没有最

[2021-10-29 05:22] FengLing11 opened #318 "查询游戏数据的时候显示米游社接口报错："
![CMVJI~}Q OTIY8RTGJJA1J9](https://user-images.githubusercontent.com/92540917/139380211-4f8315ff-ef72-4a81-bbca-5b02642f3e63.png)

有些UID可以查有些查不了

[2021-10-29 06:15] mark9804 opened #319 "新增的别名条目可能是无效的"
刚刚一时间没找到那个commit，我印象里在某一个commit之后，在查询假名列表之前输入会全部转换为小写

所以https://github.com/Arondight/Adachi-BOT/commit/e01314f129b45a257d1a7f63635a519f7c72e21a 这个commit提交的别名条目可能一个都不会被使用到

然后其实也可以增加拼音或者拼音缩写，比如说胡桃→hutao，阿贝多→abd，这种用的可能反而多

@Xm798

[2021-10-29 07:34] #319 closed, assigned to Xm798

[2021-10-29 13:33] mark9804 opened #323 "特定账号深渊查询出错（json文件异常）"
报错全是chrome extension报错，网页没有报错
![image](https://user-images.githubusercontent.com/9006264/139443221-6c927042-c3b1-47de-80bf-43936f1c754d.png)
Json文件没有相关记录，bot后台正常
![image](https://user-images.githubusercontent.com/9006264/139443372-2f4545ed-94d3-49bf-8dac-9b3b863b4ed1.png)
![image](https://user-images.githubusercontent.com/9006264/139444264-187a253b-d0e7-47ae-891a-49ceb79932dd.png)

`深渊 110702115`可

[2021-10-29 14:52] #323 closed, assigned to mark9804

[2021-10-30 00:20] ID114514 commented on #300
这个项目好像有点问题，合入后查询直接报错

[2021-10-30 06:40] Mark9804 commented on #274
我在我自己的仓库开了一个圣遗物评分bug汇总（ https://github.com/Mark9804/Adachi-BOT/issues/22 ），这样我可以一边收集数据并且其他人也不会持续收到邮件轰炸，也欢迎补充。其实基本上都是强化等级没有正确识别的问题

我用来输出强化等级的代码commit在https://github.com/Mark9804/Adachi-BOT/commit/51b191e82dbedd74ec7e8a1758d1ffaf3be63584 ， https://github.com/Mark9804/Adachi-BOT/blob/51b191e82dbedd74ec7e8a1758d1ffaf3be63584/src/plugins/rating/index.js#L179-L180

[2021-10-30 14:24] Arondight commented on #275
- [ ] artifacts.js 使用转化完成的数据结构

[2021-10-30 16:14] #275 closed

[2021-10-31 07:35] #280 closed

[2021-10-31 08:11] Arondight commented on #313
这居然是个 jq 的包，看来得找找其他的模块，或者手撸一个缓存机制

[2021-10-31 10:16] #313 closed

[2021-10-31 10:18] Arondight commented on #313
使用自己实现的缓存机制替代了 image-cache 之后， `npm install` 不会再给出安全性警告了， GitHub 也不会整天警告项目有安全性问题了。

[code]

[2021-10-31 10:28] #318 closed

[2021-10-31 10:28] Arondight commented on #318
虽然我还没有理解这个过程，不过还是把这种 cookie 判定为无效 cookie 了

[2021-10-31 10:33] Mark9804 commented on #318
可能意思是“过于干净的账号（不仅实名制信息，连米游社用户名都没有填写）”？

[2021-10-31 10:39] Arondight commented on #274
现在评分插件经过两次改良之后，除非是圣遗物 ocr 出问题，否则都能返回一个较为合理的评分了。

目前的问题就是有些特定套装的属性权重太低，例如风套的元素精通，例如魔女套的大生命，我在想与其做一个评分算法出来，不如做一个评分的二次修正，当遇到这些特定套装时，根据某些特殊词条把 API 返回的评分修饰一下。

做评分算法实际上和这种修饰是等级的，因为如果可莉特调跑路了，我们手里只会有一个做不了任何事情的算法。

[2021-10-31 10:44] Arondight commented on #313
这个我想看看是哪个包的问题，不过肯定是我们控制不了的。

[2021-10-31 10:49] FengLing11 commented on #318
之前登录进去同意了个协议，像这样的
![F2A32$6%RW`X}{I62) V~KC](https://user-images.githubusercontent.com/92540917/139579120-8a77fbaa-a1ff-44ac-8ee1-9a70e858968b.png)

[2021-10-31 10:53] Mark9804 commented on #313
看名字的话，uuid是构建请求报文的时候用的，以前我写米游社自动签到的时候用到过，实际上可以不用这个包完全随机

[code]

[2021-10-31 10:57] Arondight commented on #313
这个项目里没有直接使用， `uuid` 是 `pm2` 的一个依赖，但是我没有明白为什么他没装最新的版本

[2021-10-31 10:58] Arondight commented on #313
我想起来了 `^` 后面的版本号是装最新的小版本，不跨大版本

[2021-10-31 11:02] Arondight commented on #311
作者自己的 pr 已经合入了，看起来坐等一个新版本就可以了

[2021-10-31 16:00] Arondight opened #329 "如果 fetch 工作了很久，那么或许整个页面加载完数据都不会被读入"
归根结底， fetch 是一个异步方法，既然有了一个异步方法，那么就永远无法保证其顺序，如果 fetch 工作了很久，那么或许整个页面加载完数据都不会被读入

_Originally posted by @Arondight in https://github.com/Arondight/Adachi-BOT/discussions/328#discussioncomment-1566220_

[2021-10-31 16:03] Arondight commented on #329
下面的数据在 `computed` 中不能保证是已经读取完成的，目前读一个文件出问题的概率很低，多加一个文件就会大概率出现数据 undefined 。

https://github.com/Arondight/Adachi-BOT/blob/3778a4bf405ed11b18a66e3a16e784eaa0f0e3c8/src/views/genshin-artifact.html#L105-L120

[2021-10-31 16:16] Arondight commented on #329
我在想这个问题有可能是无法解决的，因为 vue 的 hook 有可能就不能保证顺序执行，看样子好像是某个阶段启动某个 hook ，没说会等上一阶段的执行完毕

[2021-10-31 16:20] Arondight commented on #329
我在想是不是这个项目的使用方式有问题，我感觉我得学学 vue 🤨

[2021-10-31 16:29] Mark9804 commented on #329
这个项目的vue的部分确实挺不成熟的，感觉我们几个人里面最能写的是 @490720818 这个老大哥

[2021-10-31 16:44] Arondight commented on #329
我泠帮忙看看这问题咋处理呀 @impasse

[2021-11-01 10:10] Arondight commented on #329
问了几个老大哥，似乎 vue 在 v-bind 读到数据后（无论是不是 undefined ），当 mounted 中函数工作完成后，v-bind 会再次读入数据。

**但是**当前 fetch 是异步的，所以函数执行完毕时数据读取极大概率尚未完成，再次刷新时可能仍然会读到 undefined （或者其他初始化的数据而非 json 中的数据）

[2021-11-01 15:44] Arondight opened #331 "深渊时间记录表述带有误导性"
每层的开始时间甚至都远早于 9-1 的开始时间。

![图片](https://user-images.githubusercontent.com/13673702/139699095-5620a9d1-01d8-457c-b930-c75dcfaf8e4b.png)

[2021-11-01 15:45] Arondight commented on #331
哦，原来上面的是日期，格式跟时间一模一样，我以为一个开始一个结束呢

[2021-11-01 15:47] Arondight commented on #331
或许格式清楚一点比较好？例如 `2021-11-01 23:34:45` 这种

[2021-11-01 16:06] Mark9804 commented on #331
这个我思考过，是故意这么写的，因为
[code]
这两段文字的长度一样，比较美观一些

不过这么一说，确实有造成误导的可能性，日期使用斜杠分割或者短横线分割会好一些

[2021-11-01 16:07] Mark9804 commented on #331
借这个机会我重新微调一下深渊的排版

[2021-11-01 17:39] #331 closed

[2021-11-02 00:13] Arondight opened #334 "不在命令中强制使用空白字符分割参数"
这样可以避免硬编码而且能把关键词抓出来，只要正则写的够好，我想也不会频繁出现误响应的问题

例如之前 `我的 胡桃` 是用若干个空白字符分割，既然已经知道了 name
 是`胡桃` ，似乎没必要非得抓着空格不放。

另外也带来了两个问题：

1. 目前不少插件没有做入口验证，按照约定应该加一个，但是当前只有口头约定，加不加没有什么影响，不加还清晰一些。但是如果要改正则，有的插件不加功能验证反而会造成困惑
2. 正则抓关键字应该放到入口验证的块内，最好每个入口一个独立的函数处理，工作量可能会稍微大一些

[2021-11-02 00:15] Arondight commented on #334
我觉得还需要在 utils 下写一个关键词抓取函数，给出用于分割的 name 例如 `我的` ，给出要抓关键字的数量其后若干个或者抓取所有

[2021-11-02 00:22] Arondight commented on #334
`function findKeywords (msg, name, delimiter = [])` 差不多是这种感觉，不需要告诉函数要抓几个关键字，全都切分塞进一个数组要用几个调用者本身就知道，这个参数多此一举。

只是上班途中的一个想法，细节我还得想想，不一定就这么好做。

[2021-11-02 00:36] Arondight commented on #334
`function findKeywords (msg, name, keywords = [])`

`const words = findKeywords(msg, name, [“\d+?”, “(“ + on + “|” + off + “)”]); # 点歌权限 12345678 on`

`const words = findKeywords(msg, name, [“\d+?”, “.+”]); # 回话 12345678 第一句话 第二句话 第三句话`

[2021-11-02 00:41] Arondight commented on #334
抓关键字时每抓出来一个都裁剪字符串再进行下一次抓取，直到作为返回值的数组填充完毕

[2021-11-02 00:42] Arondight commented on #312
最迟这周末可以做完，这段时间工作日估计没精力了，又到了领导刷 kpi 的季节

[2021-11-02 06:37] FengLing11 opened #335 "使用指令 我的 <> 问题"
![7IM@VRK6ZM``9@D8NH%4KSR](https://user-images.githubusercontent.com/92540917/139797816-2d9efca7-193f-49a9-8595-ff903425cfe4.png)
这号没甘雨
是BUG吗。

[2021-11-02 06:41] Arondight commented on #335
这个提示要改一改的

[2021-11-02 11:17] Arondight commented on #335
得想办法做个字符串拆分，字符串不是别名或者本名是根据切分的数组进行匹配

[2021-11-02 14:44] Mark9804 opened #336 "card插件：如果缓存中写入了错误的数据，则会读取错误数据缓存并展示"
# 预期的结果
`card`插件检测到用户对应缓存无效时，强制拉取新数据并覆盖无效缓存数据
# 实际结果
`info.json`：
![image](https://user-images.githubusercontent.com/9006264/139869379-d6e41efd-80f0-4811-8170-1638dbdb8d9c.png)
用户重复`米游社`指令，则调取该错误缓存，并返回：
![image](https://user-images.githubusercontent.com/9006264/139869531-251eb1d4-be57-4feb-9d0b-06e0f3a4523e.png)

[2021-11-02 16:10] Arondight opened #337 "issue 清理计划"
优先级从高到低。

- [x] #336 `detail.js` 的 `detailPromise` 中判断使用缓存前作一个数据合法性判断，非法数据不使用缓存
- [x] #335 在尝试给出建议的函数中首先将名字切分（例如 `[...character]`），然后在名字不为别名和本名的情况下根据切分的单个字符给出建议，需要修改插件 character 和 overview
- [x] #312 `app.js` 中维持一个全局 object ，根据 message id 和时间戳设置定时函数做删除
- [x] #311 上游已经发版本了，测试一下是否修复了这个问题
- [x] #334 再想想，这个改动还是很大的
- [x] 一斗的突破材料好像加了个新 boss 有空再看看补一下材料名
- [x] #329 有空再看一眼

这周计划至少做完前四个。

[2021-11-02 16:30] Mark9804 commented on #337
[兽境王器 | Honey Impact - Genshin Impact DB and Tools](https://genshin.honeyhunterworld.com/db/item/i_215/?lang=CHS)

一斗出来之前我写一个添加资源的工作流文档，打算研究一下内鬼网的图像素材，尽可能把添加新素材的重复流程自动化，要是能脚本化更好

[2021-11-03 00:41] paiky opened #338 "你好 单是uid指令报错的 是接口出错了还是其他情况呢"
![image](https://user-images.githubusercontent.com/41196775/139970434-19ade433-2aba-4e7b-a809-8b9496ff4a35.png)

[2021-11-03 00:42] paiky commented on #338
试了几次了 也重新改绑米友社id了 不过没用

[2021-11-03 00:43] paiky commented on #338
试了别人uid是可以的

[2021-11-03 00:44] Arondight commented on #338
是最新的代码吗，好像是你这个 uid 对应的米有舍 cookie ，登录之后没有设置昵称什么的，然后 cookie 不能用，我记得最新的代码已经把这种 cookie 禁用了

[2021-11-03 00:45] paiky commented on #338
不好意思我不是使用者哦 我是群友 直接过来反馈了

[2021-11-03 00:45] Arondight commented on #338
https://github.com/Arondight/Adachi-BOT/issues/318#issuecomment-955676826

[2021-11-03 00:46] Arondight commented on #338
那你得联系一下 bot 的主人，让他更新代码，然后 bot 报告无效 cookie 之后把对应的 cookie 换掉

[2021-11-03 00:50] Arondight commented on #338
因为你不是 bot 持有者我先关闭了，如果有问题继续在这里回复

[2021-11-03 00:50] #338 closed

[2021-11-03 01:16] paiky commented on #338
你好 我尝试自己部署到服务器 请问要怎样引入到群里面呢

[2021-11-03 01:48] Arondight commented on #338
登 bot 加，我没写指令加群

[2021-11-03 01:52] paiky commented on #338
是需要npm run login指令吗 我在linux运行这个指令会出错

[2021-11-03 01:57] Arondight commented on #338
bot 起来后，手机上 bot 的qq 号加群

[2021-11-03 01:58] paiky commented on #338
原先已经在的群不生效吗 要重新入群的？

[2021-11-03 01:59] paiky commented on #338
然后我还想问下 cookie文件需要添加cookie吗 以及需要登录后的cookie还是不用登录后呢

[2021-11-03 02:00] Arondight commented on #338
不需要

需要，具体看 #120

[2021-11-03 02:06] paiky commented on #338
我现在也换成带有token的cookie保存在文件中了，setting文件中的type设置为1（安卓手机），返回根目录重启机器人后显示online状态，然后qq在群里需要打什么指令触发机器人呢，我发送help没有什么反应哦

[2021-11-03 02:07] paiky commented on #338
登录bot是怎样的形式呢QAQ

[2021-11-03 02:11] Arondight commented on #338
后台日志发一下

[2021-11-03 02:12] paiky commented on #338
[root@VM-4-12-centos Adachi-BOT]# npm run log

[TAILING] Tailing last 100 lines for [bot] process (change the value with --lines option)
/root/Adachi-BOT/bot.pm2/logs/bot-error.log last 100 lines:
0|bot      | (node:8633) ExperimentalWarning: stream/web is an experimental feature. This feature could change at any time
0|bot      | (Use `node --trace-warnings ...` to show where the warning was crea

[2021-11-03 02:15] Arondight commented on #338
1. 你需要安装一个无头 chrome ，详见[这里的隐藏部分](https://github.com/Arondight/Adachi-BOT#%E9%83%A8%E7%BD%B2%E9%A1%B9%E7%9B%AE)。
2. 你需要完成 QQ 新设备认证，详见 #310

[2021-11-03 02:21] paiky commented on #338
“随后粘贴 ticket 文本到终端，按下回车键。” 这一步是什么意思呢 我拿到ticket之后如何操作

[2021-11-03 02:23] Mark9804 commented on #338
@Arondight 辛苦了，我来回答吧

[2021-11-03 02:24] paiky commented on #338
实在不好意思

[2021-11-03 02:29] Mark9804 commented on #338
因为QQ异常登录要过一个滑块验证码（就是有时候你会见到很多网页都有一个滑动拼图对到正确位置上的那个），如果你不解决的话不能登录。

当完成滑动之后，QQ的后台网页会向QQ服务器发送一个ticket声明验证通过，我们需要做的就是拿到它，伪装我们是合法的QQ客户端来通过验证。

看起来是你已经拿到ticket了，就直接把你拿到的文本粘贴到正在运行bot的黑窗口当中，然后按下回车提交，bot会处理后续的登录问题。

如果你还没拿到ticket，并且有一部安卓手机，可以下载 [滑动验证助手](https://github.com/mzdluo123/TxCaptchaHelper/releases/tag/1.2) 来完成验证，这对于不了解前端调试操作的人来说更友好

[2021-11-03 02:34] Mark9804 commented on #338
因为距离上一个验证码已经过了一段时间，可能这个滑动验证码已经失效了，需要重新拿一次ticket

如果你刚刚启动bot的命令是`npm run init`，可以用`ctrl+c`来停止当前bot的运行。在这之后，再使用`npm run init`重新运行bot；
如果你刚刚启动bot的命令是`npm run start`，则需要输入`npm run stop`来停止后台bot的运行。因为是第一次操作，所以我建议使用`npm run init`来及时获取bot的反馈。

另外，QQ出现异地登录的情况（或者QQ小号等级太低）会每隔三四个小时被风控系统踢下线，这个状况根据经验一般在一两天之后消失，所以前两天的时候需要经常留意一下

[2021-11-03 02:38] paiky commented on #338
感谢耐心回复。原来是我在init这一步出错了，直接跳出来。具体可能会是什么问题呢？
[root@VM-4-12-centos Adachi-BOT]# npm run init

[2021-11-03T10:36:01.434] [MARK] [Android:1431806554] - ----------
[2021-11-03T10:36:01.436] [MARK] [Android:1431806554] - Package Version: oicq@1.21.2 (Released on 2021/10/10)
[2021-11-03T10:36:01.436] [MARK] [Android:1431806554] - View Changelogs：https://github.com/takayama-lily/oicq/releases
[2021-11-03T10

[2021-11-03 02:42] Mark9804 commented on #338
这个代表你的后台还有一个bot正在运行

跟前面一样，
如果你刚刚启动bot的命令是`npm run init`，可以用`ctrl+c`来停止当前bot的运行；
如果你刚刚启动bot的命令是`npm run start`，则需要输入`npm run stop`来停止后台bot的运行

完成之后，使用`npm run list`看一下返回结果，是不是bot的状态被标记为 stop 。

当后台没有另一个bot抢占9934端口时，就可以正常使用了

[2021-11-03 02:45] paiky commented on #338
哇，感谢正确指引！init成功了，和第一次的init有明显区别，不过显示禁止登录了QAQ
[禁止登录]当前上网环境异常，请更换网络环境或在常用设备上登录或稍后再试。(错误码：237)

[2021-11-03 02:46] paiky commented on #338
我试试别的qq号码 这个号码不是很常用 感谢！

[2021-11-03 02:51] Mark9804 commented on #338
QQ出现异地登录的情况（或者QQ小号等级太低）会每隔三四个小时被风控系统踢下线，这个状况根据经验一般在一两天之后消失，所以前两天的时候需要经常留意一下

马老板的风控我们也无能为力，只能多试几次，或者换一个等级更高的账号，并且建议在原QQ上[打开设备锁](https://jingyan.baidu.com/article/154b4631b8f48969cb8f4178.html)

打开设备锁之后，下一次登录会要求你再次重复刚才的滑动验证流程输入ticket，但是可能可以降低登录不成功的几率，只是可能可以，我们也不知道风控系统怎么工作的

[2021-11-03 02:53] paiky commented on #338
好的 感谢！

[2021-11-03 02:55] Arondight commented on #338
错误码 237 ，验证 ticket 使用 #310 中提到的 app 就行了，这个可以模拟真机滑动

[2021-11-03 02:57] paiky commented on #338
哦哦 好的感谢！

[2021-11-03 04:05] tendapc opened #339 "期待加一个查询实时便签的"
或许只能查询主人的

[2021-11-03 04:10] Arondight commented on #339
这个问题已经被问了很多次了，不会增加这个功能，也不会增加任何收集玩家 cookie 的功能，我觉得这个行为非常离谱，如果自己有需要可以合入[这个](https://github.com/Arondight/Adachi-BOT/pull/301)。

[code]

[2021-11-03 04:10] #339 closed

[2021-11-03 04:13] Mark9804 commented on #339
要不加一个FAQ吧，有很多重复性问题可以写到FAQ里面

[2021-11-03 04:17] Arondight commented on #335
![23FC63D9-B1AB-4811-BD3B-A73A13EEFE53](https://user-images.githubusercontent.com/13673702/140009410-7a1967e0-6d87-41c6-9a18-1bf244001c71.png)

[2021-11-03 04:20] #335 closed

[2021-11-03 04:26] Arondight commented on #335
看上去还行

![CF890922-B574-4F56-9CA7-64D6560307AC](https://user-images.githubusercontent.com/13673702/140009915-ae3278c9-f37f-459f-86fe-00b7c3547a8e.jpeg)

[2021-11-03 04:28] Arondight commented on #335
![315A2A4E-B517-4F17-9BEC-EA8D9F7F2A39](https://user-images.githubusercontent.com/13673702/140010089-0b7192e3-a94d-46fd-89fb-6eeedd5e8951.jpeg)

[2021-11-03 07:05] Arondight commented on #335
![9556ABC5-ADCA-4BB7-A827-543D955F60F0](https://user-images.githubusercontent.com/13673702/140020529-70ac14d8-43f1-4fbb-93f2-f8162816c77d.jpeg)

[2021-11-03 07:17] #336 closed

[2021-11-03 07:18] Arondight commented on #336
划水十分钟改了一下，应该可以了，这问题的改动很小

[2021-11-03 07:19] paiky commented on #338
还有个问题 只能通过init并且不离线开着来运行吗 ctrl c之后start不起来，以及startup好像也没动静

[2021-11-03 09:25] Mark9804 commented on #338
`npm run start`可以在后台启动bot，在这个状态下，你可以：

使用`npm run list`来查看bot的运行状态，以及
使用`npm run log`来查看bot的运行日志

[2021-11-03 09:36] paiky commented on #338
start之后状态显示online，调取数据后查看日志有正常发送图片，但是qq内并没有看到

[2021-11-03 09:43] Arondight commented on #338
QQ有个问题，最终结果就是你在一个电脑上跑 bot 和客户端，客户端有时候收不到图片，其他设备就能看

[2021-11-03 10:05] paiky commented on #338
要如何解决这个问题呢，好像过了一段时间也还是..
[code]

[2021-11-03 10:06] paiky commented on #338
![image](https://user-images.githubusercontent.com/41196775/140041471-ea69e979-b04a-4b91-8c76-dbef5f7e497f.png)

[2021-11-03 10:09] Mark9804 commented on #338
其他的指令有响应吗？

[2021-11-03 10:12] paiky commented on #338
没有响应，而且这个日志输出很快
[code]

[2021-11-03 10:14] Arondight commented on #338
你再贴一个 bot 启动的日志

[2021-11-03 10:15] Arondight commented on #338
无头浏览器少了个库文件的问题解决了么

[2021-11-03 10:16] paiky commented on #338
[code]

[2021-11-03 10:17] Arondight commented on #338
日志上看不到任何配置读入和插件加载，自己查一下吧，应该是你本地删东西了

[2021-11-03 10:18] paiky commented on #338
好像没做任何配置改动哦。。 init初始化的话就可以跑起来

[2021-11-03 10:19] Arondight commented on #338
git status 看一下

[2021-11-03 10:21] paiky commented on #338
git status? 是run list吗？
[code]

[2021-11-03 10:21] Arondight commented on #338
输入 `git status` 然后按下回车键

[2021-11-03 10:22] Arondight commented on #338
输入 `git status` 然后按下回车键

[2021-11-03 10:23] paiky commented on #338
[code]

[2021-11-03 10:24] Arondight commented on #338
那你的日志或许没贴全，npm run log 看一下插件加载是否成功，配置读取是否正常，然后把你无头浏览器少库的问题解决掉

[2021-11-03 10:30] Arondight commented on #338
我觉得这个应当在文档里提及一下，虽然这不是项目的问题，系统管理员需要对自己的系统负责，但是毕竟影响到了项目的正常运行

[2021-11-03 10:30] paiky commented on #338
[code]

[2021-11-03 10:30] paiky commented on #338
好的 谢谢回复

[2021-11-03 10:34] Arondight commented on #338
或者你把你的ip和密码发到我邮箱，我给你看一下，我看你都搞了一天了，搞完了你再改个密码

[2021-11-03 10:34] Mark9804 commented on #338
有没有可能是不能以root用户执行？

[2021-11-03 10:35] Arondight commented on #338
我所有的环境都是 root 跑的

[2021-11-03 10:38] Mark9804 commented on #338
那怕是得实际环境看看了，我觉得之后我们可以把一些问题汇总一下写成FAQ，然后pin上issue页面，降低重复劳动量

[2021-11-03 10:41] paiky commented on #338
实在不好意思 不打扰各位大佬了 我太菜了 周末我再重新配一下 😢

[2021-11-03 10:42] Arondight commented on #338
我个人总是有一种执念，就是 Linux 用户应当完全掌握他的系统并且清楚的知道做了什么和要做什么，所以我写过 windows 下很详尽的部署方法，但是写不出 Linux 的，我总觉得不应该去写这些东西，因为他们是 Linux 用户，而 Linux 用户不需要别人对他的操作方式指手画脚

[2021-11-03 10:44] Arondight commented on #338
既然你用的 centos ，建议完全粘贴复制我的命令，使用系统自带 chrome ，包管理器会为你解决一切依赖问题

[2021-11-03 10:46] paiky commented on #338
我刚踏入社会 希望向您学习

其实基本是按文档安装的 命令也是复制粘贴上 😢

[2021-11-03 10:47] paiky commented on #338
向您学习 👍

其实我基本都是按文档复制粘贴的 😄

[2021-11-03 10:47] Mark9804 commented on #338
要不然折中一下，我在我的fork建一个wiki，提供linux环境下的建议

[2021-11-03 10:48] Arondight commented on #338
实在搞不定了可以给我一个账户密码，测试需要我已经在 centos 上部署过上百次了

[2021-11-03 10:50] Arondight commented on #338
要不然你开一个 issue 记录一下吧，类似于《Linux环境部署常见问题》这种

[2021-11-03 10:53] Arondight commented on #338
这种问题，例如缺失了两个库，那么主流发型版 rpm 系， deb 系， arch 和 gentoo ，基本上都得写一下，那工作量就是 2x4 ，我们完全是无报酬做项目，我个人觉得这些理应是系统管理员基础技能的东西不需要我们去写的

[2021-11-03 10:59] Arondight commented on #337
很遗憾 node-fetch 只是在 github 发版了， npm 中没有发版

[2021-11-03 12:14] Arondight commented on #338
@Mark9804 我更新了文档中的步骤，现在清晰了一些

[2021-11-03 12:33] Arondight commented on #334
@Mark9804 如果我周天做了这个，改动会非常多，你 merge 完毕后，直接再提交一个 revert 即可，这样不会影响到你本地的修改，而且这些我想也不是必需的，只是使用起来稍稍方便了一点，然后就是代码看上去好看了许多，我觉得对用户来说没有什么区别。

[2021-11-03 12:42] Mark9804 commented on #334
这个功能我也需要，周天的时候我自己解决fork的代码冲突问题就可以

[2021-11-03 14:00] Mark9804 opened #340 "overview：潜在的元素overflow问题"
问题不大，暂时没有要立刻解决的必要

雷电将军的命座描述异常的长，有溢出页面的风险，要是之后出一个命座效果描述更长的角色就真要溢出去了

在维持现有视觉元素的前提下重写，背景图片比较复杂，要么把现在的背景图切开来实现自适应，要么直接[生成重复的SVG背景](https://stackoverflow.com/a/56311038)，不用jpg图片了

![image](https://user-images.githubusercontent.com/9006264/140071564-a6c4c2dd-8d05-44a2-b18a-720d4b53776b.png)

[2021-11-03 15:31] FengLing11 commented on #340
雾切之回光直接就溢出了

[2021-11-03 15:32] FengLing11 commented on #340
类似的还有终末嗟叹之诗，松籁想起之时

[2021-11-03 15:35] Mark9804 commented on #340
这几个都没有雷军这么厉害
![image](https://user-images.githubusercontent.com/9006264/140092402-7082b361-c2fb-47ab-96c9-b6b92b458548.png)

[2021-11-03 15:49] FengLing11 commented on #340
我和你查的不太一样啊。

[2021-11-03 16:05] Mark9804 commented on #340
麻烦贴一下图我看看

[2021-11-03 16:46] FengLing11 commented on #340
![63929d15977c855795fb317a49cd78a0](https://user-images.githubusercontent.com/92540917/140104773-9c3a97e2-41fa-416f-9ce2-44416c3aaaf7.jpg
![d8f926240551f7fe3061c019d1804200](https://user-images.githubusercontent.com/92540917/140105020-a432e378-99ad-4d62-ae4f-629ae9f51286.jpg)
)
![f7f2df7d17bc6947e611cba0ca575147](https://user-images.githubusercontent.com/92540917/140105029-8e895268-6faa-4fb8-8533-

[2021-11-03 17:03] Mark9804 commented on #340
麻烦贴一下`git log -1`的内容，这样可以看一下你的代码是不是最新的。

另外可以详细说明一下你的bot运行环境吗，是Windows系统还是Linux系统（是哪个分支），使用的浏览器是默认的chromium吗（如果按照readme安装的话默认就是chromium）

[2021-11-03 17:11] Mark9804 commented on #340
@Arondight 的 bot 上面有这个问题吗，就是`信息 雾切`的显示不正常，我和上面那个老大哥的图不太一样，想看看你那边显示出来是什么样的

[2021-11-03 22:56] Arondight commented on #340
![78411DBF-0250-4C64-9FD1-9AAE8CF3ABCD](https://user-images.githubusercontent.com/13673702/140225574-b3e93795-b1c4-471b-b046-9ba415d8d444.jpeg)

[2021-11-03 23:39] davidelectricfree commented on #340
我的图和上面那个人的一样的，最新的代码，只不过可能是windows系统。

[2021-11-03 23:49] FengLing11 commented on #340
$ git log -1
commit 22d78b8993be4c5a9130d28196f78eeba0d974cb (HEAD -> master, origin/master, origin/dev, origin/HEAD)
Author: Qin Fandong <shell_way@foxmail.com>
Date:   Wed Nov 3 20:10:50 2021 +0800

    文档更清晰一些

$ git status
On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean

$ node -v
v17.0.1

$ npm -v
8.1.0

系统Windows 11
使用的默认的chromium

[2021-11-04 01:21] paiky opened #341 "您好，角色指令以及十连图片里无角色是什么情况呢？"
不知是不是cookie问题，但uid指令是好的。对了，更换cookie时是直接重启机器人就好吗，还是得初始化一遍呢，我都做了，角色指令还是显示“查询失败，未知的名称【】“
日志好像并无特殊的显示情况
[code]

（关于昨天不成功的情况，我今天删除项目重新部署，现在随时启动都有成功回复了 😃 ）

[2021-11-04 01:22] paiky commented on #341
角色指令比如输入"角色 公子" 是直接返回"查询失败，未知的名称公子" , 而输入 "十连" 是显示图片 但图片里没有角色武器

[2021-11-04 02:08] Mark9804 commented on #340
@davidelectricfree 你的运行环境是什么样的，也是 Windows + 默认的Chromium吗？

[2021-11-04 02:25] Mark9804 commented on #341
`角色`命令不会调用cookie相关的内容，和cookie没有关系

更换cookie之后把`data/db`文件夹下面的`cookies.json`删掉，然后`npm run restart`。这个操作约等于`git checkout ./data/db/cookies.json`，哪一个能成功就用哪个

想看一下是什么样的，是不是所有的图都显示error

感觉你这个是git仓库缺了文件。你检查一下bot仓库当中`resources/Version2/wish/character`和`resources/Version2/wish/weapon`这两个文件夹里面有没有东西，这两个文件夹是和抽卡插件相关的

我今天在学校，摸不了鱼，Arondight最近在给老板冲kpi，不知道他今天会不会有时间帮你远程看看

最后能说明一下你的运行环境吗，我现在只知道你的系统是CentOS，是服务器（国

[2021-11-04 02:27] Mark9804 commented on #340
我今晚回家才有合适的Windows环境用，晚上我看看是不是在Windows下浏览器的字体渲染行为不太一样

[2021-11-04 02:34] paiky commented on #341
我是线上的腾讯云服务器，用的centos，因为今天早上直接git clone发现没动静，可能卡住也可能两百多M比较久，于是我本地git clone，然后xftp传输到服务器，不过好像没有.git文件夹了。刚才检查了一遍Version2两个文件夹里的图片都还在，十连没显示的情况确实是都显示error
感谢你的回复 😄

[2021-11-04 02:45] Arondight commented on #341
`git status` 检查一下仓库完整性，然后 `git log -1` 检查仓库是否过旧

[2021-11-04 02:48] paiky commented on #341
[code]

[2021-11-04 03:30] davidelectricfree commented on #340
对，windows server 2016

[2021-11-04 03:33] davidelectricfree opened #342 "服务器繁忙，需要设定什么吗"
[2021-11-04T11:28:14.193] [ERROR] [Watch:811055003] - 服务器繁忙(register)
[2021-11-04T11:28:14.193] [MARK] [Watch:811055003] - 5秒后重新连接。
[2021-11-04T11:28:14.193] [MARK] [Watch:811055003] - 109.244.129.248:8080 closed
[2021-11-04T11:28:19.212] [MARK] [Watch:811055003] - 正在探索可用服务器...
[2021-11-04T11:28:19.212] [DEBUG] [Watch:811055003] - getMsg发生错误。
[2021-11-04T11:28:19.212] [DEBUG] [Watch:811055003] - T

[2021-11-04 03:35] Mark9804 commented on #340
那可能就是Windows环境下浏览器字体渲染行为和Linux不一样，晚上我确认之后看看怎么解决

[2021-11-04 03:37] FengLing11 commented on #340
我用CentOS开就是你那样的了

[2021-11-04 03:38] Mark9804 opened #343 "Todo：overview页面使用响应式布局"
ref #340

我还真没想好这能怎么解决，给Windows另外写一套css吗……
![-62314b3c16763828.jpg](https://user-images.githubusercontent.com/36690822/140233667-890463b1-8195-4fab-a065-2b36c20d9a8a.jpg)

[2021-11-04 03:40] Mark9804 commented on #342
我偶尔会遇到，是通过重启bot解决的

[2021-11-04 03:43] davidelectricfree commented on #342
它会自动重启似乎，我不知道把响应时间从1改为3有没有效果

[2021-11-04 04:18] Arondight commented on #342
配置文件中没有任何能影响这个问题的选项，当前我们什么都做不了

[2021-11-04 04:18] #342 closed

[2021-11-04 04:19] Arondight commented on #343
我觉得可以不解决，我个人没有意向非得支持 windows

[2021-11-04 04:25] Arondight commented on #343
我已经在[文档](https://github.com/Arondight/Adachi-BOT/tree/22d78b8993be4c5a9130d28196f78eeba0d974cb#%E9%83%A8%E7%BD%B2)中写的很明白了，我感觉不必费力去做这个，我们既然有了声明，那么 windows 有异常也是清理之中的事情。

[2021-11-04 04:34] Arondight commented on #329
@Mark9804 @490720818 我注意到 @SilveryStar 可能为了避免这个问题，不再使用文件给浏览器传递数据，而是直接把数据写到了 url 的参数中，我感觉我们也可以学的这么做。

https://github.com/SilveryStar/Adachi-BOT/blob/aeebf063a5234bf74bc345cbe425f9d502444abb/src/plugins/genshin/utils/render.ts#L40

[2021-11-04 04:46] Mark9804 commented on #329
[url最长有2048字符数的限制](https://stackoverflow.com/a/417184)，能塞得下就行

不过假设我们总是有一个氪佬用户氪了全图鉴，那`米游社`的参数之后会越来越长……

[2021-11-04 05:06] Mark9804 commented on #343
那这个就留到后面处理吧，不过至少证明溢出问题确实是存在的，大规模出现只是时间问题，比如米忽悠真的写了一篇阅读理解，大家一起裂开

[2021-11-04 05:07] Mark9804 commented on #340
![image](https://user-images.githubusercontent.com/9006264/140260759-73893c31-2211-4fdf-a8ad-474cc0be110d.png)

我的Windows环境也没能复现这个问题，暂时先不做临时性的修复了，后面直接重写

[2021-11-04 05:10] Arondight commented on #343
怎么可能，我们完全是自己维护的数据，又没拉官方接口，阅读理解再长我们可以总结呀，就算非常长到了几千字，我们也可以只写两个字`很强`

[2021-11-04 06:12] paiky commented on #341
下午重新又部署一次，这下可以了，这次没执行startup命令，也不敢执行了，怕有什么隐藏问题 😢

[2021-11-04 06:33] Arondight commented on #329
@Mark9804 就是说现代浏览器支持超长 url 吗

[2021-11-04 07:00] Mark9804 commented on #329
理论上是这样，不过Chrome具体能多长我没测试过，或者也有可能现在用的server不支持这么长的url，当前项目用的什么server我还没看过。

超长url是一个木桶，对长url支持最差的一个节点决定这个url能多长。比如chrome支持上万字符，当前的localhost只支持到2048字符还是一样不行的，会返回414 too long

[2021-11-04 07:15] Arondight commented on #329
@Mark9804 node 本身应该不会出现问题，因为他们[添加了参数](https://github.com/nodejs/node/issues/24692) `--max-http-header-size` ，我想即使没有参数默认 `8 * 1024` 8KiB 也是够用的

[2021-11-04 07:16] Arondight commented on #329
我想下周就做这件事情，现在使用缓存的逻辑本来就很奇怪，这件事情一下解决了两个问题。

[2021-11-04 08:30] Mark9804 commented on #343
很强，这个我喜欢

[2021-11-04 09:15] Arondight opened #350 "代码优化"
在插件补全功能入口验证并且逻辑单独写成函数之前需要做代码格式优化，现在太乱了。

[2021-11-04 11:13] davidelectricfree opened #352 "图片过期"
碰到有的图片过期（深渊图片），然后重复指令也是直接调用缓存，发出来的同样是过期图片

[2021-11-04 11:25] Arondight commented on #352
贴个图

[2021-11-04 11:29] #350 closed

[2021-11-04 11:32] davidelectricfree commented on #352
![Screenshot_20211104-193232.jpg](https://user-images.githubusercontent.com/36690822/140306492-12c75b1b-75f9-404b-9fc3-11be0ed01511.jpg)

[2021-11-04 11:34] Arondight commented on #352
这问题我还真没见过……只有这个人的是这样，还是说所有的深渊数据都是这样，是不是网络的问题？

[2021-11-04 11:37] davidelectricfree commented on #352
![Screenshot_20211104-193410.jpg](https://user-images.githubusercontent.com/36690822/140307085-46a8edd9-5fdd-4bb1-b26c-9edcbd59ecf9.jpg)

[2021-11-04 11:40] Arondight commented on #352
看上去只是网络原因啊，浏览器不可能给你渲染一个感叹号出来，你在查询一个感叹号之后，执行一下命令 `cat data/record/genshin-aby.json` ，贴一下

[2021-11-04 11:41] davidelectricfree commented on #352
上期深渊 100357661
好像我自己的没问题，你可以试试

[2021-11-04 11:41] Arondight opened #353 "所有插件验证功能入口"

[2021-11-04 11:44] Arondight commented on #352
一切正常

[2021-11-04 11:44] #352 closed

[2021-11-04 11:51] davidelectricfree commented on #352
我确实看到json里面有文件，那这种情况是什么引起的呢？腾讯云的服务器网络应该没问题啊。。。

[2021-11-04 11:55] Arondight commented on #352
我也比较好奇，但是不太好猜测

[2021-11-04 11:55] davidelectricfree commented on #352
算了，那你看后续有没有其他人遇到吧

[2021-11-04 12:00] Mark9804 commented on #352
是客户端为watch产生的问题吗，什么时候开始的

[2021-11-04 12:06] davidelectricfree commented on #352
少概率能遇到，目前就这一个，今天晚上遇到的，到目前为止都查不到这个id的上期深渊，本期能查得到。

[2021-11-04 12:10] Arondight commented on #353
所有插件都变成去下面的样子，就会好看不少

https://github.com/Arondight/Adachi-BOT/blob/752de79950d201dcd3e03a2e008315d4825699d6/src/plugins/tools_master/index.js#L9-L30

[2021-11-04 12:12] Mark9804 commented on #352
我这边也正常，复现不出来

[2021-11-04 12:14] davidelectricfree commented on #352
我估计等缓存重新上传图片看应该能看到，猜是不是缓存上传出了一点问题，对了，我这边显示的是图片已过期，emmmmmm

[2021-11-04 12:56] LuoshuiTianyi opened #354 "您好，请问查询角色信息时报错功能绘图失败的原因是？"

[2021-11-04 12:57] Arondight commented on #354
贴日志或者截图，我猜可能是你没有提供一个可运行的无头浏览器

[2021-11-04 13:01] LuoshuiTianyi commented on #354
截图如下
![image](https://user-images.githubusercontent.com/32975657/140317625-17d0dc57-01d6-4fb1-959f-4b83b75b46b1.png)
但是现在又可以了。

事实上我是直接使用了windows下的chrome，也许因此存在了一些问题？

[2021-11-04 13:01] Arondight commented on #354
看上去是机器内存太小了

[2021-11-04 13:02] Arondight commented on #354
我确认一下你没有在 Linux 下使用 Windows 的 chrome 吧

[2021-11-04 13:02] LuoshuiTianyi commented on #354
这应该不至于，我并非使用虚拟机部署

[2021-11-04 13:03] LuoshuiTianyi commented on #354
对的对的

[2021-11-04 13:04] Arondight commented on #354
Linux 只能运行 ELF ，而 Windows 的可执行文件是 PE 格式，所以还没到兼容库这一层就无法继续了，建议按照文档使用包管理器安装一个 chromium

[2021-11-04 13:04] #354 closed

[2021-11-04 15:49] Arondight commented on #341
Linux 下应该不会有什么问题

[2021-11-04 15:49] #341 closed

[2021-11-04 16:03] Arondight commented on #353
这个不现实，没必要为了模块化而模块化，有的写的挺好的不用瞎改

[2021-11-05 04:24] Mark9804 commented on #312
我跟几个群管理讨论了一下，觉得应该允许某些消息不被撤回，比如说：

* 抽了七次十连出了个77，那么前六次的十连消息可以撤回，出金消息保留下来；
* 查询人物或角色没有命中的消息可以撤回，命中并且返回图片的消息可以保留下来；
* 深渊没有查询到信息（无渊月螺旋记录）的消息可以撤回，返回图片的消息可以保留下来

[2021-11-05 04:36] Arondight commented on #312
这个当前做不到，会让消息机制复杂很多

[2021-11-05 09:32] Sucharles commented on #312
这个逻辑有点复杂 工作量 好大  其实主要就是十连和圣遗物这两个  刷起屏来要命

[2021-11-05 09:42] Sucharles commented on #312
其实  最近我有个想法  也可以说一直有这么个想法  就是与其做自动撤回  不如将娱乐功能积分制，结合原神背景，可以做两种虚拟积分，1.原石2.树脂，群员通过完成虚拟的每日任务或直接签到的形式给予原石奖励，原石奖励多少设置为参数可调，十连功能与其联动，使用十连命令消耗账户内相应的原石积分，原石不足则不响应或提示原石不足，树脂设置为自动回复，可与游戏保持一致8分钟回复1点，圣遗物命令需要消耗20树脂，这样做可以达到限制使用这两个娱乐功能的目的，不会造成大量的刷屏，因为受到积分的制约；但是  制作这个功能  可能就不能继续用现在的这个数据库了，而且工作量也会不小，但是就当一个设想提出吧。

[2021-11-05 10:10] Arondight commented on #312
@Sucharles 你说的这个我觉得很简单，积分制无非多加俩函数，内存维持几个 object ，每个功能执行前做一次验证就行。但是分情况撤回真的很难做

[2021-11-05 10:13] Sucharles commented on #312
∩_∩，那开坑吗？

[2021-11-05 10:18] Arondight commented on #312
不开，我不太想做这种限制，我觉得刷屏挺好的，关于你的那个需求我觉得只要在内存维持一个时间戳就好 `[{qq, time, command }]`，大约这个样子，检查函数只好算一下时间差就可以

[2021-11-05 10:22] Sucharles commented on #312
23333 找个类似的先去学习下 可以的话做成插件

[2021-11-05 10:23] Mark9804 commented on #312
积分制我本来有这个构想，后来觉得和数据库交互太麻烦了就没提出来

分情况撤回我本想的是把撤回模组独立出来，当某条消息需要撤回的flag为真时才进行工作，可能我想的太简单了，实际上要大改才能实现这个功能，那就算了

例如
[code]

[2021-11-05 10:29] Arondight commented on #312
我想没办法做成插件，做几个接口比较合适

[2021-11-05 10:30] Arondight commented on #312
我想不需要和数据库交互，例如一次性最多用五次，用完之后没分钟回复一下次数，这个需求简单的在内存维持数据结构即可

[2021-11-05 10:34] Sucharles commented on #312
这个逻辑nice

[2021-11-05 10:38] Arondight commented on #312
这个需求本身是很简单的，复杂的是变量的控制，我要设置多长时间合适呢，某个时间对某些人合适，对另一些又不合适，或者 bot 加入一个简单的频率判断动态调整这个逻辑，我又不会写，所以我觉得刷屏挺好，做不好限制不如不做限制

[2021-11-05 10:40] Sucharles commented on #312
这个我觉得不用过多顾虑，设置了规则，就都接受规则，所有人都是在一个规则下，不接受规则就不使用这个命令。

[2021-11-05 10:43] Arondight commented on #312
我觉得这是不好的，我的逻辑倾向于我不知道该给你什么，那就全给你，而不是给一些我觉得你需要的东西，或者什么都不给

[2021-11-06 07:15] Arondight commented on #353
另外插件拆分文件

[2021-11-06 08:12] Arondight opened #355 "新的权限设计"
当前的含混不清，非常不好，需要按功能进行权限管理（集合设置，分开验证）

[2021-11-06 08:30] Arondight commented on #355
把所有的非主人功能管理起来

[2021-11-06 10:42] #353 closed

[2021-11-06 10:42] #355 closed

[2021-11-06 10:44] Arondight commented on #355
这之后，有很多曾经的权限设置会失效，我不打算兼容旧的数据库了

[2021-11-06 12:14] #312 closed

[2021-11-06 12:48] Arondight commented on #334
这周改代码改的太累了，我摸了，下周在做这个功能吧……

[code]

[2021-11-06 14:05] Mark9804 commented on #337
问一下，在今天的更改之后要怎么获取群名

旧版是`const groupName = "group" === type ? msg.group_name : undefined;`，新的我看了一下文档，没看到群名称的属性

[2021-11-06 14:06] Arondight commented on #337
以前怎么用，现在就怎么用， msg 中的属性没有任何减少和变更，只有新增。

[2021-11-06 14:17] Arondight commented on #337
最新的提交 38d1de05480cb83388f90329d2b88caeb7eda469 中完全兼容了旧版本的插件，你拉一下代码，然后就可以直接使用旧版本的插件了，就像下面一样。

[code]

[2021-11-06 14:18] Mark9804 commented on #337
好，谢谢老大哥救我狗命

[2021-11-06 15:01] Arondight commented on #329
肝了一天，现在代码终于正常一点了，只需把这个缓存逻辑改的正常一点，这个项目就终于有望看上去正常一些了。

[2021-11-06 18:11] Sucharles commented on #355
新权限设计 存在bug，例如禁止十连权限后，写入authority.json，没问题，再次允许十连权限后，写入authority.json，只有最后一条func会被写为true

[2021-11-06 18:36] Sucharles commented on #312
主要也是无奈啦  众口难调 一刀切规则大都是出于无奈，另外，新简易撤回机制实测好像不生效

[2021-11-06 23:48] Arondight commented on #312
我这里几个号都没问题， bot 需要是管理员，因为非管理只能撤回 30 秒，图还没看清楚就没了

[2021-11-06 23:52] Arondight commented on #312
好吧，原来是两分钟，那可以把非管理做了，两分钟后再做管理校验

[2021-11-07 07:27] sainting4 opened #359 "获取cookie失败"
就这样

[2021-11-07 09:49] Mark9804 commented on #359
能清晰描述一下你的操作以及这个操作的结果吗

[2021-11-07 09:55] tendapc opened #360 "撤回权限有误"
消息并不能在设定时间撤回

[2021-11-07 12:33] Arondight commented on #360
贴一下代码提交还有现象截图

[2021-11-07 12:33] Arondight commented on #360
另外贴一下配置文件和启动时的配置日志

[2021-11-07 12:34] Arondight commented on #359
获取 cookie 失败说明你没有提供一个合法的 cookie

[2021-11-07 12:34] #359 closed

[2021-11-07 12:41] Arondight commented on #360
我的几个都没这问题，看了下都是正常的，下面是代码状态。

[code]

下面是我的配置以及日志。

[code]

[code]

[2021-11-07 13:53] tendapc commented on #339
请问这个怎么并入

[2021-11-07 13:57] Arondight commented on #339
我最近重构了代码，已经不可能无冲突合入了，你可以直接拉他的项目

[code]

[2021-11-07 13:59] tendapc commented on #339
好的

[2021-11-07 14:13] Arondight opened #361 "关于米游社“实时便笺”功能的问题"
因为最近被不少次问到这个问题，而且也有了一些关于这个问题的 issue 和 discussion ，所以在此统一说明。

关于此功能，我不会做支持，我个人不想做任何需要收集玩家 Cookie 的功能，因为一旦有了某个账号的 Cookie 能做的事情还是很多的。和某些签到项目不同，签到项目是玩家搭建环境使用自己的 Cookie ，而机器人推送则是在管理者的服务器上收集其他玩家的 Cookie ，这个行为我看来这个有些离谱。如果你想使用此功能，有以下几个选择。

1. 使用项目 [genshin_task-resin-expedition_alert](https://github.com/yaomeng0722/genshin_task-resin-expedition_alert.git) ，可以直接把“实时便笺”功能的数据推送到 QQ 、微信和钉钉上。
2. 使用此项目的另一个 Fork

[2021-11-08 01:47] Arondight opened #363 "测试：非预期行为和漏洞"
### 问题描述

描述，这里是 markdown

### 复现流程

_No response_

### 后台日志

_No response_

### 代码状态：最新提交

[code]

### 代码状态：是否修改

_No response_

### 运行环境： Node.js 版本

_No response_

### 运行环境： Node.js 版本

_No response_

### 运行环境：操作系统

Linux

[2021-11-08 01:47] #363 closed

[2021-11-08 02:25] Arondight opened #364 "非预期行为和漏洞测试"
### 问题描述

**这里应该是 Markdown**

- [ ] 1
- [ ] 2
- [ ] 3

### 复现流程

# 这里也应该是 markdown

#362

### 后台日志

[code]

### 代码状态：最新提交

eb7a56ee1edc260d8b2ecf9f74f91715c5fa4264 (HEAD -> master, origin/master, origin/dev, origin/HEAD, dev) 更新议题模板

### 代码状态：是否修改

- [X] 我已确定运行命令 `git status -s` 无任何输出。

### 运行环境： Node.js 版本

123

### 运行环境： npm 版本

123

### 运行环境：操作系统

Linux

[2021-11-08 02:25] #364 closed

[2021-11-08 08:43] Mark9804 opened #365 "功能idea：在进行耗时操作之前，预返回一个提示"
### 问题描述

这应该算是我一个比较个人的需求，不知道主线需不需要。相关commit： https://github.com/Mark9804/Adachi-BOT/commit/17a16f94ab0ab9d5e08801b434afb64a9ca4f83c

我这边查询米游社/深渊需要耗费10-20秒才能返回结果，在这个过程中机器人没有动静，用户会以为机器人挂掉了或者没收到，多次发送请求，反而增加了处理量。

我的做法是在进行渲染操作之前预先返回一个“正在查询相关信息，请稍后”的消息，告诉用户bot还活着，没加班猝死。

### 代码状态：当前提交

17a16f94ab0ab9d5e08801b434afb64a9ca4f83c (HEAD -> master, origin/master, origin/HEAD) 进行耗时的处理之前，先告诉用户自己还活着

[2021-11-08 08:54] DongGua-Jun commented on #140
给带佬点赞

[2021-11-08 09:14] Arondight commented on #365
啊，这个应该加到 render.js 里……

[2021-11-08 09:15] Arondight commented on #365
我感觉可以加一下，增加一个配置，我来搞把，另外 render 的参数太繁琐了，尽量精简一下

[2021-11-08 09:54] Mark9804 commented on #365
render.js 返回角色信息的时候还是很快的，所以我就只单独给`米游社`, `深渊`和`我的`加上了这个，因为这三个指令需要从米忽悠的服务器下载图片

[2021-11-08 10:20] Mark9804 commented on #365
谢谢老大哥，我一是比较菜，二是自己的仓库还有很多计划做的东西，上云的话调试就不如现在本地方便了，打算等稳定了没什么改动了就上云

不过说到上云我想起来了一个问题，现在的前端是暴露在9934端口的吧，万一云服务器防火墙没配置好的话不就人人都能通过`http://x.x.x.x:9934/xxx.html`看到最近的一个查询数据？

虽然这些数据也不像身份证号啊之类的那么敏感，有接口人人都能查，但好像还是有点微妙的不同

[2021-11-08 10:41] Arondight commented on #365
1. 申请一个测试用的 qq 单独本地跑测试
2. 不会暴露，外网连不上的，因为只监听本地回环

[2021-11-08 10:50] Mark9804 commented on #365
确实可以，是我格局小了

[2021-11-08 15:03] #360 closed

[2021-11-09 03:25] citydirector opened #366 "[bug] 圣遗物权限开关失效"
## 非预期行为和漏洞那个模板一提交就"Error:400"，更换了设备尝试了5-6次不得已只能用这个模板提交
### 问题描述

![IMG_20211109_110525](https://user-images.githubusercontent.com/45933075/140856548-2f187fe4-e963-43a0-b3cc-73d5ea5d93bf.jpg)
![IMG_20211109_110508](https://user-images.githubusercontent.com/45933075/140856561-ddffcad0-f0a6-4ffe-b152-8f5e513173ab.jpg)

### 代码状态：当前提交

b6061799dbbc73d67d6734b0fa1324ef97ab9125 更新议题模板

[2021-11-09 03:35] Arondight commented on #366
额，你多试试几个人看看，这个因为之前代码写的不好，如果你在某个更新上用过这功能，数据库可能坏掉了，就是有好几条同一个 id 的记录，但是只有第一条生效

[2021-11-09 03:37] Arondight commented on #366
[code]

类似于这种，我本来想写个定时数据库清理补救一下，但是一直没写

[2021-11-09 03:37] citydirector commented on #366
先在大群里突然出现了这个问题(今天)，然后我在私下的群里测试了还是能复现

[2021-11-09 03:41] citydirector commented on #366
![IMG_20211109_110508](https://user-images.githubusercontent.com/45933075/140857957-ecc7c859-a612-4a18-9f37-188eabc14c05.jpg)

[2021-11-09 03:41] citydirector commented on #366
![IMG_20211109_113927](https://user-images.githubusercontent.com/45933075/140857984-ccb5aa75-bd7f-4862-89ed-344c5511c988.jpg)

[2021-11-09 03:44] citydirector commented on #366
难道只能删库了吗（不是

[2021-11-09 03:56] Arondight commented on #366
额，我教研写错了，我统一解决一下把

1. 圣遗物权限教研有问题，参数传错了
2. 数据库拿数据应该合并所有带相同键值对的字段

[2021-11-09 06:59] #366 closed

[2021-11-09 07:02] Arondight opened #367 "fdf"
### 问题描述

1

### 复现流程

1

### 后台日志

[code]

### 代码状态：当前提交

1

### 代码状态：是否修改

- [ ] 运行此命令无任何输出。

### 运行环境： Node.js 版本

1

### 运行环境： npm 版本

1

### 运行环境：操作系统

macOS

[2021-11-09 07:02] Arondight commented on #367
github 的 checkbox 有问题

[2021-11-09 07:02] #367 closed

[2021-11-09 07:13] Arondight opened #368 "测试"
### 问题描述

测试**测试**

### 复现流程

_测试_

### 后台日志

[code]

### 代码状态：当前提交

111

### 代码状态：是否修改

输出了 `Clean` 。

### 运行环境： Node.js 版本

1

### 运行环境： npm 版本

1

### 运行环境：操作系统

Linux

[2021-11-09 07:13] #368 closed

[2021-11-09 07:55] Arondight opened #371 "解决“米游社接口报错：Data is not public for the user”"
首先需要登录该账号的米游社。点击“我的”标签页中的“个人中心”。

![630918EC-3C8D-420A-B4AE-4FE0BB2D534B](https://user-images.githubusercontent.com/13673702/140883966-00f94580-de0b-4328-a9c1-d16adfd92f48.jpeg)

然后点击“我的角色”卡片右上角的管理。

![C1C95D5D-FD8E-46BB-B72C-B3E80E95E726](https://user-images.githubusercontent.com/13673702/140884124-53a855a3-0b75-4baa-b086-de9e759ed423.jpeg)

点击原神右侧的下三角，展开权限设置，选择“公开”。

![86C1993C-DE91-4F0C-864D-B4

[2021-11-09 07:57] paiky commented on #371
Ok thanks 😄

[2021-11-09 08:30] Arondight opened #372 "写数据库有问题"
### 问题描述

难道我改的数据库有点问题？

### 复现流程

1

### 后台日志

_No response_

### 代码状态：当前提交

eca5c91b11ccc03c3c1d0bdd7bf331f6b57ada3a

### 代码状态：是否修改

_No response_

### 运行环境： Node.js 版本

_No response_

### 运行环境： npm 版本

_No response_

### 运行环境：操作系统

Linux

[2021-11-09 08:40] Mark9804 commented on #372
可以出金，但是出金的时候感觉不正常，我的大保底不能正常工作，抽数显示也有问题，应该有五六十抽的
![image](https://user-images.githubusercontent.com/9006264/140890592-f05f8d8b-2e35-43ec-b5c3-a5d96d477326.png)
![image](https://user-images.githubusercontent.com/9006264/140890616-cfba8c2a-f0f7-446b-a617-1483bbce0e85.png)

[2021-11-09 08:40] Mark9804 commented on #372
感觉像是不读取水位了

[2021-11-09 08:49] Arondight commented on #372
先本地回退吧，数据库 api 有点问题，深渊都拉不到了

[2021-11-09 09:48] Arondight commented on #372
我感觉数据库得还原一下，这个问题解决了之后我发现未知 object 的合并我处理不了，我不知道里面有几层数据，细节是什么样的，还要处理可能的区别，我直接写的脑壳炸了

[2021-11-09 09:48] Arondight commented on #372
lodash 的 merge 还是比较弱鸡的

[2021-11-09 10:20] Arondight commented on #372
我发现未知数据结构的合并居然没有什么模块去做

[2021-11-09 10:39] Arondight commented on #372
https://github.com/jonschlinkert/merge-deep

找到了一个，有空再搞搞

[2021-11-09 11:23] Arondight commented on #372
之前的问题不仅是 merge 有问题， update 我实现的也有问题

[2021-11-09 13:46] Arondight opened #373 "深渊数据初始化有误"
### 问题描述

`data` 应该是 object ，搞成了数组

### 复现流程

1

### 后台日志

_No response_

### 代码状态：当前提交

1

### 代码状态：是否修改

_No response_

### 运行环境： Node.js 版本

_No response_

### 运行环境： npm 版本

_No response_

### 运行环境：操作系统

Linux

[2021-11-09 13:46] Arondight opened #374 "数据库优化"
### 问题描述

应该去掉数据库的异步，改成同步。当前的异步没有意义！

### 代码状态：当前提交

_No response_

[2021-11-09 13:48] Arondight commented on #374
另外 lodash 我看了下源码根本不需要 await ，没有异步版本

[2021-11-09 13:54] Arondight commented on #372
写数据库的问题最终查明了是因为深渊数据初始化出错导致了无法处理错误的 JSON ，所以数据丢失， duplicate of #373

[2021-11-09 13:55] Arondight commented on #372
Duplicate of #373

[2021-11-09 14:10] #373 closed

[2021-11-09 14:12] Arondight commented on #374
按照 lowdb 的 adapter 设计，改成同步需要做……

1. 使用同步版本的 adapter 和 low 替换当前的异步版本
2. 替换掉当前使用的异步锁

[2021-11-09 14:13] Arondight commented on #374
替换完成后，数据库函数就可以在同步环境中使用了，这可以把很多函数没有意义的异步给去掉

[2021-11-09 14:28] Arondight commented on #372
没想到这么长时间一直是错误的方法得到了正确的结果，初始化数据是错的，数据库 api 是错的，结果是正常的，初始化的数组被数据库 api 转换成了 object ，然后再进行的数据增改。这么长时间数据库的 push 方法一直是有问题的

[2021-11-09 15:30] Mark9804 commented on #372
用bug堆出来的feature原来真的存在

[2021-11-09 15:38] Arondight commented on #372
代码很稳定，千万不要乱动.jpg

[2021-11-09 15:38] Mark9804 opened #375 "米游社角色信息重复"
### 问题描述

使用`米游社`命令，角色会重复出现
![image](https://user-images.githubusercontent.com/9006264/140954841-e8afa43a-158c-4b9a-b7af-46d8f48ac1a9.png)

### 复现流程

使用`米游社`命令

### 后台日志

_No response_

### 代码状态：当前提交

1d4d0ce8f04af37c9b6ad5dc7bf3ac3da8ed2321 Merge branch 'master' of https://github.com/Arondight/Adachi-BOT into Arondight-master

### 代码状态：是否修改

Clean

### 运行环境： Node.js 版本

v17.0.1

### 运行环境： npm 版本

[2021-11-09 15:52] Arondight commented on #375
看起来是使用的 merge-deep 有问题，并没有按照想象中的 merge

[2021-11-09 16:03] Arondight commented on #374
有意义的异步只有插件 run 方法的异步，还有其他为了提供必要的异步环境的异步，其他的异步都是毫无意义的

[2021-11-09 16:15] #375 closed

[2021-11-09 16:16] Arondight commented on #375
`rm -vf ./data/db/time.json`

[2021-11-10 03:53] Mark9804 commented on #372
本地 clone 了一份全新代码进行测试，抽卡还是不能正常读取水位

[2021-11-10 04:53] Arondight commented on #372
查了一下是改插件参数的时候批量替换错了，当时审了几遍代码，不过没查出来，数据库的字段太乱了

[2021-11-10 04:54] #372 closed

[2021-11-10 05:06] Arondight commented on #372
这个问题出现的原因是数据存在判断总为假，所以每次都会插入一条初始化数据（抽卡次数为1），而 db.get 读数据时为了处理可能的多值错误问题会将所有数据进行合并，这时后面得初始化数据覆盖了旧数据，所以抽卡基数总为 1 ，十连结束后，已抽次数总为 11 。

这是数据存在性判断写错了，但是只要 db.get 合并数据前先做一个逆序，就能一定程度上改善错误代码下的行为

[2021-11-10 05:09] Arondight commented on #372
目前数据库可能的同字段多值错误还没有以新数据为准的，所以逆序之后以老数据为准虽然不一定对，但是至少不是错的。

[2021-11-10 06:02] Mark9804 opened #376 "十连抽卡次数实际上是11连"
### 问题描述
![image](https://user-images.githubusercontent.com/9006264/141123147-6af0a948-7722-41b1-9a55-4ebefe3492ce.png)

[2021-11-10 06:11] Mark9804 commented on #376
[overflow-wrap特性可能不被2020年3月之前版本的浏览器支持](https://www.zhangxinxu.com/wordpress/2020/03/css-overflow-wrap-anywhere/)，不过用一年半之前的浏览器版本的用户应该也不会pull这个修改的……

![image](https://user-images.githubusercontent.com/9006264/141059149-d9c44203-d467-4c89-93d8-f55fc37a92b5.png)

[2021-11-10 06:20] Arondight commented on #376
大多数人分不清问题是前端后端，先这样把，另外我没有关闭空白 issue ，可以直接用空白的，不用填写这些东西

[2021-11-10 06:26] Arondight commented on #372
ee07504e31daf1a9cb9ace2ff0c3634a61a6cc22

[2021-11-10 12:23] Mark9804 commented on #376
？底下这把武器是什么东西，难道每次抽取的次数实际上是11次吗
![image](https://user-images.githubusercontent.com/9006264/141112251-112303fe-9126-4af2-899c-1d957d095407.png)

[2021-11-10 12:26] Arondight commented on #376
差点给我嘴笑歪了，我明天看看

[2021-11-10 12:35] Arondight commented on #376
https://github.com/Arondight/Adachi-BOT/blob/ee07504e31daf1a9cb9ace2ff0c3634a61a6cc22/src/plugins/gacha/data.js#L202

这里循环了 11 次，哈哈哈

[2021-11-10 13:35] Mark9804 commented on #376
我这边顺带用狗皮膏药把分享和关闭按钮patch掉了，循环的问题就拜托了
![image](https://user-images.githubusercontent.com/9006264/141122660-24d9e796-f95c-4304-a8ca-869c08fccbb4.png)

[2021-11-10 13:37] Arondight commented on #376
老大哥顺手帮忙改改吧，就把 '<=' 改成 '<' 就行

[2021-11-10 13:45] #376 closed

[2021-11-10 13:51] Arondight opened #383 "数据库淘汰 update"
### 问题描述

直接把 merge-deep 的代码扒过来改掉，数组合并时使用新数据直接覆盖老数据，不再真实合并后去重，不适用我们的使用场景。协议我看过是 MIT 协议的，直接扒过来没有任何问题，因为我们的项目也是 MIT ，注释可以写个链接说明一下代码是哪来的。

之后 db.update 就没有用了，是不是要兼容其他 fork 的旧代码到时候再看吧，我觉得也可以把 db.update 的逻辑替换掉，不要什么 db.merge 了，这个名字很容易误用，看上去像是合并数据库的。

### 代码状态：当前提交

_No response_

[2021-11-10 14:01] Arondight commented on #383
正好 db.get 在 merge 之前进行了一次逆序，正好逻辑完全符合 db.update 的行为，看上去很不错

[2021-11-10 14:15] Mark9804 commented on #376
这样说的话是不是理论上前端适配一下就可以实现任意抽数？我想在我的fork做一个90连的缘之井，十连十连的抽管理们感觉刷屏太厉害了

[2021-11-10 14:19] Arondight commented on #376
当然可以啊，这里我写成参数了，传参一下就行，就跟十连一样。

https://github.com/Arondight/Adachi-BOT/blob/ee07504e31daf1a9cb9ace2ff0c3634a61a6cc22/src/plugins/gacha/data.js#L220-L222

这里其实直接导出 `gachaTimes` 就行，做多少抽都好做，只要前端支持，用户制定多少抽做起来都很简单。

[code]

[2021-11-10 14:20] Arondight commented on #376
这里我顺便优化一下， `getGachaResult` 没有任何意义

[2021-11-10 15:38] #383 closed

[2021-11-10 15:42] Arondight commented on #376
我在 07175f1bc693a37cb0110440b1bc73cbe5844fd8 顺手做了一下这个，现在插件入口 `index.js` 看起来像是这个样子。

https://github.com/Arondight/Adachi-BOT/blob/07175f1bc693a37cb0110440b1bc73cbe5844fd8/src/plugins/gacha/index.js#L14-L18

无论是做一个 90 连，或者是用户指定抽卡次数的，都很简单，主要还是前端的问题，如果你要是愿意做一个 90 连，麻烦给我 pr 一个，感谢老大哥

[2021-11-10 15:51] Arondight commented on #365
到头来最简单的事情忘记了，周末再顺手加一下吧

[2021-11-11 03:34] Mark9804 opened #384 "Todo: 调整 gacha.html 以适应将来的90连抽/n连抽功能"
感谢Arondight老大哥的[封装](https://github.com/Arondight/Adachi-BOT/issues/376#issuecomment-965433465)，现在的抽卡函数就算宵宫老爹也会调用了，压力来到了前端的头上。

现在的抽卡前端是完全没有扩展性的（不然十连实际上是11连的问题也不会到昨晚才发现），所以不管怎么说，得

- [ ] 先把现在的前端页面改成支持任意长度的自适应网页。

如果顺利的话，只需要把当前的背景（`/resources/gacha/items/background.png`）从上到下切成三部分，标题一个部分，抽卡详情一个部分，底部一个部分，就解决了。

中间的抽卡信息展示部分我觉得假如次数 >10 的话把每次抽卡结果全部列出来有点憨，我的想法是：

- [ ] 只完整显示所有的五星，然后把四星和三星全部合并起来，只显示一个结果并添加

[2021-11-11 03:45] Arondight commented on #384
这个我来做，我觉得最好不要让前端操作数据，后段应该全部给做好

[2021-11-11 03:52] Arondight commented on #384
原本的数据是 `{data: []}` ，我想做成 `{data: [], count: []}` ，这样也不影响之前十连的逻辑

[2021-11-11 04:44] Mark9804 commented on #384
就等着这句话了，计划通

[2021-11-12 12:43] Mark9804 commented on #384
这个gacha前端我就先不改了，等卡池后端做完之后再来兼容后端数据

[2021-11-12 14:32] Arondight commented on #384
下面是一个 180 抽的 json ，增加了 `count` 属性，以及每条记录增加了 `count` 字段，五星的 `count`字段永远为 1。

[code]

[2021-11-12 14:34] Arondight commented on #384
这里有个问题就是我在 count 中如何处理五星比较合适，有三种方案。

1. 不处理五星，无五星的统计
2. 处理五星但是不做统计， `count` 永远为 1
3. 处理五星并做统计，丢弃出货抽数这个信息

[2021-11-12 14:35] Arondight commented on #384
@Mark9804 我不太清楚楼上的三种方案你需要哪一种

[2021-11-12 14:36] Mark9804 commented on #384
我看一下和原来的区别

[2021-11-12 14:38] Arondight commented on #384
处理五星的三种方案中，例如抽了三个胡桃，那么对应地。

1. 没有胡桃的信息
2. 有三个胡桃的信息，统计次数 `count` 分别为 1 ，保留每个胡桃的出货抽数
3. 有一个胡桃的信息，统计次数 `count` 为 3 ，无出货抽数

[2021-11-12 14:40] Arondight commented on #384
我个人觉得或许 3 好一点，因为 2 的信息在 `data` 属性中也能拿到， 这样其实 1 和 3 是一样的，但是多一点信息不用，总比要用的时候没有好

[2021-11-12 14:47] Mark9804 commented on #384
3吧，我的想法是：

- 每个抽卡卡片为一个单元，其中都包含有两个子元素，分别显示抽数和出货次数；
- 抽数只有当稀有度为五星时才显示 (`<div v-if="star=5"></div>`)
- 出货次数只有当稀有度不为五星时才显示 (`<div v-if="star !== 5"></div>`)

我个人倾向于留着信息不用以备今后需要比全去掉强，没必要小而美

[2021-11-12 14:50] Arondight commented on #384
方案 3 对应的 180 抽数据。

[code]

[2021-11-12 15:02] Mark9804 commented on #384
`count`当中的很多信息是不是无效的？我觉得可以简化成:
[code]

[2021-11-12 15:06] Mark9804 commented on #384
等一下，或许这样的话，2反而是更好的，因为可以根据`count`的长度来决定渲染多少个元素

[2021-11-12 15:11] Arondight commented on #384
我觉得当前你用起来会方便一些，我觉得你从 `count` 读出来人名，然后手动在 `data` 中拿角色信息可能不是很方便

[2021-11-12 15:12] Arondight commented on #365
我想问一下，主要的耗时在哪儿，是从米游社拉 api 数据呢，还是浏览器从米游社拉图片呢

[2021-11-12 15:18] Arondight commented on #384
换言之我大致的想法是，`data` 用作十连， `count` 用作 90 抽，前一种是详细展示，后一种是统计，两种抽卡方式能够通过只访问自己的字段来完成功能。我感觉还得添加一个额外的字段才能完成这个目标，或者如果我们在 90 连中不展示五星的抽卡次数，只展示出了几个，那么当前的方案就能满足这个目标了。

[2021-11-12 15:19] Mark9804 commented on #365
我这边的话，以客户端时间为准，从米游社拉数据大概是2-4秒，浏览器从米游社拉图片再到发送出去被客户端接收到按玄学从5秒到超时都有可能

所以我目前是在米游社API拉到数据之后立刻发送一条例如 “正在处理123456789的米游社数据，请等待至多30秒” 的提示信息

[2021-11-12 15:21] Arondight commented on #365
我现在不确定把提示放到开始拉数据的时候，还是拉完了数据即将写 `data/record` 的时候，比较合适

[2021-11-12 15:24] Arondight commented on #384
这个应该是可以的，我不理解有什么字段重复了，我发的第一个 180 抽的 json，如果你想五星展示抽卡次数，其余的展示出了几个，那么 2 就可以做到呀

[2021-11-12 15:25] Mark9804 commented on #365
把提示放到开始拉数据的时候，假如用户提供了一个不存在的uid或者米游社ID的话，我觉得是双重打扰（“正在查询，请稍等……”、“未查询到信息”）

我更倾向于验证了用户提供的输入确实能够得到结果之后，在处理过程之前预先返回一个结果表示bot已经在干活了，请稍等一下，你要的图过一会就能渲染出来

[2021-11-12 15:28] Mark9804 commented on #384
给我一点时间思考一下，我需要理一下我希望呈现一个什么效果以及为了呈现这个效果我需要什么样的数据结构

[2021-11-12 15:35] Arondight commented on #384
好的，有结果回复即可，我会按照你的需求修改

[2021-11-12 15:38] #365 closed

[2021-11-12 15:53] Mark9804 commented on #384
当 总抽数大于10抽，即在前端网页中`gachaList`的长度大于10 时，
**我希望呈现出的效果是：**
![image](https://user-images.githubusercontent.com/9006264/141492324-2dc22f26-dcc3-4be9-aacd-e7230a135d7e.png)

为了通过最省事的方式呈现这个样例中的效果（主要是因为我菜），
**我期待的json文件结构是：**
（html当中已经有一个按星级进行排序的函数了，json数据在被渲染之前会先进行一遍排序）
[code]

[2021-11-12 15:55] Arondight commented on #384
@Mark9804 所以简而言之就是方案 2 对吧

[2021-11-12 15:56] Mark9804 commented on #384
对的，是方案2

[2021-11-12 16:44] Arondight commented on #384
我做了一些改动，因为我个人不想用方案 2 ，一个原因就是字段 `count` 下应该是统计信息，而你要的五星数据很明显不是统计信息，我觉得无关数据不应该放到某个属性下，这样集合的意义就没有了，所以我当前传递的数据结构如下。

[code]

| 属性 | 说明 |
| --- | --- |
| `data` | 抽卡原始数据，每一抽的结果 |
| `count` | 统计后的数据，根据名字统计一共抽到了多少次，丢弃了五星的出货次数 |
| `five` | 五星的抽卡原始数据，所有抽出五星的结果 |
| `names` | 五星、四星、三星分别抽到了那些名字 |
| `name_nums` | 五星、四星、三星一共抽到了多少个不同的名字 |
| `item_nums` | 五星、四星、三星一共抽到了多少次 |

1. 判断页面需要多少个元素：`o.name_nums.four + o.n

[2021-11-12 16:49] Mark9804 commented on #384
可以可以可以，很清晰的结构，读取也很方便，谢谢老大哥

[2021-11-12 17:00] Arondight commented on #384
我把拿数据的演示重新写了一下，我想这样还有一个方便的地方就是你可以不用复杂数据操作就能拿出来想要的星级抽卡数据了，例如要根据五星、四星、三星的顺序显示结果，就不需要排序了，依次取数据即可。但是当前我没有分武器和角色，如果要分的话我再改一下

[2021-11-12 17:02] Mark9804 commented on #384
武器和角色……官方抽卡是有分的吗，我没注意过，让我找个视频看看

[2021-11-12 17:03] Arondight commented on #384
抽卡结果角色在前，武器在后，我看当前的方案，角色 > 武器的排序是在前端做的，我感觉继续沿用这个方案也不错，毕竟直接粘贴复制一下就好了

https://github.com/Arondight/Adachi-BOT/blob/c57c72ed72f4f14a9b56a0922a1204b9bbd58425/src/views/genshin-gacha.html#L161-L168

[2021-11-12 17:05] Arondight commented on #384
或许都不需要粘贴复制，他的逻辑可以扩充到任意数量的抽卡结果的排序

[2021-11-12 17:10] Mark9804 commented on #384
对，确实是角色在前武器在后，当前方案下的数据排序都是在前端完成的，可以任意扩充，我这边测试过了，排序耗时应该也不会长到影响截图时间的程度

这样的话写起前端来难度直线下降，非常感谢老大哥

[2021-11-12 17:13] Arondight commented on #384
我们这种数据量都是毛毛雨，我曾经在一个二代 i3 上写了个归并，50m 的数据用了 0.2s，js 表现不可能差到哪里去，瓶颈都在网络和 chromium 本身上

[2021-11-12 17:15] Arondight commented on #384
还有 vps 的内存上……

[2021-11-12 17:26] Arondight commented on #340
Duplicate of #343

[2021-11-12 17:29] Mark9804 commented on #384
这个目前好像也没什么好的解决方法，需要我们渲染的页面布局实在是太复杂了，纯后端做的话难度不是一般的大……

如果时间往前倒一两年，有一个项目[phantomjs](https://github.com/ariya/phantomjs)可能会是解决方案，但是很可惜这个项目已经没人维护进入archive状态了，我也不知道有没有其他的替代项目

[2021-11-13 03:45] Arondight opened #392 "当前前端vue版本可能因为bug和兼容性问题被回撤了"
### Discussed in https://github.com/Arondight/Adachi-BOT/discussions/391

<div type='discussions-op-text'>

<sup>Originally posted by **Mark9804** November 13, 2021</sup>
vue 现在的稳定版本（也可能是 vue2 最后的稳定版本）是 2.6.14，现在项目里用的版本是 2.6.12， 换源到 2.6.14 之后直接爆炸。微痛迁移到 vue3 更是做梦了

如果是2的最后一版稳定版倒也不是不能用，主要是 [Releases](https://github.com/vuejs/vue/releases) 里面找不到 2.6.12 ，看着 [.13](https://github.com/vuejs/vue/releases/

[2021-11-13 03:47] Arondight commented on #392
希望后端尽快稳定下来，可以抽出时间看看前端的问题

[2021-11-13 07:04] Arondight commented on #329
@Mark9804 你知道通过 url 数据后中文乱码是为啥么

![图片](https://user-images.githubusercontent.com/13673702/141609454-601c4b7c-747a-43f8-a433-d32eb92e05a4.png)

浏览器看也是乱码

![图片](https://user-images.githubusercontent.com/13673702/141609487-251aed58-76ac-49c9-852d-c536cd6685e6.png)

[2021-11-13 07:07] Arondight commented on #329
后端： object -> string -> base64 -> object -> urlencode
前端： object -> base64d -> string -> object
我不知道浏览器是不是自动 url 解码的

[2021-11-13 07:19] Mark9804 commented on #329
经典前端问题，charset不一样，但是我已经指定了编码是`UTF-8`了呀，那很大可能传过来的数据编码不是utf-8

https://github.com/Arondight/Adachi-BOT/blob/c57c72ed72f4f14a9b56a0922a1204b9bbd58425/src/views/genshin-character.html#L4

[2021-11-13 07:28] Mark9804 commented on #317
不知道有没有办法搞到 https://webstatic.mihoyo.com/app/community-game-records/index.html?v=6&uid=******* （这个uid是米游社UID） 的完整静态页面，
我想把这个背景图抓下来当作两星素材的背景，这网页完全是动态的，CSS文件还给切成了40来份，看得想打人

四星和五星的背景我倒是抓出来了，只要把这个抓到，之后更新新素材图片就不用做进游戏截图然后再裁剪的傻事了

![image](https://user-images.githubusercontent.com/9006264/141609448-967fc35a-3761-41f0-97a7-1b13fb8fe3b4.png)

header：
[code]

[2021-11-13 07:29] Arondight commented on #329
查了下是浏览器的 atob 函数不支持 utf ，我看看咋搞

[2021-11-13 07:32] Mark9804 commented on #329
简单粗暴的解决方法是：只要知道传过去的是什么编码，我们在前端声明编码格式就可以了

这个meta标签如果要写完整的话是
[code]
其中charset可以是gbk，也可以是其他什么编码

[2021-11-13 07:34] Arondight commented on #329
![图片](https://user-images.githubusercontent.com/13673702/141610298-37665081-6818-4cfa-b491-5035e71f7b41.png)

啊这，我搞定了

[2021-11-13 07:35] Mark9804 commented on #317
不对，还差一个三星素材的背景，这个好像找不到对应的网页来白嫖……

在考虑用PS做一个背景颜色替换

[2021-11-13 07:36] Mark9804 commented on #329
牛皮

[2021-11-13 07:43] #311 closed

[2021-11-13 07:43] #329 closed

[2021-11-13 07:45] Arondight commented on #329
@Mark9804 因为现在所有的数据都通过 URL 传入，你原来的方法调试起来是有困难的，所以配置文件增加了参数 `viewDebug` ，调试的时候设置为 1 即可。

https://github.com/Arondight/Adachi-BOT/blob/c9ae0bcf4445acc1d5586b865f1a5ca253063b90/config_defaults/setting.yml#L106-L110

[2021-11-13 08:45] Arondight commented on #392
我想顺便把 vue 换成开发版本，我们不需要生产版本，因为我们的前端是一个黑盒

[2021-11-13 08:49] Arondight commented on #392
@Mark9804 我用最新的开发版本跑了一下，问题应该不大，主要的问题是 vue 根本不工作，vue 的使用方法应该是没怎么变的

[2021-11-13 09:07] Mark9804 commented on #392
我这边用的前端IDE是 webstorm，如果换成开发版本的 2.6.14 版 vue ，它会大量报错，例如报错称在当前的`<div v-for…>`标签中，`v-for`在此处是不被允许的。但是我们在 2.6.12 上面这么写明明跑得好好的，现在也找不到对应的 .12 开发版本来验证究竟是谁的问题了，所以我也挺迷惑的

[2021-11-13 10:12] #392 closed

[2021-11-13 10:14] Arondight commented on #392
新版本上了开发版，没上生产版本，我觉得开发版对我们是好的，而这两个版本很明显对用户来说没有任何区别

[2021-11-13 10:24] Arondight commented on #392
我找了一些介绍性的资料看了看，我觉得上 3 应该不会是一个大活，主要的工作都在学习上，真正的编码不会大改的，因为我们的 HTML 还有数据逻辑都是不变的，唯一改变的只是数据的使用方式

[2021-11-13 10:43] Mark9804 commented on #392
数据处理正好是我不擅长的，有空的时候我再学一学，理想的状态下我个人是希望能摸索着上 3，现在的前端虽然能跑，但知道它为什么能跑和为什么不能跑我觉得也挺有意思的

[2021-11-13 10:47] Arondight commented on #392
今天我在配置文件中加了个 `viewDebug` ，打开之后我发现图都少了一块，关掉就好了，类似这种能跑不能跑的问题我还是挺讨厌的

[2021-11-13 11:40] Mark9804 commented on #392
我傍晚用这个选项debug的时候也发现了，感觉像是 chromium 有头和无头状态下的 [viewport](https://developer.mozilla.org/zh-CN/docs/Web/CSS/Viewport_concepts) 位置不太一致，不知道和弹出来的那个 "Chrome is controlled by automation program" 的横幅占了位置有没有关系

前端最大的不确定因素还是各种浏览器的表现，之前很流行一个鬼故事叫做领导要求支持IE6。现在IE基本上断气了，Safari因为半年一更新，对新标准支持总是慢一拍，[内核](https://www.jianshu.com/p/f4bf35898719)特殊的原因被部分人叫做新一代IE。各种设备的窗口大小不一致也容易让元素错位或者溢出视图。我们这个项目前端视图至少宽度都是固定的，写起来就非常轻松

是

[2021-11-13 11:54] Arondight commented on #392
哈哈哈那最先换掉的肯定是 chromium

[2021-11-13 16:01] yushenzhiren commented on #123
我的是直接这样报错
TypeError: cookie.match is not a function
那个cookie文件编辑是这样的- UM_distinctid=17d19d13e29340-0862bea8817de8-57b1a33-bc160-17d19d13e2a7e9; _ga=GA1.2.309945346.1636815684; _gid=GA1.2.1670130228.1636815684; CNZZDATA1275023096=2041915167-1636807130-%7C1636807130; _MHYUUID=dee321f2-be0d-4b9b-8ca4-63df5d2af563; ltoken=1pzI7waQxx0geHnXBgCLzgGTA0pl2NpG36kMLUub; ltuid=29760307; cookie_token=jUMpPPwvJ

[2021-11-13 16:38] Arondight commented on #123
@yushenzhiren 去 https://yamlchecker.com/ 校验一下你写的配置文件是不是对的

[2021-11-14 02:01] Arondight commented on #392
突然想到一个事情，当前的 `vue.js` 应该改名为 `vue2.js` ，将来可能有的 3 版本则会是 `vue3.js` ，这样在我们切换 vue 版本后，如果有其他人开发了自己的插件，那么他可以无感升级

[2021-11-16 00:51] Arondight opened #395 "区分消息撤回"
### Discussed in https://github.com/Arondight/Adachi-BOT/discussions/394

<div type='discussions-op-text'>

<sup>Originally posted by **ID114514** November 16, 2021</sup>
能不能自动识别主人命令不撤回，发群广播时候老是自动撤回，导致广播起不到作用</div>

[2021-11-16 01:46] citydirector opened #396 "[ bug]部分角色头像顶部缺失了一块"
### 问题描述

不多说，上图
![Screenshot_2021-11-16-09-43-21-952_com tencent tim](https://user-images.githubusercontent.com/45933075/141881739-874c368e-e8fa-47f2-9d42-adc831039aaa.jpg)

### 复现流程

1

### 后台日志

_No response_

### 代码状态：当前提交

1

### 代码状态：是否修改

_No response_

### 运行环境： Node.js 版本

_No response_

### 运行环境： npm 版本

_No response_

### 运行环境：操作系统

Linux

[2021-11-16 01:47] citydirector commented on #396
也是突然留意到这个问题，不太确定是哪一天更新出现的

[2021-11-16 01:51] Mark9804 commented on #396
我这里看图裂了，麻烦重新上传一下下
![image](https://user-images.githubusercontent.com/9006264/141881249-c158ab80-9dfc-43ef-8eb8-739b990870b8.png)

[2021-11-16 02:09] Mark9804 commented on #396
米忽悠的图就是这样的，帽子变不出来，正面图侧面图都有这个问题
![image](https://user-images.githubusercontent.com/9006264/141882734-37b77a41-be20-4df7-ab8f-c74fc5779d6c.png)

[2021-11-16 02:20] citydirector commented on #396
啊这...感觉有点违和（）

[2021-11-16 02:52] Mark9804 commented on #396
本来这个部分是侧面照的，可能正面照美术组内部有详细规范，头要保持在哪个位置要多大尺寸，所以更统一一些。侧面照的话，米忽悠方的处理（特别对于长发角色）群魔乱舞，一千个角色里面有一千零一个标准，加上正面照比侧面照好认，所以最后想了想还是写了个函数把侧面照转成了正面照。

莫娜除非给她特殊写一套处理方式不然只能这样了，同样情况应该也会出现在帽子很长的丽莎身上，只不过丽莎没人带着打深渊所以到现在为止都没人发现

[2021-11-16 02:59] Mark9804 commented on #396
我想起来了，当时促使我决定用正面照代替侧面照的原因还真是莫娜，因为莫娜侧面照的帽子和头发直接给我来了个渐隐，实在给我整不会了
![image](https://user-images.githubusercontent.com/9006264/141887753-2ad05f00-03f1-494b-8559-a0c6cad54b5f.png)
↑这是莫娜侧面
↓这是雷军侧面
![image](https://user-images.githubusercontent.com/9006264/141887846-de93bf5b-8b5f-47cc-b458-981a8afc976c.png)

[2021-11-16 04:30] #395 closed

[2021-11-16 04:32] Arondight commented on #396
无能为力的问题就别修了把

[2021-11-16 04:32] #396 closed

[2021-11-16 04:36] citydirector commented on #396
要不试试把角色头像微微放大一点&位置上调一点？

[2021-11-16 04:39] Mark9804 commented on #396
我最近看不下去之前的组件复用率，打算重写的部分正好是这一块，到时候我看看

[2021-11-16 06:49] Mark9804 commented on #396
https://github.com/Arondight/Adachi-BOT/commit/dea7a522f98f57b12120e7df77173b7f6ba93709 ,看看会不会好一点

[2021-11-16 10:03] Mark9804 opened #399 "深渊前端应该加一个最小高度"
在特殊情况下房间元素会重叠，应该加一个最小高度限制
![image](https://user-images.githubusercontent.com/9006264/141964210-f0129b90-1116-4ec3-8f76-ba91bcebdcb7.png)

[2021-11-16 10:09] Arondight commented on #399
我下午也有反馈说深渊查不到数据了，一直是这个图，不知道是不是这个问题

[2021-11-16 10:18] Mark9804 commented on #399
这个是纯css问题，关于数据问题的话，我用自己的米游社app能查到完整数据，但是bot查不到，json里的floors也是空数组，我把这张图对应的json贴出来了

https://gist.github.com/Mark9804/1d6bc4ca156a84d28e81aa02a4737a23

[2021-11-16 10:20] Arondight commented on #399
啊这，你查一下上期深渊，再查这期，看一下有效果吗

[2021-11-16 10:23] Mark9804 commented on #399
上期深渊有数据，我觉得可能是因为如果用自己账户cookie查自己账户的数据有什么玄学加成？只能这么猜测了

关issue关成 #398 了，有点尴尬，不知道merge信息能不能修改

[2021-11-16 10:23] #399 closed

[2021-11-16 10:28] Arondight commented on #399
啊这，先定性成米游社 api 有问题，明天再说，我晚上打打深渊，明天就有数据调试了

[2021-11-16 10:43] citydirector commented on #396
不知道是哪里姿势不对，更新后没有变化（）

[2021-11-16 10:46] Mark9804 commented on #396
刚刚覆盖错文件了，确实没有变化

在[dev分支](https://github.com/Arondight/Adachi-BOT/tree/dev)里面，打算等改动多一点再一起PR

[2021-11-16 10:47] citydirector commented on #396
那需要我切换到dev测试一下吗

[2021-11-16 10:48] Mark9804 commented on #396
直接checkout到dev分支里面就行了，不需要重启bot

[2021-11-16 11:09] citydirector commented on #396
感觉好一些了（）

[2021-11-16 11:52] Mark9804 commented on #399
感觉这句话有点歧义，我查`上期深渊`很正常，查当期`深渊`有一段时间会出现这个issue图中的数据（也参考 #323 ），等米游社那边完全更新了就不会了

我感觉现在米游社返回的数据分成几种
1. 正常完整的数据
2. 某一个部分为空数组的数据，比如最多击破什么的是空数组，或者像这个issue这样的，楼层挑战数据是空数组，之类的
3. “没有挑战过渊月螺旋”

其中1和3都是正常情况，主要遇到的异常情况是2

按照时间轴排列：

米游社还未更新，不管是谁都查不到数据
↓（一段时间后）
使用米游社app登陆本人账户可以看到完整数据，
但bot（非本人cookie）查询的话有可能遇到某个部分为空数组的情况
↓（一段时间后）
米游社app和bot都能查到完整数据

我感觉这个问题发生的原因很大可能是使用了非本人cookie，我们也不能为了这点小事就让用户都交一份cookie上来，就这样吧

[2021-11-16 15:21] TuanKay10 opened #403 "机器人只识别了首个cookie"
### 问题描述

机器人只识别了首个cookie

### 复现流程

机器人只识别了首个cookie

### 后台日志

### 代码状态：当前提交

dfc4849cf38820f51c7cd20bf1b2427c9e005a38 (HEAD -> master) <E8> <BF><98><E5><8E><9F> config.js <E7><9A><84> getAll <E6><96><B9> <E6><B3><95><EF><BC><8C><E5>A0><E4><B8><BA><E7><8E><B0><E5><9C> <A8><E7><9A><84> mergeDeep <E9><80><BB><E8><BE><91><E5><B7><B2> <E7><BB><8F><E4><B8><8D><E5><86><8D><E9><80><82><E7><94><A8> <E4><

[2021-11-16 15:27] Arondight commented on #403
`grep times ./data/db/cookies.json | awk '{print $2}' | sort | tail` 看一下有没有超过 30 的数字。

然后明天再看一下 cookie 有没有异常。 `./data/db/cookies.json` 这个文件中正常来说 `user` 下面的数据应该和你 `./config/cookies.yml` 中的对应， `times` 随着使用次数增加，直到 30 次无效。

[2021-11-16 15:33] Arondight commented on #403
另外 `git status` 看一下本地代码都改了啥

[2021-11-16 15:34] Arondight commented on #403
后台日志不用补，不重要，我只是想看一下你的代码提交历史，还有本地是否已经有了修改

[2021-11-16 15:35] TuanKay10 commented on #403
没有超过30的数字，这会不会是报告无失效cookie的原因?

[2021-11-16 15:38] Arondight commented on #403
无效判定和这个是完全两套逻辑，这只是一个到达使用次数上限的判定

[2021-11-16 15:39] TuanKay10 commented on #403
[code]

[2021-11-16 15:43] Arondight commented on #403
[code]

先把代码更新一下，然后明天看吧，太困了

[2021-11-16 15:45] TuanKay10 commented on #403
好的，大佬晚安

[2021-11-17 02:48] Arondight commented on #403
今天还有这个问题的话麻烦回复一下，昨天的 cookie 记录都失效了，今天是完全从头读的 cookie

[2021-11-17 03:02] NiHang commented on #120
你好，配置了cookie之后查询uid报    {
      "retcode": 10001,
      "message": "Please login",
      "uid": 186576319,
      "nickname": "",
      "level": -1,
      "avatars": [],
      "explorations": [],
      "stats": {}
    }
聊天页面回复米游社接口报错: Please login

[2021-11-17 03:04] Arondight commented on #120
网页登陆账号，然后要同意个什么协议设置米游社用户名，然后账号没有被封禁，之后 cookie 才能用

[2021-11-17 03:20] NiHang commented on #120
我的cookie是网页刚复制下拉的

是我用谷歌浏览器有关系吗？你看能不能帮我试下
UM_distinctid=17af652bd04445-02a458ddbeb004-34637600-1fa400-17af652bd055e6; _MHYUUID=cf6bd7f5-3b05-4a7f-b510-66d318b1f574; mi18nLang=zh-cn; _ga=GA1.2.613927686.1627630256; _ga_831VBKXN1V=GS1.1.1632799883.1.1.1632800192.0; _gid=GA1.2.497494618.1637033990; CNZZDATA1275023096=842467684-1627629310-https%253A%252F%252Fwww.google.com%252F%7C1637115767; ltoken=Cf

[2021-11-17 03:23] Arondight commented on #120
@NiHang 更改任何配置文件都需要重启 bot ，建议关闭 bot 并删除 `data/db/ccokies.json`，更改配置文件后再开启 bot ，不要把 cookie 发出来

[2021-11-17 03:24] NiHang commented on #120
好的，谢谢！

[2021-11-17 03:25] Mark9804 commented on #120
需要删除的文件是 c**o**okies.json ，你检查一下文件

[2021-11-17 03:26] NiHang commented on #120
我删除重启后，里面的数据还是空的
{
  "cookie": [],
  "uid": []
}

[2021-11-17 03:30] Arondight commented on #120
1. 使用时才会更新
2. 无效的 cookie 会被写到另外的数据库并向管理者 QQ 发送一条广播

[2021-11-17 03:33] NiHang commented on #120
使用时增加的数据如下，cookie也是空的
{
  "cookie": [],
  "uid": [
    {
      "uid": 186576319,
      "date": "",
      "cookie": "",
      "times": 0
    }
  ]
}
无效的cookie json里是空数组

[2021-11-17 03:34] NiHang commented on #120
{
  "cookie": [],
  "uid": [
    {
      "uid": 186576319,
      "date": "",
      "cookie": "",
      "times": 0
    }
  ]
}

[2021-11-17 03:35] NiHang commented on #120
使用时cookie如下，里面也是空的
{
  "cookie": [],
  "uid": [
    {
      "uid": 186576319,
      "date": "",
      "cookie": "",
      "times": 0
    }
  ]
}
无效的cookie json文件中数组是空的

[2021-11-17 03:37] Arondight commented on #120
@NiHang https://yamlchecker.com/ 看一下是不是格式有啥问题

[2021-11-17 03:39] NiHang commented on #120
我拷进去校验：Valid YAML! 格式是正确的。我试了我2个米游社的账号cookie都是报请登录，都是正常可评论的账号

[2021-11-17 03:45] Arondight commented on #120
找了个号贩子问了问，不知道对你有帮助么

![FD455477-F2F2-4A12-8D21-6DB8F218CDF4](https://user-images.githubusercontent.com/13673702/142130997-f1c6a46b-81fe-4a8c-936a-525d7211da86.jpeg)

[2021-11-17 03:47] NiHang commented on #120
那就是我的账号cookie有问题了，有没有校验这个cookie的curl地址？

[2021-11-17 03:47] TuanKay10 commented on #403
第一个cookie暂时没有达到上限，我晚上再看看，昨天深渊更新群友战斗力太强了...

[2021-11-17 03:50] Arondight commented on #120
https://github.com/Arondight/Adachi-BOT/blob/f27b71b2388fa3ba9a66366b288acea94e4703ed/src/utils/api.js#L49-L56

https://github.com/Arondight/Adachi-BOT/blob/f27b71b2388fa3ba9a66366b288acea94e4703ed/src/utils/ds.js#L18-L25

[2021-11-17 03:50] Arondight commented on #403
看一下次数是不是分配到了两个 cookie 上

[2021-11-17 04:28] TuanKay10 commented on #403
现在显示的cookie1次数是7次，cookie2是8次，分配了

[2021-11-17 04:39] TuanKay10 commented on #403
我还想问问关于时区应该如何设置，因为我是docker部署的，一开始忘记调时区了，然后现在模拟抽卡显示的时间都是0时区

[2021-11-17 04:47] Arondight commented on #403
bot 用的系统时区，你可能得自己 timedatectl 设置一下

[2021-11-17 04:58] TuanKay10 commented on #403
现在输入date显示的是CST，机器人也重启过了，时区还是不对...

[2021-11-17 05:56] NiHang commented on #120
你好，在这个请求阶段我想打印cookie出来看下数据要怎么打印？打印完了在哪里可以查看？

[2021-11-17 06:01] Arondight commented on #120
src/utils/detail 中打印，不过我建议你退出原来的登录，使用浏览器的无痕模式再登录一次，拿 cookie ，因为无痕模式你关掉浏览器不会让 cookie 失效，否则你拿到一个 cookie ，再拿另一个，上一个 cookie 就无效了

[2021-11-17 06:19] NiHang commented on #120
我找到原因了cookie是正常的，是cookie配置时前面要加“  - ”，那我第二条cookie也要加和这个吗？

[2021-11-17 06:23] Arondight commented on #120
需要啊，这是 ymal 的语法呀，加了 `-` 这一项是是数组 `cookies` 中的一个元素，不加 `-` 那 `cookies` 就成了一个字符串了

[2021-11-17 06:25] NiHang commented on #120
好的，谢谢！

[2021-11-17 09:22] citydirector opened #404 "深渊显示问题"
### 问题描述

又是一个奇奇怪怪的问题...话不多说，上图
![QQ图片20211117163813](https://user-images.githubusercontent.com/45933075/142166626-8b67f16e-5857-4079-aabc-28df57d54049.jpg)

[2021-11-17 09:25] Arondight commented on #404
api 返回的数据改了，就剩这点了，今天下午改的，我感觉也没啥能做的，万一样式改了官方反复横跳也不好。

@Mark9804 你要不瞅瞅，你要是觉得也不用改什么就关了吧

[2021-11-17 09:26] Arondight commented on #404
git checkout master

[2021-11-17 09:26] citydirector commented on #404
官方限制最为致命...

[2021-11-17 09:27] citydirector commented on #404
试了，不好使

[2021-11-17 09:28] Arondight commented on #404
本来官方的 api 有很多米游社里不显示的数据，bot 给展示了出来，现在官方又移除了这些数据，就成这样了

[2021-11-17 09:30] Arondight commented on #404
那不用管啊，这就是正常的，你在 master 分支中 HEAD 指向什么是我决定的，你如果不自己改动也做不了什么，你现在应该 HEAD 指向了很多东西吧，其中有本地的 dev master ，还有远端的

[2021-11-17 09:32] citydirector commented on #404
懂了。
branch显示有5个（本地的dev, master, 还有三个远程的)

[2021-11-17 09:48] Mark9804 commented on #404
怎么连这都改，他们程序员上班就干这个？

12月中上旬之前我会很忙，要不先把silverystar的抄过来，他的现在是这样的
![image](https://user-images.githubusercontent.com/9006264/142177224-97fc3310-348b-47a0-a14b-9bf40da474fa.png)

[2021-11-17 09:50] Arondight commented on #404
不用，我觉得现在就很好

[2021-11-17 09:50] #404 closed

[2021-11-17 09:59] Arondight commented on #403
如果今天用到上限了，顺手看一下次数是不是到了30或者是一个很夸张得数字，然后查询报错的 QQ 再次查询就会被分配到另一个 cookie 上。

昨天的问题有可能是你改了配置文件没重启 bot ，现在只会在启动时读取一次配置，之后一直在内存中维持喝使用这个配置

[2021-11-17 11:21] citydirector commented on #404
人疯掉系列（）

[2021-11-17 12:58] TuanKay10 commented on #403
在此之前，我每次修改配置都有重启过，应该不是这个原因，昨天那个``

[2021-11-17 13:02] TuanKay10 commented on #403
在此之前，我每次修改配置都有重启过，应该不是这个原因，昨天那个`npm run db -- -d cookies -k cookie`用不了是提示`Missing script: "db"`，更新完之后才没问题的

[2021-11-17 13:56] TuanKay10 commented on #403
那个问题又出现了，次数上限了，现在显示的是cookie1是30次，cookie2是2880293630次

[2021-11-17 14:12] Arondight commented on #403
手动把 cookie2 的次数改成 0，然后你查一下 102445054 ，看看 cookie2 能用么，同样地 cookie1 也做一次

[2021-11-17 14:12] Arondight commented on #403
停掉 bot ，改完后启动 bot

[2021-11-17 14:28] TuanKay10 commented on #403
次数都改成0次之后，再查uid，还是上限，现在两个都变成了2880293630次，而且我拿另一个账号上米游社还是可以看别人战绩

[2021-11-17 14:30] Arondight commented on #403
那就是两个 cookie 确实都已经到头了

已经查过的一直可以查，新的就不行了

[2021-11-17 14:31] TuanKay10 commented on #403
那我再找新一个账号试试

[2021-11-17 16:23] Arondight commented on #403
这大概率是一个误判，因为不论是本地代码的 cookie 次数上限判断逻辑

https://github.com/Arondight/Adachi-BOT/blob/f27b71b2388fa3ba9a66366b288acea94e4703ed/src/utils/cookie.js#L48-L50

还是根据 API 返回判定 cookie 超过上限的逻辑

https://github.com/Arondight/Adachi-BOT/blob/f27b71b2388fa3ba9a66366b288acea94e4703ed/src/utils/cookie.js#L168-L173

都不会出现 29 次的情况

[2021-11-18 06:59] Arondight commented on #403
如果还有问题继续回复即可

[2021-11-18 06:59] #403 closed

[2021-11-18 08:43] Mark9804 commented on #404
如果要改的话，我的想法是把左边四栏全部改成最强一击的那种样式，然后把最强一击也移到左边去，这样就能把现在的空白给挤掉了

[2021-11-18 08:58] citydirector commented on #404
我倒是有个想法，来自于莫娜的占星盘，做个圆，圆周五个点各一个头像(最强一击/最多击破/最多承伤/元素战技次数/元素苏爆发次数)+数值

[2021-11-18 09:02] Mark9804 commented on #404
和整体风格不匹配，而且难排版

[2021-11-18 09:23] Arondight commented on #404
@Mark9804 忙完再搞吧，我感觉目前也没啥大问题

[2021-11-18 15:16] Arondight opened #405 "数据库添加新后端"
### 问题描述

目前 lowdb 的性能问题实在是太严重了，在我实现了数据库定时清理后，因为数据库不会再无限制增长了而稍微掩盖了一下这个问题，但是在一个极大量用户的 bot 中，lowdb 根本无法胜任。我的想法是增加一个新的、非关系型的后端，然后两个后端可以使用 setting.yml 中的配置选项进行切换（暂时不考虑数据同步，或者使用在 tools 下的脚本进行同步），默认使用 lowdb 。我无法割舍 lowdb 能够极大简化 bot 部署步骤的优点，但是也无法忍受 lowdb 在并发场景中的低效。

对于新后端的要求，我的想法是编程上尽可能的易于实现，能够用最小的代码量把当前的 database.js 迁移过去，最终能够让调用者无感。目前我只是有一个想法，还没有去仔细想怎么做这件事。当前我比较倾向于 MongoDB 。

- [ ] 实现 MongoDB 的数据库后端
- [

[2021-11-18 15:28] Arondight commented on #405
[MongoDB docker image](https://hub.docker.com/_/mongo)

[MongoDB Node.js module](https://github.com/mongodb/node-mongodb-native)

[code]

[code]

[2021-11-18 15:52] Arondight commented on #334
这周再不做，其他的坑就填不上了

[2021-11-19 10:45] #337 closed

[2021-11-19 12:08] Xm798 commented on #404
程序员经常在奇怪的地方格外勤奋

[2021-11-19 14:50] #334 closed

[2021-11-19 15:25] Mark9804 opened #406 "“米游社”图片没有传送锚点解锁计数"
无伤大雅，`"way_point_number"`是在我们的`info.json`字段里面的
![image](https://user-images.githubusercontent.com/9006264/142647333-76bf3762-2277-4fbf-b431-fe24314715e8.png)

[2021-11-19 16:08] Arondight commented on #405
因为 docker 和 bot 开机启动有一个依赖关系，所以当使用 mongo 时， bot 连接数据库失败后不应该放弃，而是不断轮询直到成功。

[2021-11-19 16:44] Arondight commented on #236
随手记一下想法。

1. 现在已经有一个前端调试选项了，本地调试应该单独做一个选项，配合前端调试完成图片显示
2. 本地调试应该能够创建一个模拟事件的客户端，并且重新实现 oicq 客户端中我们使用的方法
3. 使用单独的脚本模拟 QQ 发送消息，`npm run debug -- --group-message "roll 50"`、`npm run debug -- --online`，差不多是这个感觉

[2021-11-19 17:14] Arondight commented on #236
这个功能至少需要在跟进 oicq 2.x 之后开始做才合适，因为 oicq 的数据结构有了改动， api 也有变更

[2021-11-20 11:19] Arondight commented on #406
我刚注意到前面的汉字居然是写在图片上的，我说怎么找了半天没看到在哪儿……

[2021-11-20 11:24] Mark9804 commented on #406
之前忘了哪个issue提到玩家数据加了奇馈宝箱但是我们没有的时候，我提到过字是写死在图上的，当时看的我都蒙了

加两个div补到最后就行了，今天稍晚一点我加上，不用改动图片

[2021-11-20 11:28] Arondight commented on #406
这个不急，我就是随手看一下

另外我看原项目好像没实现图片左上角放丘丘头像啊，图片好像都阿里云拉下来的角色头像，是我分支看错了吗

https://github.com/SilveryStar/Adachi-BOT/blob/14573eb/src/plugins/genshin/components/card/upper.js#L88-L90

[2021-11-20 11:33] Mark9804 commented on #406
哦我当时看的时候没看到作者回复，是个误会， https://github.com/SilveryStar/Adachi-BOT/issues/86

[2021-11-20 11:39] Arondight commented on #406
我没发现 oicq 怎么看头像 https://github.com/takayama-lily/oicq/discussions/256

如果作者回复了方法我可以很方便的加上这个功能

[2021-11-20 12:53] Mark9804 opened #408 "在bot未启动的情况下运行 npm run view 会导致异常终止"
### 问题描述

就想单纯`run view`偷个懒
[code]

### 复现流程

`npm run stop; npm run view -- -n card`

### 后台日志

[code]

### 代码状态：当前提交

9f59ce868f045d636eeaabcabed0f7bcd806c207 (HEAD -> dev, origin/master, origin/dev, origin/HEAD, master) 更新文档

### 代码状态：是否修改

Clean

### 运行环境： Node.js 版本

v17.0.1

### 运行环境： npm 版本

_No response_

### 运行环境：操作系统

macOS

[2021-11-20 13:01] Mark9804 commented on #408
感觉没什么意义，要是bot不启动的话连前端server都不会工作……
我是正好自己的fork是工作状态，但是暂时不想花时间拉代码处理冲突，才想clone原仓库偷这个懒来着

[2021-11-20 13:01] #408 closed

[2021-11-20 13:02] Arondight commented on #408
这个改不改都行，我改一下吧

[2021-11-20 13:13] Arondight commented on #408
建议自己的仓库拉一个 upstream 分支，不要污染自己的代码

[2021-11-20 13:21] #406 closed

[2021-11-21 02:14] Arondight opened #412 "vue3"
### 问题描述

新增 vue3.js ，网页文件全部改用 vue3 ，正好我也学一下 vue ，技术栈完全不对头，希望不会花费多长时间。

### 代码状态：当前提交

_No response_

[2021-11-21 02:14] Arondight commented on #412
升级到 vue3 之后就可以跟着原作者吃饭了，不过得问问原作者同意么，虽然是开源项目但是也包含了辛苦的创作，我也没啥能回馈原项目的，比较不好意思😅

[2021-11-21 02:37] Arondight commented on #412
我看了一下原项目的开发

1. 作者好像变的非常活跃了，好事情，以后蹭吃蹭喝方便了，我们现在没啥前端能力，也没有多余的精力去坐素材图
2. 原项目好像变成一个融合怪了，签到、抽卡分析和天梯榜单都会集成进去，我感觉这方面我的想法还是和原作者有差异的。收集 cookie 不太合适，一来免责声明是不生效的，二来项目是开源的我们这么说这么做了不代表其他部署项目的人也会这样。
3. 那个网页管理面板看起来不错，但是因为我们现在所有的配置都是用的配置文件，估计扒过来也只能改改用来显示统计信息，但是我们也没有统计信息，好像对我们作用也不大，这点比较遗憾
4. 原项目用了 GitHub pages ，看上去很好看，不过我不想用，维护成本太高了，我之前用过 hexo 但是仍然觉得成本很高，另外原作者的文档真的不错，我感觉可以跟进一下（如果我有精力写文档的话，不过好像也没几个人看开发文档？）
5. 原作者开始

[2021-11-21 02:41] Arondight commented on #412
不过只要原作者还活跃，至少在资源文件上可以一直受益，希望原项目进入一个好的循环，我们这里也会受益

[2021-11-21 04:13] Mark9804 commented on #412
1和5. 与其我们私底下纠结会不会过意不去，原作者会不会欢迎我们蹭吃蹭喝，要不直接邮件问问？

2. 我个人主观意愿上也不想加，最好的不承担责任的办法就是不做，迫切需要使用这个功能的用户也会转向原作者的bot
3. 网页管理面板我也看到了，还给UI设计提了点建议，这个功能给我的第一反应是好几把酷炫，然后就没有更多想法了。就感觉像是为了可视化而做的可视化，对与bot对话的用户而言是一个毫无感知的功能。
——而且我觉得既然部署者都已经会用命令行了，再加一个网页管理面板有点多余，和UI相关的也都不会是小工程。虽然这和我真的菜也有关系，但确实感觉没有复杂到已经需要用面板来管理的程度。迫切需要使用这个功能的用户也会转向原作者的bot
4. 我觉得也是一个为了“好几把酷炫”而“好几把酷炫”的功能，对于普通bot用户来说也没什么感知

我觉得我们做一些和原项目有差异的，用户需要的功能就可以了，列一个功能

[2021-11-21 04:17] Arondight commented on #412
我过去投食了，过意不去只是想着别耽误别人赚钱，开源项目其实扒代码是没有任何问题的，特别是两边都是 MIT ，甚至你用原作者的身份去做广告和盈利都可以

[2021-11-21 04:27] Arondight commented on #412
这个我想在做完新的数据库后端之后再开工，我觉得数据库的性能问题更加紧急

[2021-11-21 05:15] Arondight opened #413 "【我的】误触"
### 问题描述

- [x] 200的充能
- [ ] 我的电脑用固态

### 复现流程

？

### 后台日志

[code]

### 代码状态：当前提交

111

### 代码状态：是否修改

_No response_

### 运行环境： Node.js 版本

_No response_

### 运行环境： npm 版本

_No response_

### 运行环境：操作系统

Linux

[2021-11-21 05:21] Mark9804 opened #414 "前端图像资源缺失鬼兜虫"
`resources/Version2/info/image/鬼兜虫.png`

不太了解添加图像资源要怎么添加，资源的事情就拜托了.jpg
![image](https://user-images.githubusercontent.com/9006264/142750656-423f492b-8d67-4b50-ad51-a1eee93ca922.png)

[2021-11-21 05:25] Arondight commented on #414
我感觉先嫖一下原作者的呗，说不定过几天就更新了

[2021-11-21 05:36] Mark9804 commented on #414
我本来的大概计划是想，内鬼网上面有各种物品的素材，但是没有背景，那想办法去抓一个背景下来之后写一个脚本缝合起来，这样就方便多了

但是只抓到了稀有度4和5的紫色和金色背景，稀有度1、2的绿色背景还有稀有度3蓝色背景到处找也找不到

[2021-11-21 05:37] Xm798 commented on #414
来了 我来看看

[2021-11-21 05:39] Arondight commented on #414
这个我在 #57 里面写了，这里可以找到 https://genshin-impact.fandom.com/wiki/Prithiva_Topaz_Sliver

[2021-11-21 05:41] Mark9804 commented on #414
还真有，等我想个办法变成我们的

[2021-11-21 05:44] Arondight commented on #414
哈哈哈，我开始也找了很久。我不清楚你要做的是什么啊，如果是类似于模板的文件，随便谁导入到 adobe 中就能很方便的制作素材，建议放到 `//resource_templates` 里面提上来

[2021-11-21 05:45] Xm798 commented on #414
材料从BWIKI获取即可，https://wiki.biligame.com/ys/%E6%9D%90%E6%96%99%E4%B8%80%E8%A7%88

[2021-11-21 05:47] Mark9804 commented on #414
原来可以这样，方向错了的人竟是我自己

[2021-11-21 05:49] #414 closed

[2021-11-21 05:50] Xm798 commented on #57
最近更新的一批资源貌似都丢到了resources目录下，那么resources_custom还有存在的必要性嘛？

[2021-11-21 05:52] Arondight commented on #57
如果原作者做了一个相同的，会把我们做的覆盖掉

[2021-11-21 06:02] Xm798 commented on #57
意思是，如果原作者做了一个相同的资源文件，如果我们不放在 resources_custom 里，就会把我们的覆盖掉对吧？最近更新的一批资源文件是不是还是用的  SilveryStar 的版本？

[2021-11-21 06:03] Arondight commented on #413
1. `数字`的，把数字用正则限制一下，见后文代码段
2. `我的`角色名，先用 simhash 看看吧，`我的娜娜`可以判断为想使用该功能，`我的女神瓦尔迷娜`肯定不行

https://github.com/Arondight/Adachi-BOT/blob/0225a24ca4eec3cb79a747ef9178422f0e8c9c1e/src/utils/id.js#L11-L13

[2021-11-21 06:04] Arondight commented on #57
就是这个样子。最近更新的资源如果没有在 custom 放着，那就已经换成原作者的版本了

[2021-11-21 09:15] Mark9804 commented on #413
`我的意思是`也会误触发

[2021-11-21 09:43] #413 closed

[2021-11-21 09:50] Arondight commented on #413
一般来说汉明距离小于 4 则说明有较高的相似性，我这里用的是 5 ，可能会有一些误判，需要在使用中观察再做校正

[2021-11-21 10:52] davidelectricfree opened #415 "无法查询我的旅行者"
### 问题描述

无法查询旅行者信息

### 复现流程

我的旅行者

### 后台日志

_No response_

### 代码状态：当前提交

无法触发我的旅行者

### 代码状态：是否修改

_No response_

### 运行环境： Node.js 版本

_No response_

### 运行环境： npm 版本

_No response_

### 运行环境：操作系统

Windows

[2021-11-21 11:14] Arondight commented on #415
忘了还有这么个角色了，晚上处理一下

[2021-11-21 12:51] Mark9804 commented on #415
这个我弄好了，我待会push上来

alias样式改了之后要疯狂在中文输入法与英文输入法之间切换，有点难受

[2021-11-21 12:54] #415 closed

[2021-11-21 13:33] Arondight commented on #415
以前的文件太长了，很容易改晕了，虽说比较正式的写法确实是以前的那种

[2021-11-21 13:35] Arondight commented on #413
我感觉使用了汉明距离算字符串相似度后，汉明距离的值和别名之间可能都有一个相互的选择，值和别名不合适都会导致比较微妙的结果，这方面就需要在使用中积累经验了

[2021-11-21 15:43] Arondight commented on #408
我想加一个特性，如果 bot 没有启动，那么 view.js 自己起一个 server

[2021-11-21 15:45] Arondight commented on #408
https://www.npmjs.com/package/tcp-port-used

[2021-11-21 15:46] Mark9804 opened #416 "【我的】权限验证位置过于靠前"
### 问题描述

现在以【我的】开头的名称都会进入插件入口，如果某个群没有【我的】权限，那么所有消息都会被报告为没有权限。

实际上这个验证过于靠前了，是否要开倒车把权限验证交还给插件？

![image](https://user-images.githubusercontent.com/9006264/142768684-c5b6d93b-66fd-4155-a215-106f42df21bb.png)

### 复现流程

在一个没有游戏数据权限的群发送任意以“我的”开头的信息

### 后台日志

_No response_

### 代码状态：当前提交

--

### 代码状态：是否修改

Clean

### 运行环境： Node.js 版本

_No response_

### 运行环境： npm 版本

_No response_

### 运行环境：操作系统

ma

[2021-11-21 16:09] #416 closed

[2021-11-21 17:51] Mark9804 opened #417 "当前角色、武器误响应问题的合集"
# 1. 个人改进建议
https://github.com/Arondight/Adachi-BOT/commit/04fc8e621bab46fb4ed991dcad5564a9613f3226#commitcomment-60639808
<details>
<summary>把原评论搬运了过来</summary>

</details>

# 2. 误响应问题合集
## 2.1 【我的/别人的某个角色】
![image](https://user-images.githubusercontent.com/45933075/142772587-ca8f1f68-c44f-46b0-9ba0-8d5b171dfcbc.png)
![image](https://user-images.githubusercontent.com/45933075/142772579-1af8ca92-9

[2021-11-21 23:53] Arondight commented on #417
1. 2.1 没这个问题
2. 2.2 把角色的逻辑放到武器上就好了

[2021-11-21 23:57] Arondight commented on #417
这个建议很好呀，我试一下

[2021-11-22 00:05] Arondight commented on #417
另外别名需要删一删，现在别名太多导致匹配也有问题

[2021-11-22 00:08] Arondight commented on #417
行秋的秋秋和秋秋人明显是重复的，心海的鱼和热带鱼也是，现在的别名似乎成了一个梗字典，我觉得需要删掉大部分

[2021-11-22 00:15] Arondight commented on #417
1. 琴：琴团长，有人愿意输入琴必然不想再输入一个团长，所以应该只保留团长
2. 莫娜：占星术师，永远不会用到的别名，同样的还有早柚的幼颜龙蜥，托马的家政官

之前我写了一条原则但是删掉了，我觉得应该补回来

https://github.com/Arondight/Adachi-BOT/blob/f0ee821f8ca82cd4746675dc42b7b4dc9a129fc4/config_defaults/alias.yml#L3

[2021-11-22 00:16] Arondight commented on #417
之前删掉了这个原则是因为我们不太依赖这个配置文件的规范性，大家玩得开心就好，其实从给出查找建议开始就应该规范起来

[2021-11-22 00:26] Arondight commented on #417
另外别名应该具有时效性，例如凯亚明显不再是矿工头子了，事实上半年前入坑的人就不知道凯亚为什么叫这个，硬要说的话现在的矿工头子应该是钟离

[2021-11-22 00:42] Arondight commented on #417
再说一下你这个建议，我细看了一下你算距离和实际上的不太一样，理论上是很好的，不过距离其实不是这么算的。首先算 simhash ，文本分词，每个词算 hash ，每个 hash 按位加权后按位相加，然后进行归一变为一串二进制，至此 simhash 完成，认为这串二进制代表了文本的特征。然后汉明距离是两个二进制异或取置位个数

[2021-11-22 00:49] Arondight commented on #417
英文名字也是需要删掉的，永远不会被使用，除了一些国内玩家常用的例如 xiao dio

[2021-11-22 00:52] Arondight commented on #417
还有明显不需要处理的错别字，例如肖宮：小攻，相应反而会显得不正常

[2021-11-22 01:28] #417 closed

[2021-11-22 02:02] Mark9804 commented on #417
就是说汉明距离已经包含了我想法里的步骤了吗，我的理解是从一个字符串到另一个字符串需要替换的字符个数，所以借鉴论文查重提出了这个想法。
实际上跟我理解不一样的是，汉明距离是一个相对抽象的概念，已经可以（一定程度上）代表两个字符串之间的不相似率了吗？

[2021-11-22 02:04] Arondight commented on #417
@Mark9804 不是这样的，汉明距离是判断信息编码相似性的一种做法，我们传递给他的信息编码是 simhash ——文本的特征值

[2021-11-22 03:04] ixCiel opened #418 "url传参后的兼容性问题"
### 问题描述

系统：Ubuntu
浏览器：chromium-browser_95.0.4638
最新代码，genshin-info相关插件报：Node has 0 height.的错误
其它插件正常
怀疑是url长度过长导致
大部分浏览器对url的长度都是有限制的

### 复现流程

就更新代码后 发送 米游社 或者 uid

### 后台日志

_No response_

### 代码状态：当前提交

d0306992c059b9c19ea7e40c042e09c7f0778e6d

### 代码状态：是否修改

_No response_

### 运行环境： Node.js 版本

16.13.0

### 运行环境： npm 版本

_No response_

### 运行环境：操作系统

Linux

[2021-11-22 03:07] Arondight commented on #418
检查一下

https://github.com/Arondight/Adachi-BOT/blob/d0306992c059b9c19ea7e40c042e09c7f0778e6d/.pm2.json#L6

https://github.com/Arondight/Adachi-BOT/blob/d0306992c059b9c19ea7e40c042e09c7f0778e6d/package.json#L30-L32

[2021-11-22 03:10] ixCiel commented on #418
都一样。
重新拉代码，然后就复制了配置文件，依然报错

[2021-11-22 03:12] Arondight commented on #418
比较奇怪，我的浏览器版本甚至要低一些

[code]

[2021-11-22 03:14] Arondight commented on #418
使用 `npm run init` 运行也会有这个错误吗

[2021-11-22 03:16] ixCiel commented on #418
依然报错
难道是arm64的问题

[2021-11-22 03:17] Arondight commented on #418
麻烦试一下直接拉我的项目到一个新的目录，看看有没有这个问题。我没有 arm64 的验证环境，树莓派只有一个 3 ，实在跑步起来

[2021-11-22 03:19] ixCiel commented on #418
新代码试过了
依然报错
我换个chromium源试试

[2021-11-22 03:19] Mark9804 commented on #418
[chrome/chromium很早开始就不限制url长度了](https://wiert.me/2010/04/20/maximum-url-lengths/)，我感觉很大可能是node没有正确接收这个参数

试着构建一个超长链接的`wget`，然后如果我的猜想正确的话，服务器端response应该是`431 too long`

[2021-11-22 03:21] Arondight commented on #418
node 从 v16.6.0 开始支持了参数 `--max-http-header-size` ，指定参数后应该不会出现这个问题

[2021-11-22 03:26] Arondight commented on #418
准确来说这里我们没有服务端，仅仅是 render.js 构造了一个超长 URL 直接塞给了 chromium 。

[2021-11-22 03:26] Mark9804 commented on #418
![image](https://user-images.githubusercontent.com/9006264/142796541-e0b7bb47-2444-49ae-8cf8-679a2c696385.png)

[2021-11-22 03:26] Mark9804 commented on #418
坏了，不会变成我的锅了吧

[2021-11-22 03:27] Arondight commented on #418
我刚刚改掉了，`npm run view -- -l`，新名字是 `package`，因为原来的名字和插件对应不起来

[2021-11-22 03:33] Mark9804 commented on #418
我这边应该也是最新的，现在准备去上课，回来再看看

本地没有commit的文件只有command.yml和alias.yml
d43e805936b75df44af438286cbb894ef0758d2f (HEAD -> master, origin/master, origin/HEAD) Merge branch 'Arondight:master' into master
[code]

[2021-11-22 03:35] Arondight commented on #418
需要有人查 uid 才会生成 package.json

[2021-11-22 03:52] Mark9804 commented on #418
`localhost`是一个服务端，参考 https://github.com/Mark9804/Adachi-BOT/issues/35#issuecomment-967861645

当前issue的状况跟这个挺像的，我感觉有没有可能是这个问题，这个因该是可以通过`wget http://localhost:9934/sec/view/genshin-info.html?data=一个超长参数`测试出来的，手头只有iPad

[2021-11-22 03:52] Mark9804 commented on #418
`localhost`是一个服务端，参考 https://github.com/Mark9804/Adachi-BOT/issues/35#issuecomment-967861645

当前issue的状况跟这个挺像的，我感觉有没有可能是这个问题，这个因该是可以通过`wget http://localhost:9934/sec/view/genshin-info.html?data=一个超长参数`测试出来的，手头只有iPad

[2021-11-22 03:53] Arondight commented on #418
不是这个问题，这个问题是因为 node 构造不出超长 URL 。

另外没有 localhost 服务器

[2021-11-22 03:55] ixCiel commented on #418
确认了，是chromium源的锅，换了一个新源正常了。
应该是原来的源编译参数太久没更新了~

[2021-11-22 03:59] Arondight commented on #418
这个问题有点趋势我再去掉超长 URL ，看看以后会不会再出别的问题吧 #407

[2021-11-22 03:59] #418 closed

[2021-11-22 04:11] citydirector commented on #417
补充一些奇奇怪怪的触发
![image](https://user-images.githubusercontent.com/45933075/142799928-a2fde995-454d-4725-bb53-d04ebedb772e.png)
![image](https://user-images.githubusercontent.com/45933075/142799984-b2f4628d-20d1-418c-881e-6dc261cb89be.png)
![image](https://user-images.githubusercontent.com/45933075/142800016-3956d76b-72ab-410c-8d09-94fe29329e0f.png)

[2021-11-22 04:14] Arondight commented on #418
我用树莓派 3b 把 bot 跑起来了，感天动地

[code]

[code]

[2021-11-22 04:17] Arondight commented on #417
我这里还有 `武器池` 的问题，但是后两个没有，我看看怎么做一些进一步的相似性检测

[2021-11-22 04:34] Arondight commented on #417
1. 现在降低了很多误触，例如 `信息池`
2. 删除了武器和角色，本来这俩也没出现在帮助信息上

[2021-11-22 05:17] Arondight commented on #417
另外加了一个旅行者的 json ，里面都是瞎写的，晚上有空再填

[2021-11-22 05:31] citydirector commented on #417
等大佬们更新完这个阶段我再更新试试（自定义了部分配置文件，每次都要重新写0.0）

[2021-11-22 06:07] Mark9804 commented on #417
之前我提出的相似性检测方法可能因为有误解导致说的不太清楚，但应该大方向是没问题的，我在我自己分支尝试一下

[2021-11-22 06:41] Mark9804 commented on #417
`simhash`感觉有点奇怪，我预期中`达达鹅`和`达达吖`的响应应该是一样的，而不是一个响应一个不响应
![image](https://user-images.githubusercontent.com/9006264/142815580-7167145c-81d1-4f83-a1e6-30a6c80f2ecd.png)

[2021-11-22 06:43] Arondight commented on #417
你可以单独写个脚本尝试

[code]

现在分词器是我自己写的，如果用 Segment 库分词就会很像了

[2021-11-22 06:46] Arondight commented on #417
但是分词太好就会过于相似或者不相似了，所以我自己写了个分词。例如 `迪卢克` 会被 Segment 分词成一个词语 `迪卢克` ，但是会被我分成 `迪`、`卢`、`克`，对于每个分词都计算 hash ，然后加权、纵向相加、归一。所以 `迪卢克` 这一个词相当于不会有加权、相加和归一的过程，就是绝对准确的。这就导致了一个问题，`迪卢克` 和 `迪卢壳` 就是完全两个东西

[2021-11-22 06:51] Mark9804 commented on #417
这个结果感觉太不稳定了，有没有可能simhash在非英文环境下的表现比我们想象中的要差一些
[code]
[code]

[2021-11-22 06:53] Arondight commented on #417
我感觉跟英文没关系，他这算法不关心语言编码，反正我现在是两层校验了， hamming 好不好我也不是很在意了

[2021-11-22 06:53] Mark9804 commented on #417
不经过`simhash`，我感觉这种结果是好的
[code]
[code]

[2021-11-22 06:56] Arondight commented on #417
不经过 simhash 不行的，你把顺序改一下一下试试，例如 `达达里亚` 和 `公子达达利亚`

[2021-11-22 06:57] Arondight commented on #417
而且对于汉明距离来说这个串实在是太短了，算不出什么有代表性的东西

[2021-11-22 07:00] Mark9804 commented on #417
确实得过一遍 simhash ，我再想想

[2021-11-22 07:01] Mark9804 commented on #417
老大哥能提供一下现在的分词器的位置么

[2021-11-22 07:23] Arondight commented on #417
[code]

[2021-11-22 07:24] Arondight commented on #417
实际上我试了下，少于六个字符，这样分词更加合理一下

[2021-11-22 07:24] 490720818 commented on #405
只是为了性能的话mongodb应该还不如sqlite

[2021-11-22 07:28] Arondight commented on #417
我更新了一下分词器，现在不会分出来空白字符了

[2021-11-22 07:28] Arondight commented on #405
为啥呢

[2021-11-22 07:28] Mark9804 commented on #417
https://github.com/xmcp/pakku.js/blob/1ef9d3998a27e6b69daf792bcbbbe79e13c1b525/pakkujs/core/edit_distance.js

上面是一个判断B站不同弹幕相似度并自动合并的项目，判断的是2-gram频率向量的夹角（不是那个编辑距离/莱文斯坦距离）

[2021-11-22 07:33] Arondight commented on #417
我晚上回去看一下，这些算法我感觉在短字符串上表现都不一定多好，特征很容易变动，长字符串就不会

[2021-11-22 08:10] Scp-Joker opened #419 "npm run init时报错"
### 问题描述

[2021-11-22T16:06:59.090] [WARN] - [下线通知]该帐号密码目前已经泄露，请按照系统指引重新登录，为避免产生损失建议及时修改密码。你也可以对帐号进行<TITLE="资金管理",URL="https://myun.tenpay.com/mqq/banneduser/index.shtml?_wv=1027">。
[2021-11-22T16:06:59.091] [MARK] - 193.112.231.60:8080 closed
[2021-11-22T16:07:04.023] [DEBUG] - getMsg发生错误。
[2021-11-22T16:07:04.023] [DEBUG] - TimeoutError: package timeout
    at Object.<anonymous> (/usr/local/Adac

[2021-11-22 08:11] #419 closed

[2021-11-22 08:19] Arondight commented on #419
1. 确认下你读取的 QQ 是自己配置的还是默认的 987654321
2. 确认你使用的 QQ 是否正常

[2021-11-22 09:32] citydirector opened #422 "npm i 失败"
### 问题描述

![image](https://user-images.githubusercontent.com/45933075/142832881-486a5f0b-9183-4434-a765-15bd2d778fd7.png)
![image](https://user-images.githubusercontent.com/45933075/142832022-5d43faac-ef86-43eb-a258-a382a52ce8ee.png)

### 复现流程

1

### 后台日志

_No response_

### 代码状态：当前提交

b040992202a676e089c0696cdd35ab424da28700 屏蔽 t.js

### 代码状态：是否修改

_No response_

### 运行环境： Node.js 版本

v16.13 & v

[2021-11-22 09:33] citydirector commented on #422
感觉像是漏了啥（）

[2021-11-22 09:49] Arondight commented on #422
[code]

[2021-11-22 09:58] Arondight commented on #422
![图片](https://user-images.githubusercontent.com/13673702/142840883-49c4d178-1cba-42c1-bab8-7a4aa8f8f083.png)

你自己查一下吧

[2021-11-22 10:59] citydirector commented on #422
头痛，不太会用这个工具，只会用来查查硬件信息（）

[2021-11-22 11:00] Arondight commented on #422
那你把 `5.19.15` 改成 `5.19.14` 不就行了

[2021-11-22 11:14] citydirector commented on #422
不是很明白原因，`wget https://registry.npmjs.org/`任意内容都是ok的，但是npm的任何操作都是error400，然后用nvm卸载又重装了node16&17版本折腾来折腾去好像也不管用，当然也尝试过 `npm config rm http-proxy` `npm config rm https-proxy` `npm config set registry https://registry.npmjs.org` ，这不应该呀（指什么都没做npm突然就嗝屁了）

[2021-11-22 11:15] Arondight commented on #422
啊这，你非得用最新的版本干啥，我就是顺手改的

[2021-11-22 11:27] citydirector commented on #422
虽然有备份可以恢复，但是这玩意真的是有毒的
![image](https://user-images.githubusercontent.com/45933075/142853672-5d38fb4d-7572-49d5-8a13-5414b4346185.png)

[2021-11-22 11:28] Arondight commented on #422
npm 配代理了吧，有的话给清了

[2021-11-22 11:30] citydirector commented on #422
前面试过了，莫得代理

[2021-11-22 11:35] citydirector commented on #422
我开始怀疑是不是tcp端口动态范围被消耗完了

[2021-11-22 11:36] Arondight commented on #422
不可能啊，`export ｜ grep -i npm` 看看

[2021-11-22 11:41] citydirector commented on #422
emmmm
![image](https://user-images.githubusercontent.com/45933075/142855626-1ec365d9-7750-4a9b-b5aa-ddae5f3d2601.png)

[2021-11-22 11:42] Arondight commented on #422
我用手机打的，切英文麻烦，你自己把竖线换成英文符号

[2021-11-22 11:42] citydirector commented on #422
没有输出结果

[2021-11-22 11:44] citydirector commented on #422
declare -x npm

[2021-11-22 11:45] Arondight commented on #422
查不到就别纠结了，降个版本，改个数字的事

[2021-11-22 11:47] citydirector commented on #422
好像真的是tcp端口号用完了...

[2021-11-22 11:47] #422 closed

[2021-11-22 11:48] Arondight commented on #422
干啥了，听起来就跟 inode 用完了一样离谱，我感觉肯定是别的什么地方有问题，这玩意儿怎么可能用完

[2021-11-22 11:52] citydirector commented on #422
我也觉得离谱，这个问题应该只出现在windows上才对...
但之前node的配置、系统代理(位于/etc/profile)都检查过没有任何问题，重启network.service也似乎没什么用...npm update都能报e400就非常离谱
最后无奈重启了服务器居然自己好了...

[2021-11-22 12:19] Mark9804 commented on #417
补充一条
![image](https://user-images.githubusercontent.com/9006264/142860711-738ec845-75df-4ad5-b07b-b3ba5b8c3a07.jpeg)

[2021-11-22 12:21] Mark9804 commented on #417
拉了一下代码重启试了试，确实会误触发![image](https://user-images.githubusercontent.com/9006264/142861026-eba63c4e-8653-4b8d-951f-de014d7a8fb3.jpeg)

[2021-11-22 12:23] Arondight commented on #417
定轨我忘了加了，这个加一下限制就好，不需要算相似性。以前的代码因为有正则过滤掉很多不合适的聊天内容，所以插件内部都没有做这个工作。

[2021-11-22 12:26] Arondight commented on #417
哦，定轨是需要算的，我晚上统一处理一下吧，中午加的旅行者 json 我也得改一下

[2021-11-22 13:03] Mark9804 commented on #417
开了个倒车，试了 Levenshtein 距离（编辑距离）

[code]
[code]

[2021-11-22 13:09] citydirector commented on #422
神了，另一台服务器上自从Nov 17, 2021的版本之后一直没更新，然后刚刚也顺手更新了一下出现了同样的问题

[2021-11-22 13:16] Mark9804 commented on #417
我最初的想法应该是基于编辑距离的，触发点是我们预先设置好的某一个不相似率的阈值

[2021-11-22 13:35] Arondight commented on #417
这个看上去不错，虽然计算量会变很多

[2021-11-22 13:40] Arondight commented on #417
@Mark9804 麻烦多试试，你这里如果得出结论可以的话我就直接换了，我还在改这堆防误触的东西

[2021-11-22 13:45] Mark9804 opened #423 "「旅行者」详情页面布局异常"
声优太多了会溢出，又因为那个属性banner的位置是absolute，不会移动，导致重合
然后图像资源没有那个钻石碎片
最后给“周一二三”和“四五六日”中间加个换行符 \n 好了
![image](https://user-images.githubusercontent.com/9006264/142871659-666b9a29-6015-4fe6-9943-ed71394804c4.png)

[2021-11-22 13:48] Arondight commented on #423
啊这，声优那就别写派蒙的了，周几直接写 `周一至周日`，钻我忘了从哔哩哔哩 wiki 扒图了

[2021-11-22 13:50] Arondight commented on #423
生日怎么还是 `原子能量球` 啊

[2021-11-22 13:50] Mark9804 commented on #417
我这个测试用的脚本暂时整合不进tools.js里，会报`require is not defined in ES module scope`

刚刚我是直接把根目录的`package.json`里面的`"type":"module"`干掉来单独测试的，待会我再看看

[2021-11-22 13:51] Arondight commented on #417
我来吧，我改完防误触了

[2021-11-22 13:53] Mark9804 commented on #423
旅行者的生日就是玩家生日

https://github.com/Arondight/Adachi-BOT/blob/09852019892c94d3e44f51dcdcd825234a0d5fd0/resources/Version2/info/docs/%E6%97%85%E8%A1%8C%E8%80%85.json#L7

[2021-11-22 13:55] Arondight commented on #423
啊这，那要不就写个空字符串吧

[2021-11-22 13:56] Mark9804 commented on #423
这个我来照猫画虎写一个吧，用[web api](https://github.com/takayama-lily/oicq/blob/main/web-api.md)抓用户生日，然后写进去
有了抓群头像的代码，抄一个应该不难，用法都差不多

[2021-11-22 13:57] Mark9804 commented on #423
可以暂时先改成空字符串，最近实在是没有时间了……

[2021-11-22 13:58] Arondight commented on #417
好在可以在算编辑距离之前首先算一下可能的别名，如果有的话再算编辑距离，我看了一下，这个算法跟汉明距离一比的确是小号太大了，而且 simhash 还是加载配置文件之后就把所有别名算好的

[2021-11-22 13:59] Arondight commented on #423
应该不用这么搞，大概率引起误解，而且大多数丘丘用户也不知道自己瞎填的啥生日

[2021-11-22 14:01] Mark9804 commented on #417
https://www.npmjs.com/package/fastest-levenshtein

这个包不知道表现会不会好一些

[2021-11-22 14:06] Arondight commented on #417
反正我也一时半会看不懂这算法，哪个名字牛逼就用哪个

[2021-11-22 15:08] #423 closed

[2021-11-22 15:10] Arondight commented on #423
沃日，下载的 png 全都是 html

[2021-11-22 15:13] Mark9804 commented on #423
是直接`wget`了吗，bwiki 好像也没做反抓取啊

[2021-11-22 15:14] Arondight commented on #423
我又浏览器邮件保存了一波，这次没问题了

[2021-11-22 15:16] Mark9804 commented on #423
虽然没有理解，但是右键应该可以直接下载的
![image](https://user-images.githubusercontent.com/9006264/142886642-c2d8550a-d670-47ee-a1ef-5bf0b890c9ce.png)

[2021-11-22 15:17] Arondight commented on #423
![图片](https://user-images.githubusercontent.com/13673702/142886807-7888f4f4-efb5-4c32-b6a6-b57873a37246.png)

凑合能看了，暂时就这样吧

[2021-11-22 15:40] Mark9804 commented on #423
我把「旅行者」前面的点给去掉了，https://github.com/Arondight/Adachi-BOT/commit/1796120b6a2f6a5f3169306e7de20437ae9d5959 ，https://github.com/Arondight/Adachi-BOT/commit/c7233628d7f7ddd6688b18b473993b645ea51a87

[2021-11-22 15:42] Mark9804 commented on #417
两个字猜错一个，感觉误触率会不会太高……

屋里 → 神里

[2021-11-22 15:54] Mark9804 commented on #417
刚刚看了一下网上对于距离算法的优化基本上是提前返回结果终止循环，但我们字符串不在长而在多，意义不大

有一种矩阵版本的距离算法（[中文](https://www.cnblogs.com/ymind/archive/2012/03/27/fast-memory-efficient-levenshtein-algorithm.html)，[英文](https://www.analyticsvidhya.com/blog/2021/02/a-simple-guide-to-metrics-for-calculating-string-similarity/#h2_5)），但很可惜我数学不好，看天书了属于是

[2021-11-23 06:07] citydirector commented on #417
![IMG_20211123_134612](https://user-images.githubusercontent.com/45933075/142977965-3b1ad2b0-aba4-4b1d-b0d9-40926498dddf.jpg)

[2021-11-23 06:09] citydirector commented on #417
（日常忘记打码）
![IMG_20211123_140916](https://user-images.githubusercontent.com/45933075/142978084-982eec6e-cdd3-49ba-aadc-a9455c905925.jpg)

[2021-11-23 06:13] Arondight commented on #417
@citydirector 这个没法避免了，唯一的优化只是看看能不能把候选词列表做得好一点，你要是想避免这个问题可以选择机器人只响应 @信息 或者需要加前缀

[2021-11-23 06:16] Arondight commented on #417
https://github.com/Arondight/Adachi-BOT/blob/60f6e4250a106015c5dee5e3c99337587b0fe401/config_defaults/setting.yml#L41-L43

https://github.com/Arondight/Adachi-BOT/blob/60f6e4250a106015c5dee5e3c99337587b0fe401/config_defaults/setting.yml#L80-L88

[2021-11-23 06:20] Mark9804 commented on #417
评论是可以二次编辑的，不过就算删掉了原评论邮件也能看到，所以还是注意点

照理来说应该不会触发吧？远超过0.5了
你们这个群机器人魔改的比较厉害，你得问问管理现在的alias是怎么回事
为什么我会知道呢，因为一个群友天天问我什么时候加上你们bot的涩图功能
![image](https://user-images.githubusercontent.com/9006264/142978797-717ee8f8-1cfc-46c6-be30-a3c29ea9ecd0.png)

[2021-11-23 06:28] Arondight commented on #417
也可能他用的还是老代码，我们昨天才换的匹配算法

[2021-11-23 06:28] Arondight commented on #417
老代码的 simhash 在短文本的情况下确实不咋地，长文本还行

[2021-11-23 06:36] citydirector commented on #417
233，我自己的话色图bot用了go-cqhttp用了不同设备登录，不冲突
应该是昨晚8点多的版本

凝光那个alias只有“富婆、天权、天权星”三个，其他的也没有跟跟“凝光”两个字沾边的

[2021-11-23 06:43] Mark9804 commented on #417
不知道是不是没有从内存读取配置的问题，我感觉这个算法的资源消耗和读取配置的时间一对比感觉还行……

[code]

[code]

[2021-11-23 07:13] Mark9804 commented on #417
长文本的表现也还可以，应该没有性能瓶颈啊
[code]

[2021-11-23 07:42] Mark9804 commented on #417
我的进一步想法是，如果接受的建议有且只有一个，那么就认为用户是想查询这个人了

[2021-11-23 07:51] Arondight commented on #417
我晚上想一想搞一搞，上班上得脑壳疼，下班回去睡觉了

[2021-11-23 08:04] citydirector commented on #178
这个沙雕问题又出现了，但是只出现在一台服务器上（换而言之另一台没出现）

[2021-11-23 08:11] Arondight commented on #417
晚上干脆搞了得了，之前的那个候选词算法怎么看都太傻了

[2021-11-23 08:13] citydirector commented on #178
还是这个issue的这台服务器，按照经验简单排查了一下，“信息 刻晴”渲染的图片是正常的，`https://upload-bbs.mihoyo.com/*`能访问，npm的代理也不存在，chromium版本也从90更新到96
![image](https://user-images.githubusercontent.com/45933075/142989055-78b750b7-dbd1-4382-bc7f-7ee32284be89.png)

[2021-11-23 08:14] citydirector commented on #178
似乎是今天突然出现的，总不可能是因为更新跨度太大出问题了吧（）

[2021-11-23 08:15] Arondight commented on #178
连不上米游社，得自己想办法

[2021-11-23 08:27] citydirector commented on #178
curl和wget都ok，这台服务器真是反复横跳（）

[2021-11-23 08:48] Mark9804 commented on #178
不知道该说什么，我就默默把这个排版问题认领走吧

这个圣遗物我们本地都有资源，没必要抓米游社的图浪费时间，写个函数换源得了

[2021-11-23 08:50] citydirector commented on #178
唉，不会调试找问题就很难受（）

[2021-11-23 09:13] Mark9804 opened #424 "“我的”前端页面结构优化"
- [x] 网页：使用 flexbox 而不是`position: relative`进行排版
- [x] 后端：寻找圣遗物图片与链接的映射关系，完全用本地图片替代米游社图片

_Originally posted by @Mark9804 in https://github.com/Arondight/Adachi-BOT/issues/178#issuecomment-976290905_

[2021-11-23 10:51] Arondight commented on #417
睡醒了试了一下，感觉给出建议会不会有点牵强，例如下面是所有和 `白枪` 匹配的名字

[code]

[2021-11-23 10:53] Arondight commented on #417
我感觉或许还是给一个候选词列表而不是直接猜一个可能对的会好一些？或者改成猜测先实际运行一段时间观望一下

[2021-11-23 10:57] Mark9804 commented on #417
在有多个可能性的时候，我们就不做猜测了

[2021-11-23 11:07] Mark9804 commented on #417
作为生物来说我们的做法是 字形+拼音相似度，在项目里这么搞当然也可以，只是工作量就直接上来了

所以我的想法是例如：
# 例1
[code]
在这个例子中，匹配的有6个建议，接受的（≤0.5）的只有一个建议，那么就认为用户想查询“放火烧山真君”

# 例2
[code]
在这个例子中，接受的建议数量 ≥ 1，那么我们不应该替用户做选择。除非我们进一步引入拼音比对，认为在这八个建议当中，`baiqiang`和`baiyingqiang`最为接近，认为用户想查询白缨枪。但是这样工作量太大了，收益也不大。用户得到了想要的数据，但我们花费了大量资源和时间，这一切不值得

[2021-11-23 11:10] Arondight commented on #417
确实，我本来想的是要做统一做了，直接把候选词给砍掉，不过没啥好办法，先这么做吧

[2021-11-23 11:21] Mark9804 commented on #417
简历上可以加一条“精通自然语言处理”了

我们可以综合用多种算法模型来给用户一个最接近他想法的猜测，但是出于资源消耗（不管是计算资源消耗还是我们的时间精力消耗），我觉得这样做不太值得

[2021-11-23 11:41] citydirector commented on #417
太强了qwq

[2021-11-23 11:48] Mark9804 commented on #417
开玩笑的

[2021-11-23 11:55] Mark9804 commented on #424
通用格式：`https://upload-bbs.mihoyo.com/game_record/genshin/equip/UI_RelicIcon_五位数ID_一位数部位.png`

| 圣遗物 | 部位 | 圣遗物套装ID | 部位 |
| ------ | ---- | ------------ | ---- |
| 魔女   | 花   | 15006        | 4    |
| 魔女   | 毛   | 15006        | 2    |
| 魔女   | 杯   | 15006        | 1    |
| 魔女   | 头   | 15006        | 3    |
| 乐团   | 沙   | 15003        | 5    |

待补充

[2021-11-23 12:07] Arondight commented on #417
@Mark9804 算是部分达成了你的想法吧，可能还差点意思

[2021-11-23 12:09] Mark9804 commented on #417
有雏形就行了，我可以微创新

[2021-11-23 12:09] Arondight commented on #424
我觉得这个是不是应该后端来做？前端处理这个不太好吧

[2021-11-23 12:10] Arondight commented on #424
我没明白为啥要有一个对应关系，不是简单的替换 url 的 domain 就可以吗

[2021-11-23 12:15] Mark9804 commented on #424
就是替换url的意思，我在找某个米游社链接应该对应哪一个圣遗物，然后我们本地不是有所有圣遗物的图片么，这样就不用去请求米游社的数据了，速度可以提升很多

但是武器图片我们好像没有这个样式的，所以只能向米游社请求一张武器图。就算这样也把六个请求精简成一个了，六倍的提升

[2021-11-23 12:16] Mark9804 commented on #424
这个步骤在后端能做，前端也能做，老大哥要是不想接这个锅就我来，想接这个锅我就甩给你。这个步骤可有可无，唯一的优势是加快渲染速度

[2021-11-23 12:20] Arondight commented on #417
效果好的话顺手提一下，我感觉现在的主要问题，是编辑距离除以字符串长度这个权值颗粒度太粗了

[2021-11-23 12:27] Mark9804 commented on #417
我暂时也想不到什么更骚的操作了，要解决这个问题比如弄个拼音匹配，这样就等于变相拉长了两个字符串的长度，说不定最后还是能够回到汉明距离上

[2021-11-23 12:28] Arondight commented on #417
我感觉现在只能算一个持续的优化吧，我们又对这个领域不熟，只能一点点搞了，先这样吧，你说的效果至少是达成了，就是这个颗粒度太粗略不好控制

[2021-11-23 12:30] Arondight commented on #424
哦，就是我们的数据中圣遗物 url 用了 id ，但是我们本地存放圣遗物用的名字对吧

[2021-11-23 12:39] Arondight commented on #424
我知道是啥了，例如魔女，套装把 `15006` 换成 `3` ，部位把 `4/2/5/1/3` 换成 `0/1/2/3/4` 就可以了，我感觉再资源目录里面维持一个 json 比较好，然后呢，在 json 中找到对应，那就替换，找不到，返回原始路径，应该后端直接处理数据比较合理

[2021-11-23 12:39] Mark9804 commented on #424
我们的圣遗物图片的路径虽然是`圣遗物套装ID/圣遗物部位ID`，
例：
[code]
但是米游社的套装ID、部位ID和我们是不一样的
[code]
所以如果要使用本地的圣遗物图片的话，我们需要做这个替换

[2021-11-23 12:41] Mark9804 commented on #424
这个json可以定期通过解析 https://genshin.honeyhunterworld.com/db/artifact/?lang=CHS 的网页源代码进行更新

[2021-11-23 12:43] Arondight commented on #424
你先处理一下前端渲染问题，数据我来做，咱俩工作互不影响，双方都做完，就完成了

[2021-11-23 12:46] Arondight commented on #417
我想到了一个优化，现在猜名字是根据别名和本名猜的，然后结果填到数组，如果数组只有一个元素，那么就使用这个名字。所以应该把所有的别名换成本名，做一次数组去重

[2021-11-23 12:56] Arondight commented on #417
![图片](https://user-images.githubusercontent.com/13673702/143027872-565a7034-58fc-4baa-8458-d6becf111c82.png)

至此 alias.yml 的存在感越来越稀薄了

[2021-11-23 12:57] Arondight commented on #417
但是这样的话， alias.yml 加回去一些别名比较合适

[2021-11-23 13:01] Mark9804 commented on #417
我觉得这还是要回到“ alias 对用户来说意味着什么”这个问题上来

对于我个人来说 alias.yml 除了是一个纠错字典之外也是一个玩梗的地方，如果只能够根据本名查询的话感觉乐趣降低了，所以打算在自己仓库把 c6f93036c542c7e2e5d298cdc124925db80f8b7f 回滚掉

[2021-11-23 13:05] Arondight commented on #417
我的看法不一样，我觉得 alias 现在不建议由用户自行修改，一来这个文件改起来是需要机巧的，例如优菈的别名只有尤拉就够了，优拉和尤菈都是多余的，二来别名越多误触越多，例如有人说我舅放火烧山进去了，然后 bot 贴出来一张可莉

[2021-11-23 13:09] Arondight commented on #417
另外当前的权重只偏向一个字符串好像是有一点问题的，但是目前也没有权衡两个字符串的好办法，因为用户说的话不知道有多长

[2021-11-23 13:11] Mark9804 commented on #417
确实有这个问题，还是让用户自己根据使用场景决定吧，我们保留最小的数据集，不建议用户修改别名，但如果用户想要修改的话，我们也最好能够给他修改并且体现这些修改的权利

[2021-11-23 13:21] Arondight commented on #417
嗯，目前是这样的。

另外我刚才修改别名，感觉一般用户真的改不好（不好和不能用是两码事），例如。

1. 天空大剑作为天空之傲的别名是没有意义的
2. 狗和狗崽两个别名同时存在是没有意义的（因为狗崽会被识别成狗）
3. 但是金珀作为试做金珀的别名是必要的（因为金珀不会被识别成试做金珀）

我该起来都得写程序测，用户必然改不好的，这也和我们的权重计算不好有关，狗到狗子，和，狗子到狗，结果不一样

[2021-11-23 13:28] Mark9804 commented on #417
如果我们把分母改成两个字符串长度相加，然后因为分母变大，所以我们需要再乘以一个现在我也不知道是多少的修正系数。

这样的话虽然可以解决结果不一样的问题，但是整个算法就逐渐变得玄学起来了

越魔改越像训练神经网络的时候瞎几把调参了，这样感觉不是很好，我们再想想有没有其他办法吧

[2021-11-23 13:31] Arondight commented on #417
我本地只是简单的除以两个字符串长度的最小值，结果好多了

[2021-11-23 13:32] citydirector commented on #417
贴个bug出来：`0的优菈` 到 `9999的优菈` 都会出现结果，结果等同`我的优菈`

[2021-11-23 13:33] citydirector commented on #417
我可能是传说中的bug体质...

[2021-11-23 13:34] Arondight commented on #417
这个是我本来限制了 UID 正则，后来我又给去掉了，我讨厌硬编码

[2021-11-23 13:36] citydirector commented on #417
两分钟前更新了（）

[2021-11-23 13:39] citydirector commented on #417
试了一下，用什么别名都没有的埃洛伊也能复现

[2021-11-23 13:40] Arondight commented on #417
你确定 `config/` 下的 `command.yml` 也更新了吗

[code]

[2021-11-23 13:44] Mark9804 commented on #417
重启了吗
On Nov 23, 2021 10:40 PM +0900, Qin Fandong ***@***.***>, wrote:

[2021-11-23 13:47] Arondight commented on #417
再更新一下，测测 bug ，我先摸了，体力还没打呢

[2021-11-23 13:48] citydirector commented on #417
老实说，这个脚本好像没有正常工作的样子...
![image](https://user-images.githubusercontent.com/45933075/143035860-8b2fc65c-f190-434b-adc8-16774565718e.png)

[2021-11-23 13:50] Arondight commented on #417
俺不管，你的 diffutils 版本太低了

[2021-11-23 14:02] Arondight commented on #417
比较奇怪为啥我的 bot 用了当前的算法后反应总是慢一拍，难道是单纯的网络原因？

[2021-11-23 14:06] Mark9804 commented on #417
看一下后台log吧，我这里基本上是秒反应的

[2021-11-23 14:09] Arondight commented on #417
开游戏了，今天太累了，我下午四点就回到出租屋睡觉了，明天看看如果不会拖慢速度我把 alias 文件里的说明删掉，省的别人不敢放心玩

[2021-11-23 14:09] Mark9804 commented on #417
还有一个可以优化的点，假如用户输入的选择有两个建议，而这两个建议都指向同一个对象，那么可以认为用户就是想查询这个对象

[code]
查询： 狗仔，返回“狗”和“狗崽”两个结果，但是他们指向的对象都是五郎，所以也可以认为用户想查询五郎

[2021-11-23 14:10] Arondight commented on #417
这个我已经实现了，但是被你 revert 了，虽然实现的和你的设想可能有一点点区别

[2021-11-23 14:15] DongGua-Jun opened #425 "【圣遗物评分】能添加评分记录嘛？"
### 问题描述

评分记录后可以生成排行榜（按部位划分

甚至再细化出 群（各部位）排行榜 和 bot记录的总（各部位）排行榜

### 代码状态：当前提交

git log -1 --format=oneline

[2021-11-23 14:17] Arondight commented on #425
当前的评分本来就不准确，排行榜也没啥意义，现在的评分系统表现太差了，我还拿它没有办法

[2021-11-23 14:19] Arondight commented on #425
每个QQ记录一个最高分，总排名不好做，总不能把QQ号打出来

[2021-11-23 14:20] citydirector commented on #417
大概摸明白了，然后想到一个
`信息xxx<字符串>` 这样子的，只要字符串长度小于前面`信息xxx`长度和的一半就会被判定为true
比如说`角色摩拉克斯的枪`这样子的（当然这个例子有点牵强）

[2021-11-23 14:21] Mark9804 commented on #425
你要找的是不是这个
https://genshin.pub/relic
![image](https://user-images.githubusercontent.com/9006264/143041307-c6a63dd1-cb98-4a66-b5f4-e44e40b183ff.png)

[2021-11-23 14:22] DongGua-Jun commented on #425
可以记录当时的名片，或记录评分人的游戏UID？（如果他有绑定的话

[2021-11-23 14:23] Arondight commented on #425
uid也是隐私吧，只记录名片倒是可以

[2021-11-23 14:24] Mark9804 commented on #417
emmm，能再详细一点说明一下吗，没有计算过程不给分的

[2021-11-23 14:25] Arondight commented on #425
虽然这个功能很简单，我还是想优先级放低，数据库没加一个靠谱的可选后端之前我心里不踏实

[2021-11-23 14:25] DongGua-Jun commented on #425
先挖个坑.png

[2021-11-23 14:28] citydirector commented on #417
233
“信息摩拉克斯abc”这样就能触发，因为‘abc’字数是3个字，‘信息摩拉克斯’是6个字，3≤6所以能触发

[2021-11-23 14:31] Arondight commented on #417
我国古代的科学一般都是先通过现象总结事物规律，然后创造一套符合已知现象的理论，如果这理论能够进一步得到验证，一般就认为这个理论是对的了，例如中医的阴阳五行、五运六气，从这个角度来说他总结的还挺好的😄

[2021-11-23 14:31] Mark9804 commented on #417
？？？

[2021-11-23 14:32] citydirector commented on #417
淦，想一块去了

[2021-11-23 14:36] Mark9804 commented on #417
？？？？

这个确实能触发，并且会返回唯一结果钟离

虽然我感觉其实不应该触发，因为这给我的感觉是它明显不应该是一个指令，指令应该是`信息摩拉克斯`，后面不跟东西的

[2021-11-23 14:37] Arondight commented on #417
信息dio娜

[2021-11-23 14:39] citydirector commented on #417
这个当alias中只有“[ dio ]”的时候又应该被触发，
所以不同角色由于不同的外号会有不同的长度判定，不如把这个长度判定交给使用者？

[2021-11-23 14:40] Arondight commented on #417
现在没有长度判定吧，正则是捡破烂模式

[2021-11-23 14:41] citydirector commented on #417
没，只是个想法（）

[2021-11-23 14:45] Mark9804 commented on #417
我理解了，我去，还真是这个算法，我们的算法好像就是长这样的

[2021-11-23 15:44] Arondight opened #427 "禁言时不要发送消息"
### 问题描述

现在禁言不发送消息的逻辑写在消息发送函数之外，没有处理到复读

### 复现流程

略

### 后台日志

_No response_

### 代码状态：当前提交

略

### 代码状态：是否修改

_No response_

### 运行环境： Node.js 版本

_No response_

### 运行环境： npm 版本

_No response_

### 运行环境：操作系统

Linux

[2021-11-24 03:17] Arondight commented on #427
原来我早做完了

[2021-11-24 03:17] #427 closed

[2021-11-24 03:27] yylmzxc opened #428 "关于bot的管理，部分功能无法关闭，比如说带话功能，无法关闭的bug"
用win10运行
最新的bot，带话功能无法关闭，会一直触发带话功能
![(OKR9IXUE)EQ~D_W2M900_0](https://user-images.githubusercontent.com/90677130/143172752-845ea1ab-bd55-4278-8c4e-16d2b73206b9.png)
![image](https://user-images.githubusercontent.com/90677130/143172831-d7bab29a-9ff8-4bd2-a72b-b0d2c8786562.png)

[2021-11-24 03:28] Mark9804 commented on #417
![image](https://user-images.githubusercontent.com/9006264/143169571-3fe3e4a9-7726-4952-8e48-6009d6e69894.png)

[2021-11-24 03:57] yylmzxc commented on #428
可能是这里的问题，
第一个图片第一行
![22_S(11YE%3YM6R8)A6Y8C7](https://user-images.githubusercontent.com/90677130/143172274-53a3043c-d368-44b1-9b3b-2fd459f6d521.png)
120行的代码好像有问题
![R9NZU_ A8D~EZ(`F6HHC027](https://user-images.githubusercontent.com/90677130/143172314-f578af79-861e-40b5-8507-9f5a9c1325d7.png)

[2021-11-24 05:06] #428 closed

[2021-11-24 05:07] Arondight commented on #417
更一下代码就行了

[2021-11-24 06:44] Mark9804 commented on #424
前端已经改好了，现在文字个个都是钉子户
![image](https://user-images.githubusercontent.com/9006264/143187915-3d961eda-5b65-44c7-9635-e2e644f236d0.png)

[2021-11-24 06:48] Arondight commented on #424
你先提上去吧，后端我还一点都没搞

[2021-11-24 09:02] yylmzxc opened #433 "新版本bot，在运行过程中，会莫名其妙自动停止，似乎是cookie用完自动停止"
![( {`(UKLA$PV9{C~QYKO3AK](https://user-images.githubusercontent.com/90677130/143206904-d9368b6f-c81e-46c3-a894-365ef246ab07.png)

[2021-11-24 09:04] Arondight commented on #433
晚上我试一下

[2021-11-24 10:17] #433 closed

[2021-11-24 12:34] Mark9804 commented on #417
0.5感觉确实容易点出炒饭
![C9E51382-8D5F-41EF-B699-857FC89C1B95](https://user-images.githubusercontent.com/9006264/143239180-b786d058-3a4e-47a7-9141-5a56761f525c.jpeg)

[2021-11-24 12:36] Arondight commented on #417
这不是也挺好的嘛

[2021-11-24 12:45] Mark9804 commented on #417
https://github.com/Arondight/Adachi-BOT/blob/eff322f92caaec371e84716a652efdef4e485974/config_defaults/names.yml#L69

[2021-11-24 12:47] Arondight commented on #417
哈哈哈，我觉得没啥问题，你可以自己改一下 tools.js 那个常量，我们这也算是阴差阳错的钦定了旅行者的老婆了

[2021-11-24 15:48] simo8102 opened #435 "render： genshin-package 功能绘图失败：Error: Node has 0 height"
### 问题描述

render： genshin-package 功能绘图失败：Error: Node has 0 height

### 复现流程

render： genshin-package 功能绘图失败：Error: Node has 0 height

### 后台日志

[code]

### 代码状态：当前提交

render： genshin-package 功能绘图失败：Error: Node has 0 height

### 代码状态：是否修改

_No response_

### 运行环境： Node.js 版本

最新

### 运行环境： npm 版本

最新

### 运行环境：操作系统

Linux

[2021-11-25 00:44] Arondight commented on #435
代码提交是哪个？

[2021-11-25 03:01] Mark9804 commented on #417
现在有一个匹配优先度的问题，

[code]
如果是这样的话，查询“痛苦小剑”出来的是双手剑的结果，查询“痛苦大剑”的话出来的是单手剑的结果

如果把这两个别名反过来，单手剑叫痛苦大剑，双手剑叫痛苦小剑，那么返回的结果就正常了

因为“痛苦大（小）剑“与痛苦（小/大）剑的不匹配度是`0.25`，也就是四个字当中只有一个字不一样，但是我们强行赋给了正确的结果一个`0.3`的值，反而把正确的结果给挤下去了

[2021-11-25 03:05] Arondight commented on #417
那就别偷懒了，算吧，哪个小用哪个，我原本想着能省点资源

[2021-11-25 03:09] Mark9804 commented on #417
省资源我觉得可以提前跳出循环，比如说“如果编辑距离=0，那么结束循环并返回该结果”

[2021-11-25 03:17] Arondight commented on #417
之前的逻辑是匹配后设置一个固定值，我觉得需要改成一个动态的，例如 `1 - s2 / s1` ，这样 `大大利亚` 和 `大` 之间的匹配度是 `0.75` ， 而 `大大` 的匹配度就是 `0.5`

[2021-11-25 03:20] Arondight commented on #417
按照这个逻辑，也不需要该目前的代码流程，当 `痛苦小件` 匹配到 `痛苦小件` ，那么最后拿到的值是 0 ，匹配痛苦大件则是 0.25 ，最后还是选择的痛苦小件

[2021-11-25 03:22] Mark9804 commented on #417
是不需要，但如果想省资源的话，我觉得先使用键值对匹配一遍（就是最古老的完全匹配），如果没有得到结果，就进入模糊匹配流程，这样会不会好一些

[2021-11-25 03:24] Mark9804 commented on #417
我的优化建议是拿到一个为0的值就可以退出了，不用计算下面的名称，因为不可能比0更小，也不可能有两个完全一样的名称存在于 names.yml 当中，接下去的匹配是没有意义的

[2021-11-25 03:25] Arondight commented on #417
[code]

[code]

[2021-11-25 03:46] Arondight commented on #417
5077565

[2021-11-25 04:26] Xm798 opened #436 "深渊战绩和角色信息查询功能已废"
![1](https://user-images.githubusercontent.com/48074861/143379635-bcc7b59b-006a-4c76-91bd-e2c6c1e3d421.jpg)

[2021-11-25 04:28] Mark9804 commented on #436
米忽悠，你把人变成鬼

这么一来，不光是我们项目，深渊黑白榜也全爆炸了啊

[2021-11-25 04:29] Xm798 commented on #436
是的 深渊排行也无了

[2021-11-25 04:30] Mark9804 commented on #436
#399

https://github.com/Arondight/Adachi-BOT/issues/399#issuecomment-970196910

什么嘛，我猜bug原因还蛮准的……

[2021-11-25 04:31] davidelectricfree opened #437 "查询人物无法显示全部"
![2148b2852cc84fa0.jpg](https://user-images.githubusercontent.com/36690822/143379862-3f042e97-3cd0-498f-aa5b-51712e2216a2.jpg)
深渊似乎也看不全了

[2021-11-25 04:31] Mark9804 commented on #437
Duplicate of #436

[2021-11-25 04:36] #437 closed

[2021-11-25 04:45] Mark9804 commented on #436
我还没想好措辞，我现在用的是这个

https://github.com/Mark9804/Adachi-BOT/commit/e0ca541a7f723127febdcee964dfa66cf9deacf5

[2021-11-25 04:48] Arondight commented on #436
估计得改改深渊样式了，游戏公司方面不太可能改了，这数据估计耽误赚钱了

[2021-11-25 04:49] Mark9804 commented on #436
Ref #404

不知道会不会进一步限制

[2021-11-25 04:53] Mark9804 commented on #436
完全废掉的功能有：

* `我的`，那么 #424 的后端部分就可以暂时不做了

半残的功能有：

* `米游社`
* `深渊`

以上功能都只要改前端，只有我受伤的世界完成了

[2021-11-25 04:56] Arondight commented on #436
做还是要做的，就还得把提示信息改改了

[2021-11-25 04:59] Arondight commented on #436
我下午把代码打个 tag ，省的以后官方反复横跳找起来难受

[2021-11-25 05:03] Arondight commented on #436
这周先看看黑白榜怎么处理这件事，这俩如果改成自行上传 cookie ，那基本上就没办法了，后续再看看要不要跟进，如果 cookie 满天飞那我们死活不做这功能也没意义，这个加起开倒是好加

[2021-11-25 05:04] Xm798 commented on #436
大概是前几天的那个小程序吧，搞账号估价，还拿来盈利，搞的规模太大了

[2021-11-25 05:05] Xm798 commented on #436
自行上传肯定是不会传的……

[2021-11-25 05:08] Arondight commented on #436
跟这个没关系，单纯是游戏公司不太行，角色做的不平衡，所以也不敢放数据。魔兽世界一直开放英雄榜和各种榜单也没见因为这事黄了，玩魔兽大家都是月卡不服你也练一个，玩原神不行，你知道几千块钱抽的没人白嫖的厉害就会不开心。单纯是游戏质量有问题，不应该指责那个小程序，他只不过统计了官方的公开数据